@import url(order-common.css);
/*@import url(../../ext/resources/css/ext-all.css);*/

/*****************************************************************************
    draft order list
*****************************************************************************/
/* TODO: REMOVE ONCE CPH HAS FINISHDED seeing if this can be promoted to common.css or grid.css */
.listTableHeader .listTableHeaderText
{
    padding-left: 15px;
}

.xclass{
     padding-left: 30px;
     border: 1px solid #ccc;
}
.draftOrderListTable
{
    margin: 0 0 0 0;
    width: 95%;
    padding-left: 10px;
    margin-left: 10px;
}

.draftOrderListTable td
{
      padding:10px;
}
.draftOrderListTable th
{
     padding:10px;
}
.actionColumnHeader{
    width: 12%;
}

.orderNoColumnHeader{
    width: 22%;
}
.orderNameColumnHeader{
    width: 22%;
}
.createtsColumnHeader{
    width: 14%;
}
.modifytsColumnHeader{
    width: 14%;
}
.ownerNameColumnHeader{
    width: 16%;
}
.actionColumnData{
    width: 12%;
}
.orderNoColumnData{
    width: 22%;
}
.orderNameColumnData{
    width: 22%;
}

.createtsColumnData{
    width: 14%;
}
.modifytsColumnData{
    width: 14%;
}
.ownerNameColumnData{
    width: 16%;
}

.hiddenbutton{
	display:none;
}

.cartLink{
    line-height:20px;
    float:left;
}

.makeDefaultCartLayout{
    padding-left:20px;
    float:left;
}
