@import url(../common/error.css);

/*****************************************************************************
	Line level Shipping info
*****************************************************************************/
.editableShipToAddressDiv {
	display:none;
}

.listTableBody {
	padding-right:40px;
	padding-left:40px;
}

.mainContainer{
		padding-right:60px;
		padding-left:60px;
}

.padding-left10
{
	padding-left:10px;
}

#dynamic-body td{
	padding-top:5px;
}

#dynamic-body{
	padding-left:20px;
	padding-bottom:10px;
}

#dynamic-title{
	padding-left:10px;
}

#verifyaddrDiv{
	padding-left:10px;
}

.errormessage {
	font-size: 1.1em;	
}

.width-100
{
	width:100%;
}
.width-80
{
	width:80%;
}
.width-25
{
	width:25%;
}
.width-12
{
	width:12%;
}
.width-13
{
	width:13%;
}

.align-center
{
	text-align:center;
}
.align-left
{
	text-align:left;
}
.align-right
{
	text-align:right;
}

.valign-top
{
vertical-align:text-top;
}

.editableAddress td {
  padding-right:1em;
}
.editableAddress select {
  font-size: 1em;
  width: 15em;
}
.editableAddress input[type='text'] {
  font-size: 1em;
  width: 15em;
}

.addressBookPadding{
	padding-right:20px;
}
