.hidden .hide-message, .shown .show-message {
  display:none;
}
.hidden .show-message, .shown .hide-message {
  display:inherit;
}
.hidden-data {
  display:none;
}

.show-message, .hide-message {
  cursor:pointer;
  /*text-transform:capitalize;*/
}
