@import url(../common/address/readOnlyAddress.css);
@import url(order-common.css);

/*****************************************************************************
	Order Address
*****************************************************************************/
		.mainContainer{
			padding-right:60px;
			padding-left:60px;
			font-family:Arial, Helvetica, sans-serif;
		}


		.listTableBody
		{
			padding-right:20px;
			padding-left:20px;
		}

		.listButton
		{
			padding-right:0px;
			padding-left:0px;
		}

		.top-td-align
		{
			vertical-align: top;
		}

		.secondaryTableHeader
		{
			margin-left:0px;
			margin-right:0px;
			width:100%;
		}

		.taxExemptClass{
			width:30%;
			display:block;
			float:left;
		}

  .editableAddress td {
    padding-right:1em;
    white-space:nowrap;
  }

  .editableAddress select {
    font-size: 1em;
    width: 15em;
  }
  .editableAddress input[type='text'] {
    font-size: 1em;
    width: 15em;
  }


  .mainContainer {
    padding-bottom: 1em;
  }

.label {
  width: auto;
  padding-right: 1em;
  font-style:normal;
}

.rightBorder{
	border-right:1px solid #D0D0D0;
}

.no-padding{
	padding-bottom:0px;
	padding-top:0px;
	margin-top:0px;
}


.checkOutStepsHeaderLabel
{
/*color:#2970A6;*/
/*font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;*/
/*font-size:16px;*/
/*font-weight:bold;*/
/*line-height:18px;*/
/*padding:15px 5px 0 15px;*/
}


.checkOutStepsAddressPanelLabel
{
/*color:#2970A6;*/
/*font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;*/
/*font-size:14px;*/
/*font-weight:bold;*/
/*line-height:18px;*/
/*padding:15px 5px 0 0;*/
}

.fontFamily{
	/* font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; */
}

.checkOutStepsHeaderText{
/*color:#FFFFFF;*/
/*font-size:1.1em;*/
/*font-weight:bold;*/
}

.visible-data{
	display:inline;
}

.taxExemptionCertificate{
	width:45%;
	display:block;
	float:left;
}