@import url(order-common.css);

.itemContentMid
{
  text-align: left;
  vertical-align:top;
}

.itemContentMid span
{
  vertical-align:middle;
}

.itemContentMid img
{
  display:inline;
  margin:0;
  vertical-align:middle;
}

hidden .hide-message, .shown .show-message {
  display:none;
}
.hidden .show-message, .shown .hide-message {
  display:inherit;
}
.hidden-data {
  display:none;
}

.show-message, .hide-message {
  cursor:pointer;
  /*text-transform:capitalize;*/
}
.heldOrderIconLayout{
    padding-left:0px;
	align:left;
    float:right;
}

.panelHeaderInHoldPopup{
	margin:0;
	margin-top:15px;
}








