.approvalHistoryTable
{
	margin: 0 0 0 0;
    width: 97%;
    padding-left: 10px;
}
.approvalHistoryTable td
{
      padding:10px;
}
.approvalHistoryTable th
{
     padding:10px;
}
.historyUserIdColumnHeader{
    width: 25%;
    text-align: left;
}
.historyStatusDescriptionColumnHeader{
    width: 25%;
    text-align: left;
}
.historyCreatetsColumnHeader{
    width: 25%;
    text-align: center;
}
.historyReasonTextColumnHeader{
    width: 25%;
    text-align: left;
}
.historyUserIdColumnData{
    width: 25%;
    text-align: left;
}
.historyStatusDescriptionData{
    width: 25%;
    text-align: left;
}
.historyCreatetsColumnData{
    width: 25%;
    text-align: center;
}
.historyReasonTextColumnData{
    width: 25%;
    text-align: left;
}

