/* 
=================================================================================================
 ORDERS.css - ORDERS CSS file. 
                         
 Files Merged:	my-items.css
 				mil-quick-add-large.css
 				xpedx-order.css
 				order-common.css
 				order-adjustment.css
 				shopping-cart.css
 				checkout.css
 				
=================================================================================================
*/

/**********************************************************************************************************************
***********************************************************************************************************************

						BEGIN my-items.css

***********************************************************************************************************************
**********************************************************************************************************************/

.input-details-cart {
	float: left;
	width: 137px;
}
input label {
	float:left;
	display:inline;
}
#mil-inputs input {
	float:left;
	display:inline;
}
.mil-config td {
	border:none;
	padding:3px;
}
.jcarousel-skin-xpedx .jcarousel-container-horizontal {
	float: left;
	height: 151px;
	margin: 7px 20px 0px;
	width: 879px;
}
.jcarousel-skin-xpedx .jcarousel-prev-horizontal,
.jcarousel-skin-xpedx .jcarousel-next-horizontal
{
	height: 151px;
}
.jcarousel-skin-xpedx .jcarousel-clip-horizontal {
	height: 127px;
	margin-top: 35px;
	padding-left: 27px;
	width: 820px;
}
.mil-wrap-condensed-container {
	width:950px;
	float:left;
	height:auto;
}
#replacementItemBody .mil-wrap-condensed-container {
	width:100%;
	float:left;
	height:auto;
	border-bottom:1px solid #ccc;
}
#replacementItemBody .mil-wrap-condensed-container.last {
	border-bottom:0px;
}
.mil-wrap-condensed {
	height:270px;
	border:solid 1px #ccc;
	border-bottom: 0px;
	border-radius:6px 6px 0px 0px;
	-moz-border-radius:6px 6px 0px 0px;
	-webkit-border-radius:6px 6px 0px 0px;
}
#replacementItemBody .mil-wrap-condensed {
	border:solid 0px #ccc;
}
.mil-wrap-condensed-bot {
	height:270px;
	border:solid 1px #ccc;
	border-top:0px;/*border-radius:0px 0px 6px 6px;
	-moz-border-radius:0px 0px 6px 6px;
	-webkit-border-radius:0px 0px 6px 6px; */ 
}
.mil-wrap-condensed-mid {
	height:270px;
	border:solid 1px #ccc;
	border-top:0px;
}
.slidingDiv2 {
	height:auto;
}
.mil-wrap-condensed-bot-lg {
	border:solid 1px #ccc;
	border-radius:0px 0px 6px 6px;
	-moz-border-radius:0px 0px 6px 6px;
	-webkit-border-radius:0px 0px 6px 6px;
	border-top:0px;
	height: 285px;
}
a {
	outline:none;
}
.mil-desc-txt {
	height:59px;
	overflow:hidden;
	outline:none;
}
table.mil-my-price-availability tr {
/*  border-top: 1px solid #EBEBEB; padding:0px; */ 
}
table.mil-my-price-availability {
	border-left: 1px solid #ccc;
	padding:0px;
	border-right: 1px solid #ccc;
	padding:0px;
	text-align: left;
}
table.mil-my-price-availability td {
	padding:1px;
}
/* .show-hide-wrap {
	font-size:.9em;
} */
.mil-checkbox-wrap {
	width:173px;
	float:left;
	margin:8px;
}
.mil-wrap-condensed-desc {
	width:435px;
	margin-top:10px;
	margin-left:15px;
	float:left;
	height:59px;
	overflow:hidden;
}

#replacementItemBody .mil-wrap-condensed-desc {
	width:200px;
}
.mil-desc-attribute-list,
.mil-desc-attribute-list ul,
ul.prodlist {
    color: #003399;
    height: 73px;
    list-style-type: disc;
    margin-bottom: 10px;
    overflow: hidden;
    margin-top: 10px;
}
ul.prodlist a:hover { text-decoration:none; }

div#replacementItemBody ul.mil-desc-attribute-list
{
height:auto;	
}

div#replacementItemBody .mil-wrap-condensed
{
	height: auto;
}

/* .mil-desc-attribute-list, */
.mil-desc-attribute-list ul
{
    padding-left: 15px;
	width: 198px;
}

.mil-action-list-wrap {
	float:left;
	width:auto;
	padding-top:10px;
	/* margin-left:15px;
	font-size:.9em; */
}
.mil-replace-condensed a {
	margin-left: 235px;
	margin-top: -28px;
	color:#F00!important;
	font-weight:bold;
}
.mil-replaced {
	/* display: inline; */
	/* color: rgb(255, 0, 0); */
	/* float: right; */
	/* position: relative; */
	/* margin-top: 99px; */
	/* font-weight: bold; */
}
/* .item-numbers { float: left; } */
.mil-attr-wrap {
	float:left;
	margin-left:15px;
	height:55px;
}
.mil-question-mark {
	margin:5px;
}
.mil-add-to-cart-list {
	margin-left:30px;
}
.test8, .test9 span {
	cursor:pointer;
}
.x-inputError {
	background: url("../../images/theme/theme-1/input-form-bg-error.gif") repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #D65754;
	color: #D8464A;
}
input:focus, textarea:focus {
	/*background: url("../../images/theme/theme-1/input-form-bg-focus.gif") repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #8CB0E4;
	color: #3C3C3C;*/
}
/* .x-input {
	-moz-border-radius: 6px 6px 6px 6px;
	background: url("../../images/theme/theme-1/xpedx-form-bg.gif") repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #D3D3D3;
	color: #3C3C3C;
	font-size: 12px;
	margin: 0;
	padding: 2px!important;
} */
.jcarousel-container a
{
	color: #003399;
	float: left;
	font-size: 12px;
	margin-right: 21px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
	text-align: left!important;
	width:242px;
}
.jcarousel-skin-xpedx img {
	float: left !important;
	margin-left: -20px;
	margin-right: 15px;
	width: 150px;
	height: 150px;
}
.jcarousel-skin-xpedx .jcarousel-item-horizontal {
	height: 160px;
	padding-left: 20px;
	width: 255px !important;
	vertical-align: middle;
}
.jcarousel-skin-xpedx .jcarousel-clip-horizontal {
	height: 152px;
	margin-top: 0px;
	padding-left: 27px;
	width: 841px!important;
}
.ad-float {
	color: #666666;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	letter-spacing: 2.9px;
	margin-top: -25px;
	padding-right: 44px;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.form quick-add-to-cart-form {
	width:500px!important;
}
.form ul li {
	margin-right: 6px;
}
.quick-add-form th.type-col {
	width: 69px;
}
.quick-add-form th.item-col {
	width: 39px;
}
.mil-desc-wrap {
    float: left;
    /* font-size: 0.9em; */
    height: auto;
    width: 412px;
}
#replacementItemBody .mil-desc-wrap {
    width: 206px;
}
.mil-edit-field {
	float: left;
	width: 145px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border:1px solid #ccc;
	height: 24px;
	margin-bottom:6px;
	font-size: 10px;
	padding: 2px 2px 16px;
}
.mil-non-edit-field {
	float: left;
	width: 225px;
	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	border:1px solid #ccc;
	height: 24px;
	margin-bottom:6px;
	font-size: 10px;
	padding: 2px 2px 16px;
	color: #333;
}

.forselected-input { margin-top:5px; display:inline; float:left; width:15px; margin-left:6px; height:15px; margin-right:3px;} 
.forselected-input-edit { margin-top:5px; display:inline; float:left; width:15px; margin-left:6px; height:15px; margin-right:3px;} 
.copy-paste-cancel {margin-right:10px;}
.xpedx-light-box#quick-add
{
 width:390px; 
 height:270px;	
}
.replacement-img {
  display: inline;
  padding-left: 5px;
}
.mil-question-mark img { width: 150px; max-height: 150px; }
.add-non-catalog-container
{
height:305px; 
width: 550px;	
}
.add-non-catalog-qty-label
{
margin-right:-28px;
margin-left:47px;
font-weight:bold;	
}
.add-non-catalog-qty-input
{
text-align:right; 
width:8em; 
margin-right:50px;
margin-left:37px;	
}
.add-non-catalog-UOM-input
{
text-align:right;
width:14em !important;
}
.last-modified-div { text-align: center; }
#cross-sell h2 {
  background: none repeat scroll 0 0 transparent;
  color: #003399;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0;
  padding: 0 6px;
}

/**********************************************************************************************************************
***********************************************************************************************************************

						END my-items.css

***********************************************************************************************************************
**********************************************************************************************************************/

/**********************************************************************************************************************
***********************************************************************************************************************

						BEGIN mil-quick-add-large.css

***********************************************************************************************************************
**********************************************************************************************************************/

.quick-add-form-top {
	background: url("../../images/theme/theme-1/quick-add/quickadd-large-bg-PO.png") no-repeat scroll 0 0 #FFFFFF!important;
	height: 5px;
	position: absolute;
	width: 710px!important;
}

.quick-add-form {
    background: url("../../images/theme/theme-1/quick-add/quickadd-rpt-bg-PO.png") repeat-y scroll center top transparent!important;
    margin-bottom: 10px;
    width: 710px!important;
}
.quick-add-form .add-to-cart-btn {
	float: right;
	margin: 19px 1px 10px 0;
}
.quick-add-form th.type-col {
	width: 57px;
}
.del-quick-add {
	color:#F00!important;
	font-weight:bold!important;
}
.quick-add-form th.job-col {
	width: 135px;
}

.quick-add-form-bot {
    background: url("../../images/theme/theme-1/quick-add/quick-add-bg-bot-PO.gif") no-repeat scroll 0 0 #FFFFFF!important;
    height: 37px;
    position: absolute;
    width: 710px!important;
}


/**********************************************************************************************************************
***********************************************************************************************************************

						END mil-quick-add-large.css

***********************************************************************************************************************
**********************************************************************************************************************/

/**********************************************************************************************************************
***********************************************************************************************************************

						BEGIN xpedx-order.css

***********************************************************************************************************************
**********************************************************************************************************************/

/*Included files inside this css
*		/swc/xpedx/css/order/order-common.css
*		/swc/xpedx/css/order/order-adjustment.css
 *     <link media="all" type="text/css" rel="stylesheet" href="/swc/xpedx/css/order/shopping-cart.css" />
*/
/*
	order-common.css
*/

.hidden .hide-message, .shown .show-message {
  display:none;
}
.hidden .show-message, .shown .hide-message {
  display:inherit;
}
.hidden-data {
  display:none;
}

.show-message, .hide-message {
  cursor:pointer;
  /*text-transform:capitalize;*/
}

/*
order-adjustment.css
*/

  .adjustmentTableBody{
		margin-right:15px;
		margin-left:15px;
		padding:0;
		width:97%;
	}

	.adjustmentTableHeader{
		margin-top:5px;
		margin-bottom:5px;
	}

  .field-label {
    /*text-transform: capitalize;*/
  }
  .field-font{
    font-size: 1.4em;
  }

  .maxHeight{
	max-height:600px;
  }
  
  /*
   <link media="all" type="text/css" rel="stylesheet" href="/swc/xpedx/css/order/shopping-cart.css" />
  */
  .mil-edit-field
{
 width:auto;	
}

.tool-bar-bottom#tool-bar
{
width:auto;
float:left; 
padding-top:5px; 
margin-left:9px;	
}
div.ship-to-body .tool-bar-bottom#tool-bar
{
float: none; 
padding-top: 0px; 
margin-left: 0px;	
}
.tool-bar-bottom-right#tool-bar
{
width:auto;
float:right; 
padding-top:10px; 
margin-left:9px;
}
.mil-checkbox-wrap
{
 margin: 4px -6px 0 5px;
 width:auto;
}
.mil-wrap-condensed-desc 
{
 width: 340px;
 margin-top: 3px;
}

.mil-wrap
{
border-left: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
width: 100%;

}

/*  bb
div.shopping-cart .mil-wrap
{
	margin-top:0px;
} */

.mil-action-list-wrap 
{
 padding-top:0px;	
}

.mil-desc-wrap
{
width:280px;	
}

div.shopping-cart .mil-desc-wrap, div.checkout .mil-desc-wrap
{
width:340px;	
}

.center
{
 text-align:center;
 margin-right:5px;
 margin-left: 5px;
}

.text-right
{
 text-align:right;	
}

.text-left
{
 text-align:left;	
}

.mil-top-border
{
 /* width:100%; */
 height: 20px;
 padding:4px 1px 1px 1px;
 
 /* 
-moz-border-radius:5px;  
border-radius: 5px;  
-webkit-border-radius: 5px;
border-collapse: separate;
width:100%; */
}

.cart-replaced
{
margin: 0px;
color: #FF0000;
/* display: inline; */
font-weight: bold;
/* margin-top: 99px; */
/* position: relative; */
}

.cart-sum-right td
{
	padding:2px;
	text-align: right;
}

.cart-availability
{
 width:47%;
 margin-left: 24px;
 float: left;
}

.small-text
{
 font-size:9px;	
}

.checkout-body .mill-discount-text
{	
	text-align:left;    
	margin-left: 179px;
}
.shopping-cart .mill-discount-text
{	
	text-align:left;    
	margin-left: 26px;
}

.white
{
 color:white;
 font-size:11px;
}

.mil-attr-wrap
{
height:auto;	
}

.brand-info
{
	margin-left:28px;
	margin-right: 10px;
	width: 200px;
}

.bottom-mil-info
{
 width:583px;
 line-height:30px;
}

.mil-container
{
margin-bottom: 8px;
padding-top: 12px;
}

.mil-config td
{
padding:0px;	
}

td input.x-input
{
 margin-right:8px;	
}

a.grey-ui-btn 
{
 margin-right: 4px;	
}
a.grey-ui-btn#update-btn-bottom
{
 margin: 15px 4px 6px 9px;	
}

.bottom-padding td, .bottom-padding th
{
 padding-bottom:5px;	
}
.cart-sum-right th
{
 padding-right:40px;
}
.bottom-btn-bar
{
 width:100%;
 margin-top: 10px;
}

a.grey-ui-btn#right
{
 float:right;	
}
a.orange-ui-btn#right
{
 float:right;	
 margin-left:45px;
 margin-right:5px;
}
a.grey-ui-btn#left
{
 float:left;	
}
.mil-action-list-wrap, .mil-desc-wrap 
{
    font-size: 12px;
}
.center-width
{
text-align:center;
width: 116px;
}
.gray { color:#999; }
.last
{
-moz-border-radius:5px;  
border-radius: 5px;  
-webkit-border-radius: 5px;
border-collapse: separate;
}
a:hover
{
text-decoration:underline;	
}

.mil-list-item-description
{
width:400px;	
}

.mil-qty-input
{
width:201px;	
}

.mill-container-table
{
float:right;
margin-right:5px;	
}

.mill-container-extended-pricing
{
margin-right:5px;	
}
.mil-action-list-wrap-qty-label
{
width:110px;
}
.mil-action-list-wrap-num-span
{
margin-right:7px;	
}
.mil-action-list-wrap-select
{
width:141px;	
}
.bottom-mill-info-avail
{
width: 173px;
}
.last-modified-div
{
	margin-top: 10px;
	font-size: 12px; 
	color:#333;
	text-align: center;
}
.last-modified-text
{
width: 260px;
margin: 0 auto /* auto 341px */;	
}
.float-none
{
float:none;	
}
.ad-img
{
padding-right: 5px;
display:inline;
}
.mil-edit-forms-textarea
{
	width:400px;	
}
.container h2
{
    background-color: white;
    margin: -29px 0 0 0;
   width: 260px;
}
.light-tbl td 
{
    padding: 0 0 6px;
}
#main-container
{
 min-height:750px;	
}
.legal-text
{
width:800px; 
font-style:italic;
margin-top:5px;
}
.mil-col-mil-div
{
border: 1px solid #CCC;
width: auto; 
padding: 20px;
}
.approval-container
{
width:400px;
height:255px;	
}
.full-width
{
 width:100%;	
}
.button-margin
{
margin-right:2px;
}
.ship-to-container
{
width:665px;
height:480px;	
}
.ship-to-header
{
border-bottom: 1px solid rgb(204, 204, 204); 
height:29px; 
margin-bottom: 8px;
width: 740px;
}
.no-border
{
border:none;
}
.input-details#Text1
{
width: 13.1em;
float:right;	
}
.searchButton#magGlass
{
float:right;
background-color: #fff;	
margin-left:5px;
}
#address-list ul 
{
    padding: 10px;
}

#address-list li 
{
    float: left;
    margin: 0 0px 20px 0;
}

.black
{
 color:black;	
}
/* 
.ship-to-top-left
{
float:left; 
margin-right:38px;
}
.ship-to-body
{
float: left;
width: 740px;	
}
.ship-to-address-list
{
border: 1px solid #CCC; 
}
.ship-to-list
{
width:232px;
height:auto;	
}
.change-preferred-ship-to
{
margin-right:3px;
margin-top:9px;
} */
.cancel-order-box
{
width:250px;
height:150px;
}
.add-non-catalog-container
{
height:305px; 
width: 550px;	
}
.margin-left-10
{
margin-left:10px;	
}
span#catalog-descr
{
font-weight:bold; 
position:relative;
bottom:62px;
}
.margin-top-none
{
margin-top:0;
}
.add-non-catalog-qty-label
{
margin-right:-28px;
margin-left:47px;
font-weight:bold;	
}
.add-non-catalog-qty-input
{
text-align:right; 
width:8em; 
margin-right:50px;
margin-left:37px;	
}
.add-non-catalog-UOM-input
{
text-align:right;
width:14em !important;
}
.xpedx-light-box#copy-cart h2
{
    border-bottom: 1px solid #CCCCCC;
    color: #2970A6;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 0px;
    padding: 0 0 0px;
}
.xpedx-light-box#copy-cart
{
width:285px!important;
height:220px!important;
}
.xpedx-light-box#new-cart
{
width:285px!important;
height:240px!important;
}
.copy-cart-field-length
{
width: 280px;	
}
.xpedx-light-box#new-cart h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #2970A6;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 0px;
    padding: 0 0 0px;
}

.xpedx-light-box#mini-cart
{
width:410px; 
height:auto;	
}
.xpedx-light-box#mini-cart h2
{
border-bottom:none;	
color: #2970A6;
font-size: 16px;
font-weight: normal;
margin: 0 0 10px;
padding:0px;
}
.mini-cart-rows td
{
padding:3px;	
padding-bottom: 5px;
padding-top: 5px;
}
.mini-cart-rows tr
{
 border-bottom: 1px solid gray;
}
.mini-cart-header td
{
 padding-top:3px;

}
.mini-cart-header
{
 background-color:#003399;
 color:white;
width:100%; 
height:20px; 
padding:3px;	
}
.mini-cart-qty
{
 width:	65px;
}
.mini-cart-img
{
 margin-right: 5px;	
}
.mini-cart-row-input-length
{
width: 75px;	
}
.no-border
{
border:0px !important;
}
.mini-cart-header-sect1
{
width:25px;
height:20px;	
}
.mini-cart-header-sect2
{
float:left;
width:69px;	
}
.mini-cart-header-sect3
{
width:207px;	
}
.mini-cart-header-sect4
{
float:right;
width:100px;	
}
.xpedx-light-box#quick-add
{
 width:390px; 
 height:270px;	
}

div.xpedx-light-box#delete-cart
{
width:255px;
height:125px;
}
.add-non-catalog-labels
{
 margin-top:15px;
 margin-bottom:20px;
}
.table-header-bar-right 
{
background-image: url("../../images/theme/theme-1/mil/items-list-bg-RIGHT.gif");
background-repeat: no-repeat;
background-position: right top;
}
.grey-mil
{
color: gray;
font-size: 11px;
padding: 0;
}
.cm-sort
{
 cursor:pointer;
 color:white;
}
.cm-sort img
{
 display: inline;
 width:9px;
 height:9px;
}
.header#top-bar { background-color:#003399; }
.bottom-btn-bar a#cont-shopping{ float:right; }
.bottom-btn-bar a#checkout-btn { float:right; }
.ship-to-top a#apply-btn
{
    bottom: 114px;
    position: relative;
    left: 150px;
}
.item-short-desc a:hover { text-decoration:none; }
.mil-container a:hover { text-decoration:none; }
.mil-cart-bg { margin-top: 10px; }
#breadcumbs-list-name{ margin-bottom:0px; }
#tool-bar-bottom { margin: 10px 0 10px; }
#top-bar td { padding: 10px 15px 10px 15px; }
.ad-margin { margin-top: 9px; }
.pricing-border { padding-right: 5px; }
.print-ico-xpedx { margin-top:-30px; } 
span.print-ico-xpedx.item-detail { margin-top: 0px; margin-right: 15px; }
.availability-section { margin-left:375px; } 
.mil-config.availability-table { width:auto; text-align: left; margin-bottom:10px; float: left;}
.cont-shopping-margin#cont-shopping { margin-right: 55px; }
.replacement-img { display: inline; padding-left:5px; }
.copy-paste-cancel {margin-right:10px;}
.mil-cart-bg h2
{
	background: transparent;
	color: #036;
	font-weight: bold;
	display: inline-block;
	padding: 0px 6px;
	margin-top: 0px;
	font-size: 12px;
}
#tq-quick-add-overlay
{
	-moz-border-radius:5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fafafa;
	position: absolute;
	/* width: 806px; */
	right: 146px;
	z-index: 100;
	border: 2px solid #cccccc;
}
#tq-quick-add-overlay h2
{
	float: left;
	margin:5px 0px 0px 10px;
}
#tq-quick-add-overlay .close-btn
{
	float: right;
	margin: 0px 21px 5px 0px;
}
/*#tq-quick-add-overlay .quick-add-to-cart-form { padding-left:21px; }
 #tq-quick-add-overlay .quick-add-selector { padding-right:21px; } */
#tq-quick-add-overlay .quick-add-to-cart-form table
{
	border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}
#tq-quick-add-overlay .quick-add-to-cart-form th
{
	background: #003399;
	color:white;
	border-right: 1px solid #ccc;
	height: 29px;
	padding: 0px 3px 0px 10px;
	vertical-align: middle;
}
#tq-quick-add-overlay .quick-add-to-cart-form td
{
	padding: 5px 0px 5px 5px;
}
#tq-quick-add-overlay .quick-add-to-cart-form tr.error-row
{
	border-top: 1px solid #CCC;
}
#tq-quick-add-overlay .quick-add-to-cart-form td.wing-col-item
{
	border-right: none !important;
}
#tq-quick-add-overlay .quick-add-to-cart-form th.del-col
{
	width: 3px;
	border-right: none !important;
}
/* #tq-quick-add-overlay .quick-add-to-cart-form th.last-col-header
{
	border-right: none;
} */
#tq-quick-add-overlay input.noborder:focus { border: none; }
#tq-quick-add-overlay img#quick-add-close { display: inline; margin-left:5px; font-weight:bold; }
#tq-quick-add-overlay .page-title {     
	float: left;
    margin: 5px;
    width: 74px;
}
#tq-quick-add-overlay a.grey-ui-btn {
	    padding-right: 18px;
	}
#tq-quick-add-overlay a.grey-ui-btn span {
    padding: 5px 0 5px 18px;
}
#tq-quick-add-overlay a.grey-ui-btn span p{ display: inline; color: orange; margin-right:5px; font-size: 14px;font-weight: bold; }

.cart-availability-section { margin-left: 380px; }
.cart-item-special-instructions { width: 15em; }
.order-confirm { margin-top:-1px; }
.add-non-catalog-labels input { text-align:left;}
.mini-cart-extended-price { padding-left: 3px;}
.availability-indent { padding-left: 18px; }
.special-instructions-padding { margin-bottom:-23px; float: left; margin-left: 52px;}
.special-instructions-div input.special-instructions-input {  width: 255px; font-size: 12px; margin-left:165px !important;}
.special-instructions-td { margin-left: 20px; }
.special-instructions-div { width:700px; margin-left: 15px; margin-bottom: 10px;}
.special-instructions-div#checkout-special-instructions { margin-left: 305px;}
.special-instructions-div#checkout-special-instructions .checkout-special-instructions{ margin-left: 145px; height:25px; width: 196px;}
.checkout-body#checkout-container { width:951px; margin: 0 20px 0 20px; padding:0px;}
div.mil-wrap-condensed-desc#description-text { width:418px; }
.checkout-special-instructions { width:196px;margin-left: 116px; }
.quick-add-form-bot { text-align: right; }
.quick-add-form-bot a { padding-right: 10px; }
.cust-defined-fields { margin-left: 226px; width: 700px; }
.cust-defined-fields td.float-right
{
	width: 365px;
	text-align: right;
	float: none;
}

td.cart-list-name-td { width:386px !important; }
td.cart-list-name-td p.grey-mil { padding-left: 24px !important; }
form.quick-add-to-cart-form th.first-col-header { width:60px; }
form.quick-add-to-cart-form th.item-col { width:60px; }
form.quick-add-to-cart-form th.qty-col { width:74px; }
form.quick-add-to-cart-form th.uom-col { width:68px; }
form.quick-add-to-cart-form th.job-col { width:123px; }
form.quick-add-to-cart-form th.po-col { width:123px; }
td.col-item select { width:9em !important; }
ul.float-right.tool-bar-bottom.sc-btn-list.margin-top-15 { margin-top:15px; }
ul.float-right.tool-bar-bottom.sc-btn-list { margin-top:26px; }
ul.float-right.tool-bar-bottom.sc-btn-list li {float:right; margin-left:5px; }
.mil-edit-forms textarea { width:430px; height:43px; }
table.mil-top-border { width:100%; }
table.mil-top-border td { padding: 10px 2px 10px 0; }
table.mil-top-border .table-header-bar-right { width:143px; }
div.bottom-btn-bar.scp a.grey-ui-btn { margin-right:5px;}
.mil-wrap .bottom-mil-info .brand-info { margin-left:27px; }
.cart-availability-section div.red p.red { margin-left:26px; }
div.shopping-cart .cart-availability-section div.red p.red { margin-top: 10px;}
div.last-modified-div.sc { margin-top:30px; }
div.bottom-btn-bar.scp .sc-update-cart.grey-ui-btn { float:right; }
.change-shipto-error { float:right;margin-top:1px;width:100%; }


  /*
   <link media="all" type="text/css" rel="stylesheet" href="/swc/xpedx/css/order/shopping-cart.css" />
  */
  

/**********************************************************************************************************************
***********************************************************************************************************************

						END xpedx-order.css

***********************************************************************************************************************
**********************************************************************************************************************/

/**********************************************************************************************************************
***********************************************************************************************************************

						BEGIN checkout.css

***********************************************************************************************************************
**********************************************************************************************************************/

.checkout-body
{
	padding: 0px 10px;
}
.checkout-body textarea
{
    font-size: 12px;
    height: 43px;
    margin: 0 6px 6px 0;
    width: 225px;
}
.checkout-body fieldset
{
	-moz-border-radius:5px;  
  border-radius: 5px;  
  -webkit-border-radius: 5px;
	padding: 7px 8px 8px;
	border: 1px solid #ccc;
	margin-bottom: 12px;
}
.checkout-body th { font-weight: bold; }
.checkout-body legend {
	padding: 0 0.5em;
}
.address-block
{
	text-align: left;
	vertical-align: top;
	width: 260px;
	float: left;
}
.address-block a { font-size: 0.9em; }
.shipping-methods
{
	float: left;
}
.pick-up-location
{
	float: right;
    margin: 3px 40px 0 5px;
	width: 225px;
}
.checkout-left, .checkout-right
{
	margin-top: 20px;
}
div.checkout-left{
	
	}

.block-label { display: block; }
 .email-confirm-right
{
    margin-right: 2px;
    width: 60%;
	float: right;
}
.checkout-right {}
.checkout-left textarea
{
	margin-bottom: 10px;
}
.email-confirm-right-legend
{
	background: #fff;
	padding: 0px 2px;
	width: 29em;
}
.cart-summary
{
	padding: 10px;
}
.cart-sum-left
{
	width: 49%;
	float: left;
}
.cart-sum-right
{    
	background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    float: right;
    padding: 5px;
    	-moz-border-radius:5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.cart-sum-right table
{
	float: right;
    width: 333px;
}
.cart-summary th
{
	font-weight: normal;
}
.cart-summary td
{
	text-align: right;
	min-width: 10em;
}
.order-total
{
	background: #d6d6d6;
	border: 1px solid #999;
}
.order-total th, .order-total td
{
	font-weight: bold;
	padding: 4px
}
.mil-wrap
{
	width: auto;
}

.mil-wrap.last
{
	-moz-border-radius:0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}
#coupon-field
{
	width: 18em;
     margin-left: -11px;
}
#coupon-field input
{
	width: 11em;
	margin-top: 3px;
}
.brand-info {
    margin-left: 16px;
}
.placed-by { margin-top: 10px; text-align:center;}
.cust-field-summary { float: right; margin-top:27px; }
.cust-field-summary td { padding: 3px 3px; }
.cust-field-summary td.left { min-width: 8em; }
.mil-action-list-wrap td { vertical-align: top; padding-right: 10px; }
.float-right { float: right; }
.float-left { float: left; }
.print-ico-xpedx { margin-right:15px; }

/* start shopping cart specific changes */
div.shopping-cart .mil-checkbox-wrap { margin: 4px 0 0 5px; }
div.shopping-cart .mil-wrap-condensed-desc { margin-left:9px; }
div.shopping-cart .mil-attr-wrap { margin-left: 9px; }
div.shopping-cart div.mil-edit-forms input { width:200px; }
div.shopping-cart div.mil-edit-forms textarea { width:400px; }

/* end shopping cart specific changes */

/* start checkout specific changes */
div#po_combo label { float: left; margin-right: 5px;  margin-top: 3px;}
span#attn-text { float: left; margin-right: 5px;  margin-top: 3px; }
div#wwgrp_ShipToAttn { float: left; }
table#checkout-po-tbl td { padding:0px 10px 10px 0px; }
table#checkout-po-tbl td.first-cell-first-row { width:250px; padding-bottom: 0; }
table#checkout-po-tbl td.first-cell-second-row { padding-top: 0; }
table#checkout-po-tbl td.second-cell-first-row { padding-bottom: 0; }
table#checkout-po-tbl td.first-cell-second-row span { margin-bottom: 3px; }
div.checkout div.short-description { margin-left: 15px; }
table#checkout-table-header { width:100%; }
div.checkout #checkout-table-header td { width: auto; padding-top: 10px 0px;}
div.checkout .mil-wrap .bottom-mil-info .brand-info { margin-left: 15px; line-height:30px; float: left; margin-top: -25px;}
div.checkout .cart-summary { padding-right:0px; }
div.checkout #po_combo_ctr { margin-left: 38px; }
div.checkout #po_combo_ctr div {margin:0px; border-color:#cccccc;}
div#checkout-container fieldset table { line-height: 16px; }

/* end checkout specific changes */


.font
{
font-size:12px;		
}
.email-textarea{width:370px;}
p.email-list-prop { padding-left:5px; width: 224px; word-wrap:break-word; float:left;margin-top: -2px;}
input#input-prop { float: left; margin: 0px; }
textarea#newEmailAddr { height:30px;  width: 360px; }
.-padding-right-0 { padding-right: 0px; }
table#textboxes td.second-cell { padding-left: 15px; }
fieldset#bottom-fieldset { width: 933px; }

/**********************************************************************************************************************
***********************************************************************************************************************

						END checkout.css

***********************************************************************************************************************
**********************************************************************************************************************/

.cart-sum-right
{
 margin-right:0px;
}
table#QuickAddTable tr td {
	border-top: 1px solid #ccc;	
}
table#QuickAddTable tr.error-row td{
	border-top: 0px solid #ccc;	
}
#QuickAddTable .notice {
	margin-left: 20px;
	}
#main {
	overflow: visibile;	
}
form#productDetailForm {
	float: left;
	}
div.orders-page a.grey-ui-btn {
    margin-right: 4px;
}
div.orders-page table#top-section {
	margin-top: 0px;	
	padding-top: 0px;	
}
.mil-col-mil-div {
    padding: 10px;
}
div.demo {
	padding:4px;
}
div.wc-table-header { color: white;  width:978px;  margin: 0 0 -17px 11px; }
div.wc-btn-bar {margin-left: 20px; width: 96.7%;}
div.wc-btn-bar a.grey-ui-btn { float:right; }
div.wc-btn-bar a.float-left { float:left; }
div.wc-table-header td { border: 0px; padding: 10px 5px; background-color:#039;}
#QuickAddTable td input { width: 92%; }

.salesProNotice {
	border: 1px solid #EE4000;
	color: #EE4000;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 15px;
	display: inline-block;
	margin-left: 90px;
    	margin-right: 10px;
    	text-align: left;
    	width:60%;
    	font-weight:bold;
}

div.orders-page table#print-Preview-section {
	margin-top: 4px;		
}
table#print-Preview-section td.printField{width:15%;}
table#print-Preview-section td.printValue{width:20%;}