@import url(../common/address/readOnlyAddress.css);

/*****************************************************************************
*****************************************************************************/
	shopping cart detail

input.radio {
    height: 13px;
    width: 13px;
}

td.spacer {
    height: 2px;
    padding: 0px;
    margin: 0px;
}

.disabled
{
  color: gray;
}
.disabled:hover {
  color: gray;
}

/*
.GrayBox .storePickup	{
	background:#F2F2F2 none repeat scroll 0 0;
	border-left:1px solid #F2F2F2;
	border-right:1px solid #F2F2F2;
	padding:10px 10px 10px 0px;
}
*/

.t5-cartRightPanels {

	float:right;
	width:260px;
	padding:0;
	margin:0;

}
.complimentoryProdName
{
color:#2970A6;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
line-height:18px;
}

#fixPosPanel
{
	position:fixed;
}


.draftOrderMajorLine td
{
  /*background: #F2F2F2;*/
  background-color: white;
  border-top: thin black solid;
}
.cartLineTotal
{

color:#2970A6;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
line-height:18px;

}
.cartSubTotal
{

color:#2970A6;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
line-height:18px;

}
.cartGrandTotal
{

color:#2970A6;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
line-height:18px;

}

.cartGrandTotalLabel
{

font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
line-height:18px;

}

.padding-left0
{
    padding-left:0px;
}

.cartName
{
    float:left;
}

.cartAction
{
    float:right;
}

.clear
{
    clear:both;
}

