/*****************************************************************************
 * CSS used to be applied to the html response from PA-DSS server for Credit 
 * Card number text-box.
 * This css is to be only used in the Single-payment page in Order-payment.
 * The URL of this CSS file will go as a parameter to the PA-DSS server.
 * 
 *****************************************************************************/

@import url(../../theme/theme-1.css);
@import url(../../global/global-1.css);
@import url(../../../../ext/resources/css/ext-all.css);

body{
	margin:0 0 0 0;
}

form input{
	font-size:0.8em;
	width:15.0em;
}
