ul li a.active span.left,
ul li a:hover span.left {
  background-image: none;
  /* URI relative to HTML page, not CSS file!! */
  
}


ul li a.active span.left,
ul li a:hover span.left {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/left.png',sizingMethod='scale');
}

ul li a.active span.right,
ul li a:hover span.right {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/right.png',sizingMethod='scale');
}

span.left {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/left_d.png',sizingMethod='scale');
}

span.right {
  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/right_d.png',sizingMethod='scale');
}