/*
=================================================================================================
MIL.css - Area CSS file for MIL

Files Merged: 	xpedx-ext.css
				xpedx-mil.css
				mil-quick-add-large.css
				my-items.css
				my-price-and-availability.css
				
=================================================================================================
*/
/**********************************************************************************************************************
***********************************************************************************************************************

						BEGIN my-items.css

***********************************************************************************************************************
**********************************************************************************************************************/

.input-details-cart {
    float: left;
    width: 137px;
}
input label {
    display: inline;
    float: left;
}
#mil-inputs input {
    display: inline;
    float: left;
}
.mil-config td {
    border: medium none;
    padding: 3px;
}
.print-ico-xpedx {
    margin-right: 10px;
}

.mil-wrap-condensed-container {
	float: none;
	height: auto;
	padding: 0px 10px 10px 0px;
	border-top: none;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	clear: both;
}

.mil-wrap-condensed {
    border-radius: 6px 6px 0 0;
    border: 1px solid #cccccc;
    height: 270px;
}

.mil-wrap-condensed-bot {
    border-top: 0px;
    height: 270px;
}
.mil-wrap-condensed-mid {
	border-top: 0px;
	height: auto;
	clear: both;
}
.slidingDiv2 {
    height: auto;
}
.mil-wrap-condensed-bot-lg {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-radius: 0 0 6px 6px;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    height: 285px;
}
a {
    outline: medium none;
}
.mil-desc-txt {
    height: 59px;
    outline: medium none;
    overflow: hidden;
}
#mil-edit label, .mil-wrap-condensed-desc label{
	width: 75px;
	display: inline-block;
	vertical-align: top;
}
.mil-wrap-condensed-desc {
    float: left;
    height: 59px;
    margin-left: 15px;
    margin-top: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}
/*  for replacement modal text EB 783 */
#replacementItemBody .mil-wrap-condensed-desc {
	width: 370px;
	margin-left: 160px;
}
#replacementItemBody .mil-attr-wrap {
	margin-left: 160px;
}
.mil-desc-attribute-list, .mil-desc-attribute-list ul, ul.prodlist {
    color: #003399;
    height: auto;
    list-style-type: disc;
    margin-bottom: 5px;
    margin-top: 10px;
    overflow: visible;
}
.fields-padding {
	padding-top: 0px;
	padding-bottom: 4px;
}
div#replacementItemBody ul.mil-desc-attribute-list {
    height: auto;
}
div#replacementItemBody .mil-wrap-condensed {
    height: auto;
}
.mil-desc-attribute-list ul {
    padding-left: 15px;
    width: 198px;
}
.mil-action-list-wrap {
	float: right;
/* 	padding-top: 10px; */
	width: 250px;
	position: relative;
}
.mil-wrap-condensed-container .item-thumbnail {
	width: 150px;
	float: left;
	display: block;
	clear: none;	
	box-shadow: 1px 1px 4px #999999;
}
.hide-item-thumbnails .mil-wrap-condensed-container .item-thumbnail {
	width: 0px;
	float: none;
	display: none;
	clear: none;
	box-shadow : none;	
}
.mil-replace-condensed a {
    color: #FF0000 !important;
    font-weight: bold;
    margin-left: 235px;
    margin-top: -28px;
}
.mil-replaced {
}
.mil-attr-wrap {
    float: left;
    height: 55px;
    margin-left: 15px;
}
.mil-question-mark {
    margin: 5px;
}
.mil-add-to-cart-list {
    margin-left: 30px;
}
.test8, .test9 span {
    cursor: pointer;
}
.x-inputError {
    background: url("../../images/theme/theme-1/input-form-bg-error.gif") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D65754;
    color: #D8464A;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.form ul li {
    margin-right: 5px;
}

.mil-desc-wrap {
	float: left;
	height: auto;
	clear: none;
	min-height: 150px;
}
#replacementItemBody .mil-desc-wrap {
    width: 350px;
}
.mil-edit-field {
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    float: left;
    font-size: 10px;
    height: 24px;
    margin-bottom: 6px;
    padding: 2px 2px 16px;
    width: 145px;
}
 .mil-action-list-wrap table.mil-config {
	margin-left: 15px;
    text-align: right;
    float: right;
}

/* input.x-input {
	height: 11px;	
}
} */
select, table.mil-config select.xpedx_select_sm {
	
	display: block;
    float: right;
    height: 24px;
    margin-left: 3px;
}

select.xpedx_select_sm {
	/* float: none;
	margin: auto; */
}

.mil-input-wrap {
    clear: none;
    float: right;
    margin-right: 5px;
    text-align: right;
    width: 400px;
}
.mil-wrap-condensed-container.mil-only.last div.mil-wrap-condensed-bot {
	border-radius: 0 0 5px 5px;
}
	
.mil-non-edit-field {
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    color: #333333;
    float: left;
    font-size: 10px;
    height: 24px;
    margin-bottom: 6px;
    padding: 2px 2px 16px;
    width: 245px;
}
.forselected-input {
    display: inline;
    float: left;
    height: 15px;
    margin-left: 6px;
    margin-right: 3px;
    margin-top: 5px;
    width: 15px;
}
.forselected-input-edit {
    display: inline;
    float: left;
    height: 15px;
    margin-left: 6px;
    margin-right: 3px;
    margin-top: 5px;
    width: 15px;
}

.replacement-img {
    display: inline;
    padding-left: 5px;
}
.mil-question-mark img {
    max-height: 150px;
    width: 150px;
}

.last-modified-div {
    text-align: center;
}
#cross-sell h2 {
    background: none repeat scroll 0 0 transparent;
    color: #003399;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    padding: 0 6px;
}

/**********************************************************************************************************************
***********************************************************************************************************************

						END my-items.css

***********************************************************************************************************************
**********************************************************************************************************************/


/**********************************************************************************************************************
***********************************************************************************************************************

						BEGIN my-price-and-availability.css

***********************************************************************************************************************
**********************************************************************************************************************/


.show-hide-wrap div:first-child {
	border-bottom: 0px;
}
.mil-only .mil-wrap-condensed {
	border: 0px;
	clear: both;
}
#mil-list td, #mil-carts-list td {
	padding: 8px;
}
/**********************************************************************************************************************
***********************************************************************************************************************

						END my-price-and-availability.css

***********************************************************************************************************************
**********************************************************************************************************************/


/**********************************************************************************************************************
***********************************************************************************************************************

						BEGIN xpedx-mil.css

***********************************************************************************************************************
**********************************************************************************************************************/

#mid-col-mil {
	float:none;
	height:auto;
	margin-left:20px;
	margin-top:0;
	width:950px;
}
/* Begin  MIL TABLE */


.odd {
	background-color:#fafafa;
}
.createdby-lastmod {width:125px; text-align:center;color:#000; } 

.actions {width:190px; text-align:center; color:#003399;} 

.availability {width:190px; text-align:center;color:#003399; } 


#none tr {
	background:none;
}
.grey-mil {
	color:#999;
	font-size:11px;
	padding:0px;
}
.odd p {
	padding:0px;
	
}
/* END   MIL TABLE */
/* Dan */ 
.mil-edit {
	padding-left:0;
	padding-top:0;
	width:950px;
}
#tool-bar {

	height: 25px;
}

#tool-bar li {
	display: block;
	float: left;
	list-style-type: none;
	margin-left: 10px;
	line-height: 22px;
}

#tool-bar li:first-child {
	margin-left: 0;
}

.tool-bar-top {
	margin-bottom: 10px;
}

.tool-bar-bottom {
	margin-top: 10px;
}
.for-selected {
	font-size: 11px;
	margin: 0 0 2px 0;
	color:#999;
	line-height: 12px;	
}

.select-all {
	font-size: 11px;
	text-decoration:underline;
	color:#FFF;		
}
div#main.userProfile { min-height: 850px; } 

/**********************************************************************************************************************
***********************************************************************************************************************

						END xpedx-mil.css

***********************************************************************************************************************
**********************************************************************************************************************/


#prodlist li, .prodlist li {
	width: ;
	word-wrap: break-word;
	cursor: pointer;
}
.dlgForm {
	display: none;
	border-color: black;
	border-width: 10px;
	padding: 20px;
	background-color: white;
	position: absolute;
	left: 25%;
	top: 40%;
	z-index: 9999;
	width: auto;
	height: 50%;
	overflow: auto;
}

.dlgFormShareList {
	display: none;
	border-color: black;
	border-width: 10px;
	padding: 20px;
	background-color: white;
	position: absolute;
	left: 25%;
	top: 40%;
	z-index: 9999;
	width: 400px;
	height: 200px;
	overflow: auto;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#wwgrp_listOfCarts.wwgrp,#wwctrl_listOfCarts.wwctrl {
	display: inline;
}


/* .x-input {
	padding-left: 0px;
	padding-right: 0px;	
} */
/* Begin - Changes made by Mitesh Parikh for JIRA#3186 */
.jcarousel-container a
{
	color: #003399;
	float: left;
	font-size: 12px;
	margin-right: 21px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
	text-align: left!important;
	width:242px;
}
.jcarousel-skin-xpedx img {
	float: left !important;
	margin-left: -20px;
	margin-right: 15px;
	width: 150px;
	height: 150px;
}
.jcarousel-skin-xpedx .jcarousel-item-horizontal {
	height: 160px;
	padding-left: 20px;
	width: 255px !important;
	vertical-align: middle;
}
.jcarousel-skin-xpedx .jcarousel-clip-horizontal {
	height: 152px;
	margin-top: 0px;
	padding-left: 27px;
	width: 841px!important;
}
.jcarousel-skin-xpedx .jcarousel-container-horizontal {
	float: left;
	height: 151px;
	margin: 7px 20px 0px;
	width: 879px;
}
/* End - Changes made by Mitesh Parikh for JIRA#3186 */

.mil-count-selected {
	float: left;
	clear: none;
	margin: 5px 0px
}


/*
=================================================================================================
BEGIN 2014 styles
=================================================================================================
*/
.clearview {
	clear: both;
	height: 5px;
}

.graybar {
	height: 25px;
	background-color: #e9e9e9;
	padding: 3px;
}
.graybar div {
	padding: 4px 0px 0px 3px;
	float: left;
	clear: none;
}
.tool-bar-group {
	width: 100%;
}
.tool-bar-group li {
	display: inline;
	float: right;
}

.clearfix {
	clear: both;
	height: 1px;
	width: 100%;
}
.clearboth {
	clear: both;
}
.action-list-buttons {
	margin-top: 6px;
	float: right;
	width: 280px;
	display: inline-block;
	text-alighn: left;	
}

.mil-pa-wrap {
	display: block;
	width: 927px;
	clear: both;
	padding: 10px;
	overflow: hidden;
}
.mil-pa-wrap h4 {
	display: block;
	background:#e1e1e1;
	padding: 2px;
	margin-bottom: 10px;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;	
	font-size:11px;
	font-style:italic;
}
.mil-pa-wrap .two-col {
	overflow: hidden;
}
.mil-pa-wrap .three-col {
	overflow: hidden;
}


.one-col .mil-pa-avail {
	width: 930px;
	float: left;
	clear: none;
}
.two-col .mil-pa-avail {
	width: 600px;
	float: left;
	clear: none;
	border-right: #e1e1e1 1px solid;
	padding-bottom: 500px;
	margin-bottom: -500px;
}
.three-col .mil-pa-avail {
	width: 318px;
	float: left;
	clear: none;
	border-right: #e1e1e1 1px solid;
	margin-right: 2px;
	padding-bottom: 500px;
	margin-bottom: -500px;
}

.two-col .mil-pa-bracket {
	width: 312px;
	margin-right: 10px;
	float: right;
	clear: none;
    padding-bottom: 500px;
	margin-bottom: -500px;
}
.three-col .mil-pa-bracket {
	width: 308px;
	float: left;
	clear: none;
	border-right: #e1e1e1 1px solid;
 	padding-bottom: 500px;
	margin-bottom: -500px;
}

.two-col .mil-pa-price {
	width: 310px;
	margin-right: 10px;
	float: left;
	margin-left: 2px;
	clear: none;
  	padding-bottom: 500px;
	margin-bottom: -500px;
}
.three-col .mil-pa-price {
	width: 284px;
	margin-right: 10px;
	float: left;
	clear: none;
	margin-left: 2px;
    padding-bottom: 500px;
 	margin-bottom: -500px;
}

.mil-lists-legend {
	width: 500px;
	padding:25px 0px 0px 0px;
	height: 20px;
	float: left;
	clear: none;
}
.mil-lists-personal {
	float: left;
	clear: none;
	width: 62px;
	background: url(../../images/mil/20x20_personal_list.png) no-repeat left top;
	padding-left: 21px;
	padding-top: 3px;
	height: 22px;
}
.mil-lists-shared {
	float: left;
	clear: none;
	width: 55px;
	background: url(../../images/mil/20x20_shared_list.png) no-repeat top left;
	padding-left: 21px;
	padding-top: 3px;
	height: 22px;	
}	
.mil-manage-lists {
	float: left;
	padding: 3px 0px 0px 12px;
}
.mil-lists-toolbar {
	width: 200px;
	float: right;
	clear: none;
	text-align: right;
	padding: 0px 5px 0px 0px;
}

.mil-list-icon {
	float: left;
	clear: none;
	width: 26px;
	margin-top: -5px;
}
#mil-list td, #mil-carts-list td .left-cell p  {

    word-wrap: break-word;
}
.cart-btn-wrap {
	width: 250px;
	height: 26px;
	padding: 3px 0px 3px 0px;
	clear: both;
}
.mil-avail-link {
	width: 145px;
	float: left;
	clear: none;
	padding-top: 7px;
}
.mil-addcart-btn {
	width: 100px;
	float: left;
	clear: none;
}
.list-of-lists-header {
	background: #003399;
	color: #ffffff;
	font-size:11px;
	text-align: center;
}
.fixwidth200 {
	width: 200px;
}

.imagewrap {
	float: left;
	clear: none;
	margin: -15px 0px 0px 20px;
}
.mil-checkbox-wrap {
	display: block;
	float: left;
	clear: none;
	height: 100px;
	width: 16px;
	padding: 8px 8px 0 4px;
}	

.mil-wrap-condensed-desc {
	width: 350px;
	margin-left: 160px;
	height: auto;
}
.hide-item-thumbnails .mil-wrap-condensed-desc {
	width: 500px;
	margin-left: 0px;
	height: auto;
}

.mil-edit-forms {
	width: 360px;
	float: left;
	clear: none;
	margin-top: -20px;
}
.mil-edit-forms span {
	width: 100px;
	}
.mil-edit-forms-desc {
	width: 660px;
	float: left;
	clear: both;
	margin-top: 8px;
}

.green-e-logo {
	display: inline;
}

.mid-altwrap {
	height: auto;
	margin-top:0;
	width:950px;
	clear: both;
}

.mil-list-empty-message {
	font-weight: bold;
	font-size: 16px;
}

.mil-list-row-icon {
	margin-top: -2px !important;
}

#mil-list .right-cell select {
	width: 125px;
}

.mil-nonstock-adjust {
	margin-left: -148px;
	width: 400px;
	padding: 0px;
}

.mil-replacement-adjust {
	display:inline;
	margin: 5px 0;
}

.mil-edit-replacement-adjust {
	margin-right: -20px;
}

#fancybox-content{
	height: 325px;
}

.graybar a {
	font-weight: bold;
}
.graybar a:hover {
	text-decoration: underline;
}
