/*****************************************************************************
 * Theme 1 styling - default theme

 * Theme is a basic mechanism capturing the UI look-and-feel in Webchannel
 * applications that can be changed as a whole. It represents a collection of
 * design artifacts such as style sheets, images, scripts...etc. When custom
 * themes are desired, corresponding artifacts should be provided and the
 * applications will use those to overwrite the default. Currently theme can
 * be changed based on store front.

 * This file, theme-1.css, is the style sheet intended to capture style rules
 * that could be changed when theme is changed. Ideally all the prominent
 * displaying effects should first be captured by style rules - no hard coded
 * styles are allowed, then these style rules should be placed inside this file.
 * Currently the focus is put on capturing: font family, font color, background
 * color and images.

 *****************************************************************************/


/*****************************************************************************
 * General styles
 *****************************************************************************/
body {
	font-size:1.3em;
	color: #000000;
	background-color:#fff;
	background:url("http://samdavis.s43.eatj.com/imagebuilderwebapp/HTML/images/global/bg_rpt.gif") repeat-x scroll center top; 
}

#main {
	background-color: transparent;
}

.container {
	background:#ffffff;
}

.listTableHeaderBG { color:#003399; } 


img {
	border:none;
}

/*a:focus {*/
	/*outline:none;*/
/*}*/

a {
	text-decoration:none;
	color: #003399;
	/*color: #094B53;*/
}

a:hover {
	text-decoration: underline;
}

html {
	font-size: 62.5%;
}

/*---------------------------------------------------------------
 * Font families are designated through the following rules
 * TODO: determine if definition for ul, li, th, td..etc. are needed
 *---------------------------------------------------------------*/

body {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

a{
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

form {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

/*
form input{
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

form select{
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
*/

/* This class should be assigned to major/minor title text in the pages. It's
	different than the <title> tag because we do not use the same style for all
	<title>
 */
.titleText{
	font-family: Verdana, Geneva, sans-serif;
  /*text-transform:capitalize;*/
}

/*---------------------------------------------------------------
 * Use the following to control the size of the text
 *---------------------------------------------------------------*/
h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

h5 {
	font-size: 0.9em;
}

/* no reference */
h6 {
	font-size: 0.8em;
	color:#999999;
}

/* no referece */
.largeBody {
	font-size: 1.4em;
}

/* no reference */
.smallBody {
	font-size: 1.0em;
}

/* referenced by: 3 */
.tinyBody {
	font-size: 0.9em;
}

/* no reference */
.footnote {
	font-size: .7em;
}

/* Used for page sub heading, such as "Default Sold To Address" in organization's
   general info page */
.subHeaderText
{
	padding:15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
}

/* Used for major page heading, such as "Advanced Search" in advanced search page,
   "Mike Scott Default Cart" in draft order detail, and "View DataSolve user list"
   in user list */
.headerText
{
	padding:15px;
	font-size: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	/*text-transform:capitalize;*/
}

/* Used in places for quick search header text "Search by:" */
.themeSubHeader
{
	color: #004d52;
	padding:15px 0 0 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
}

/* no reference
#headerRight a {
font: 10pt Arial, Helvetica, sans-serif;
}
 */

/* no reference
.smLink {
font: 9pt Arial, Helvetica, sans-serif;
}
*/

/*---------------------------------------------------------------
 * Font color related rules
 *---------------------------------------------------------------*/
/* white text */
.backgroundText {
	color:#ffffff;
}

/* white text */
.backgroundText a {
	color:#ffffff;
	text-decoration: underline;
}

/* add padding to the top */
.padTop {
	padding-top:15px;
}

/*****************************************************************************
 * common page header, including search box
 *****************************************************************************/
.commonHeader
{
	height: 153px;
	background: url(http://samdavis.s43.eatj.com/imagebuilderwebapp/HTML/images/global/header_bg.gif) top left;

}

.commonHeader-subnav li {
	list-style: none;
	background: url(../images/theme/theme-1/common/header/sep.gif) no-repeat 0 2px;
	color: #094b53;
	font-size: 1.1em;
	line-height: 1.1em;
}

.commonHeader-subnav li a {
/*color:#637d96;*/
	font-family: Calibri, Arial, Helvetica, sans-serif;
	/*font-size:12px;*/
	font-size:0.9em;
	font-weight:normal;
	text-decoration:none;
	/*text-transform:capitalize;*/
}

.commonHeader-subnav li a:hover	{
	text-decoration:underline;
}

/*
.searchbox-form-search .searchbox-links a:hover {
	text-decoration: none;
	color: #336633;
}
*/

/* control the look and feel of mini-cart */
.shopping-cart-1 {
	color: #000000;
	/*color:#FFEE00;*/
	font-size: 1.0em;
	line-height: 1.5em;
}

.shopping-cart-1 {
	background: url(../images/theme/theme-1/Cart.png) no-repeat left center;
	padding-left:24px;
        width:auto;
        text-align:right;
        float:right;
}


.shopping-cart-1 a {
	color:#fff;
	font-family:Calibri, Arial, Helvetica, sans-serif;
	/*font-size:12px;*/
	font-size:0.9em;
	font-weight:bold;
	text-decoration:none;
}

.shopping-cart-1 a:hover {
	text-decoration:underline;
}

/*
.searchbox-1 .searchbox-form {
	background: url(../../images/theme/theme-1/common/header/form-bg.gif) no-repeat;
}

.searchbox-1 .searchbox-form .searchbox-form-bg {
	background: url(../../images/theme/theme-1/common/header/form-bg-right.gif) no-repeat 100% 0;
}
*/

.searchbox-1 {
  background-color: #cccccc;
}
.searchbox-1 .searchbox-form label {
	color:#666666;
	font-size:1.1em;
	font-weight:normal;
	line-height:1.2em;
	/*line-height:17px;*/
	/*text-transform:capitalize;*/
}

/*
.searchbox-1 .searchbox-form #search {
	font: 11px/14px Arial, sans-serif;
}
*/

.searchbox-1 .searchbox-form select {
	/*font: 11px/14px Arial, sans-serif;*/
	font-size:0.9em;
	line-height:1.0em;
}

/*
.searchbox-1 .links a {
	font-size: 1.1em;
	line-height: 1.26em;
}
*/

/*****************************************************************************
 * Navigate bar: navigation in catalog, checkout flow and user account
 *****************************************************************************/

.heading .pointer {
	background: url(../../images/theme/theme-1/component/button.gif) no-repeat;
}

#navigate11, .commonNavigate
{
	
}

#navigate {
}

#navigate li {
	list-style: none;
	color: #000000;
	font-size: 1.1em;
	line-height: 16px;
	background: url(../../images/theme/theme-1/navigate/sep-2.gif) no-repeat;
}

#navigate li.first {
	background: none;
}

#navigate li a {
	text-decoration: none;
}

#navigate li a span {
	background: url(../../images/theme/theme-1/navigate/arrow.gif) no-repeat 100% 14px;
	cursor: pointer;
}

#navigate li .drop-down li a {
	color: #00393d;
	background: url(../../images/theme/theme-1/navigate/arrow-2.gif) no-repeat 145px 13px;
}

#navigate li .drop-down li ul.inner {
	background-color: #003c42;
}

#navigate li .drop-down li a.button {
	background: #003c42 url(../../images/theme/theme-1/navigate/arrow-2.gif) no-repeat 145px -60px;
	color: #ffffff;
}

#navigate li .drop-down li.close a.button {
	background: #fff url(../../images/theme/theme-1/navigate/arrow-2.gif) no-repeat 145px 13px;
	color: #00393d;
}

#navigate li a.active {
	background:#003c42;
	color: #ffffff;
	font-weight: bold;
	text-align:center;
}

#navigate li a.active span {
	background: none;
}

#navigate li .drop-down {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #ffffff;
}

#navigate li .drop-down li {
	background: none;
	font-size: 1.0em;
	line-height: 15px;
	border-bottom: 1px solid #ccc;
}

#navigate li .drop-down li a:hover {
	text-decoration: underline;
}

#navigate li .drop-down li ul li {
	border: none;
}

#navigate li .drop-down li ul li a {
	background: none;
	color: #ffffff;
}

/* single step checkout navigation */
#navigateSingleCheckout {
	background: #ddd;
}

#navigateSingleCheckout li {
	list-style: none;
	color: #000000;
	font-size: 1.1em;
	line-height: 16px;
	background: url(../../images/theme/theme-1/navigate/sep-2.gif) no-repeat;
}

#navigateSingleCheckout li a {
	text-decoration: none;
	background: #ddd;
}

#navigateSingleCheckout li a.active {
	background:#003c42;
	color: #ffffff;
	font-weight: bold;
}

#navigateSingleCheckout li a span.arrow {
	background: url(../../images/theme/theme-1/navigate/checkout-nav-bg.gif) no-repeat 100% 0%;
}

#navigateSingleCheckout li a:hover span.arrow {
	background: url(../../images/theme/theme-1/navigate/checkout-nav-bg2.gif) no-repeat 100% 0%;
}

#navigateSingleCheckout li span.blankArrow {
	background: url(../../images/theme/theme-1/navigate/checkout-nav-bg.gif) no-repeat 100% 0%;
}

/* single step checkout navigation */

#navigateSteps {
	background:gray;
}

#navigateSteps li {
	list-style: none;
	color: #004d52;
	font-size: 1.1em;
	line-height: 16px;
	background: url(../../images/theme/theme-1/navigate/sep-2.gif) no-repeat;
}

#navigateSteps li a {
	text-decoration: none;
	background: url(../../images/theme/theme-1/navigate/main-nav-active-bg.gif) repeat-x;
}

#navigateSteps li a.active {
	color: #ffffff;
	font-weight: bold;
}

#navigateSteps li a span.arrow {
	background: url(../../images/theme/theme-1/navigate/checkout-nav-bg.gif) no-repeat 100% 0%;
}

#navigateSteps li a:hover span.arrow {
	background: url(../../images/theme/theme-1/navigate/checkout-nav-bg2.gif) no-repeat 100% 0%;
}

#navigateSteps li span.blankArrow {
	background: url(../../images/theme/theme-1/navigate/checkout-nav-bg.gif) no-repeat 100% 0%;
}

/* navigate with "more" box */
.navMoreInfo{
	background:#FFFFFF;
	border:1px solid #dddddd;
	border-top:0px;
}

/*****************************************************************************
Component: vertical-filter
vertical-filter allows user to narrow product choice by type
*****************************************************************************/

.secondary-nav {
	background:#ffffff;
}

.side-panel {
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

.vertical-filter
{
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

.vertical-filter h2 {
	/*background: #023237;*/
	background-color: #004d52;
	border-bottom: 1px solid #b3b3b3;
}

.vertical-filter h2 span {
	/*background: #023237;*/
	background-color: #004d52;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.2em;
}

.vertical-filter ul {
	font-size: 1.1em;
	line-height: 1.1em;
}

.vertical-filter ul li ul {
	font-size: 0.9em;
	line-height: 0.9em;
}

.vertical-filter ul li {
	border-bottom: 1px solid #b3b3b3;
	list-style: none;
}

.vertical-filter ul li a {
	text-decoration: none;
}

.vertical-filter ul li ul li {
	border: none;
}

.vertical-filter ul li ul li a {
	background: none;
}

.vertical-filter ul li div.link {
	float:left;
	width:75%;
}

.vertical-filter ul li a.button {
	width:15%;
 	float:right;
 	background: url(../../images/theme/theme-1/vertical-filter/arrow-3.gif) no-repeat 15px -71px;
}

.vertical-filter ul li.close a.button {
	width:15%;
 	float:right;
	background: url(../../images/theme/theme-1/vertical-filter/arrow-3.gif) no-repeat 15px 12px;
}


/*****************************************************************************
Component: listTable
List table is the general UI component using table element to display a list
of entities with various type of detail inside table cells.
*****************************************************************************/

.listTableContainer {
  border:none;
}

.listTableHeader, .listTableHeader2
{
	/*background-color: #003399;*/

}

.listTableSectionHeader
{
	background-color: #003399;
}

/* TODO: to remove pending on testing; this kind of setting has scaling effect
   on any size setting inside
*/
/*
.listTableHeader td
{
	font-size: 0.9em;
}
*/

/* Define the font style for the header text in the primary table header */
.listTableHeader .listTableHeaderText
{
	color:#ffffff;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
  /*text-transform:capitalize;*/
}

.listTableSectionHeader .listTableSectionHeaderText
{
	color:#ffffff;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
  /*text-transform:capitalize;*/
}

.listTableHeader2 td
{
	font-size: 1.0em;
}

/* Define the font style for the header text in the secondary table header */
.listTableHeader2 .listTableHeaderText
{
	color:#ffffff;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1.0em;
}

/* No reference */
/*
.listTableItem2 td
{
	font-size: 1.0em;
}
*/

.borderRight
{
	border:1px solid #cccccc;
	border-style:outset;
	border-collapse:separate;
}

/*.mainTableRow1*/
/*{*/
	/*background: #f2f2f2;*/
/*}*/

/*
.mainTableRow1 td
{
	background: #E9F5F3;
}
*/

.altBorder
{
	border-right: 1px solid #ffffff;
}

.submitBtnBg1, .submitBtnBg2, .submitBtnBg3, .submitBtnBg4, .submitBtnCheckout {
  font-family: Calibri,arial,verdana,sans-serif;
}

.submitBtnBg1
{
  background-color: #bbbbbb;
  color: #5a70a6;
  font-weight: bold;
  cursor: pointer;
}

.submitBtnBg2
{
  background-color: #005ca3;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.submitBtnBg2:hover {
  background-color:#0d73c2;
}

.submitBtnBg3
{
  background: #bbbbbb;
  color: #5a70a6;
  font-weight: bold;
  cursor: pointer;
  cursor: pointer;
}

.submitBtnBg4
{
  background: #bbbbbb;
  color: #004d52;
  font-weight: bold;
  cursor: pointer;
}

.submitBtnCheckout
{
	background-color: #00cc00;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}

.submitBtnCheckout:hover {
	/*background-color:#0d73c2;*/
}


.bottomBorder
{
	border-bottom:1px solid #ccc;
}
.bottomBorderDash
{
	height: 1px;
	border-bottom:1px dashed #ccc;
}
.showDetails
{
}
.hideDetails
{
}


/*****************************************************************************
 Styles for breadcrumb component
*****************************************************************************/
.breadcrumb
{
	background-color: #f2f2f2;
	padding: 10px 5px 10px 5px;
	border:0px solid #dddddd;

	color:#444444;
	/*font-size:18px;*/
	font-size:1.4em;
	/*font-size-adjust:none;*/
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:19px;
	text-decoration:none;
}

.breadcrumb a
{
	color:#003399;
	/*font-size-adjust:none;*/
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:19px;
	text-decoration:none;
}

/* no reference */
/*
.commandBtn
{
	margin: 2px;
	display: block;
	text-align: center;
	font-size: 9pt;
 	font-weight: bold;
	text-decoration: none;

 	height:30px;
	line-height:30px;
	width:90px;
	background: url(../../images/page/catalog/command.gif) no-repeat;
	color:#ffffff;
	background-color: #004d52;
}
*/
/*****************************************************************************
footer styles
*****************************************************************************/

.commonFooter {

    padding: .5em;

}

.commonFooter td {
    border-left:thin solid #c2c2c2;
}

.commonFooter td.first {
	border-left: none;
}

.commonFooter a {
	/*color: #094b53;*/
	/*text-transform:capitalize;*/
}

.commonFooter a:hover {
	/*text-decoration: none;*/
	/*color: #336633;*/
}


/*****************************************************************************
template-1 styles
*****************************************************************************/

.mainContent
{
	background:#ffffff;
}


/*.mainContentHeadContainer a {*/
    /*text-transform:capitalize;*/
/*}*/

/*****************************************************************************
product list page: catalog.html
*****************************************************************************/
/* style for item (product) list */
.itemList
{
	border:1px solid #C2C2C2;
}

.itemOperation
{
	border-bottom:1px solid #C2C2C2;
	font-weight:bold;
}

.itemDivider
{
	border-bottom:1px solid #C2C2C2;
}

/*
.itemContentMid span
{
	//font-family: Verdana;
	font-size: 8pt;
	color: #565B5D;
}
*/
.productName a
{
	color:#003399;
	font-size:1.4em;
	font-weight:bold;
	line-height:18px;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
}
.productName a:hover
{
	text-decoration: underline;
}

.supersession a
{
	color: #ff0000;
}

.supersedeBox
{
	margin-left:4px;
	padding:10px;
	background-color: #effbfb
}

.searchButton	{
	background:transparent url('../../images/theme/theme-1/common/iconSearch.gif') no-repeat scroll 0 0;
}


/*
.itemContentMid img
{
	border:none;
}

.itemContentRight h3
{
	color: #565B5D;
}
*/
.headerProductName
{
 	font-weight: bold;
	font-family: Verdana;
	font-size: 1.6em;
	color: #565b5d;
}

/* styles for bubble of extended description */
.bubble
{
	border:1px solid #cccccc;
	padding:10px;
	position:absolute;
	width:150px;
	min-height: 100px;
	background-color: #effbfb
}

/*****************************************************************************
product list page: catalogExt.jsp
*****************************************************************************/
#item-box-inner {
	height:auto;
    font-size:0.9em;
	background-color:#fff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

#item-ct {
    padding:5px;
	background-color: #f8f8f8;
}

#item-ct dd {
	border: thin dotted #ccc;
	background-color: #fff;
}

#item-ct dd .buttons {
	border-bottom: thin dotted #aaf;
}

#item-ct dd.over {
	/*background: #ebf7d2 url(../../images/theme/theme-1/common/item-over.gif) no-repeat -5px -5px;*/
  background-color: #ebf7d2;
}

.condensed-view #item-ct dd.over {
	/*background: #ebf7d2 url(../../images/theme/theme-1/common/item-over.gif) no-repeat -5px -5px;*/
	background-color: #ebf7d2;
}

.mini-view #item-ct dd.over {
	/*background: #ebf7d2 url(../../images/theme/theme-1/common/item-over.gif) no-repeat -5px -5px;*/
	background-color: #ebf7d2;
}

#items-combox {
	/* border: thin dotted #bbb; */ 
}

#item-combox h4 {
    color:#555;
    font-size:1.1em;
    font-weight:bold;
	border-bottom: thin dotted #aaf;
}

#comnum {
	color:orange;
	font-weight:normal;
	font-size: 1.1em;
}

#items-cb {
	color:#fff;
	background: transparent url(http://samdavis.s43.eatj.com/imagebuilderwebapp/images/theme/theme-1/common/details-btn.gif) no-repeat 0 0;
}

.com-over {
	background-color:#ebf7d2;
}

.pprice {
	font-weight:bold;
}

.availablelink
{
	font-weight: bold;
}

/* Variant product - item detail variant tab */
#variantContent .contentLeft
{
	border: 1px solid #ccc;
}

#variantContent .contentRight
{
	border: 1px solid #ccc;
}

.variantOption
{
	border: 1px solid #ccc;
}

.compatibleVariantOption
{
	background-color: transparent;
    opacity:1.0;
	filter:alpha(opacity=100);
}

.nonCompatibleVariantOption
{
	background-color: #ccc;
    opacity:.6;
    filter:alpha(opacity=60);
}

.selectedVariantOption
{
	border: 1px solid blue;
}

.nonSelectedVariantOption
{
	border: 1px solid #ccc;
}

.currentSelectedVariantOption
{
	border: 1px solid red;
}

.attrImg
{
	border: 1px solid #ccc;
}

/*****************************************************************************
 Tab 1 Styling
*****************************************************************************/

.tab-1 li {
	border-color: #d0d0d0;
	background-color: #ffffff;
}

.tab-1 a {
	text-decoration:none;
	/*text-transform:capitalize;*/
}

.tab-1 a:hover {
	/*background: #dfffdd;*/
}

.tab-1 .selected {
	border-color: #d0d0d0;
	background: #ffffff;
}

.tab-1 .selected a {
	color: #000000;
	font-weight: bold;
}

.tabContent {
	border: 1px solid #f2f2f2;
	background-color: #ffffff;
}

.tab-1 a
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
}

.tab-container li {
	font-weight: bold;
}

.tab-container .tab-content a:hover{
	background-color:transparent;
}

.tab-container .tab-content a{
	background-color:transparent;
}


/******************************************************************************
 * Simple Table Component Styling                                             *
 ******************************************************************************/
.simpleTable {
}
.simpleTable th {
	text-align: center;
}
.simpleTable td {
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #ffffff;
}
.simpleTableHeader {
	font-weight: bold;
}
.simpleTableOddRow {
	background-color: #f2f2f2;
}
.simpleTableEvenRow {
	background-color: #ffffff;
}

.simpleTableMessageRow {
	text-align: center;
}

/******************************************************************************
 * Table related styles
 ******************************************************************************/
.textCell
{
	text-align: left;
}
.priceCell
{
	text-align: right;
}
.dateCell
{
	text-align: left;
}
.statusCell
{
	text-align: left;
}
.qtyCell
{
	text-align: left;
}
.nameCell
{
	text-align: left;
}
.idCell
{
	text-align: left;
}
.actionCell
{
    text-align: center;
}

/******************************************************************************
 * Catalog theme style
 ******************************************************************************/
/*
#productList
{
	background-color:#ffffff;
}
*/

/*** promotion widget ***/
.itemOfferPrice	{
	border-bottom: 1px solid #D6D6D6;
}

/*** Narrow By ***/
#searchHeader
{
	background-color: #005CA3;
	overflow:hidden;

	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
	height:22px;
	line-height:18px;
	padding:6px 11px 7px;
	vertical-align:top;
}

.searchbox-form1
{
	color:#666666;
	font-size:13px;
	font-weight:bold;
	line-height:1.1em;
}

.searchbox-form1 a
{
	color:#003399;
	/*float:left;*/
	font-family:Calibri,Arial,Helvetica,sans-serif;
	font-size:14px;
	margin-top:3px;
	text-decoration:none;
}
.browseBox ul li
{
	border-bottom:1px solid #E6E6E6;
	margin:0;
	padding:5px 0;
	position:relative;
	vertical-align:top;
}	
.browseBox ul li a
{
	font-size:13px;
	font-weight:bold;
	padding:3px 0 3px 12px;
	text-decoration:none;
	color: #003399;
}

.browseBox ul li span
{
  	font-size:13px;
	font-weight:bold;
	overflow:hidden;
	padding:3px 0 3px 12px;
	color: #003399;
}

.browseBox ul li a.button
{
	background: transparent url(../../images/theme/theme-1/common/collapse_arrow.gif) no-repeat scroll right 0.1em;
}

.browseBox ul li.close a.button
{
	background: transparent url(../../images/theme/theme-1/common/expand_arrow.gif) no-repeat scroll right 0.1em;
}

/* ItemDetails.jsp */
.itemTitle
{
	border-bottom: 1px solid #D6D6D6;
}

.itemTitle .itemPrice{
	font-family:Verdana,sans-serif;
}

.itemVariationInstr
{
	margin-left: auto;
	margin-right: auto;
	color: #FF0000;
	text-align: left;
}

.itemUOM
{
	font-weight:bold;
}

#itemImagesViwer a	{
	font-weight:bold;
}
.itemQuantity
{
     margin-right:10px;
     font-weight:bold;
}
.itemAddCartButton
{
   padding-top: 10px;
}
#kitContent th, bundleContent th
{
	font-weight: bold;
}

/* ItemPromotions.jsp */
.itemOfferPrice	{
	font-weight:bold;
}


/******************************************************************************
 * Main content
 ******************************************************************************/
.t1-main-content,
  .t2-mainContent,
  /*.t3-main-content,*/
  .t4-container,
  /*.t5-main-content,*/
  .t6-main-content,
  #t2-mainContent,
  #t6-mainContent {
    /*background-color: #e1f8fb;*/
    /*background-image:url('../../../images/shape.svg_png?width=1000&fillColor=%23e1f8fb&borderColor=%23000000&curve=0&fillGradientType=r2l&height=1&borderWidth=0');*/
    /*background-repeat: repeat-y;*/
    /*background-position:right;*/
}

/*
  .t3-main-content{
    background-image:url('../../../images/shape.svg_png?width=600&fillColor=%23e1f8fb&borderColor=%23000000&curve=0&fillGradientType=r2l&height=1&borderWidth=0');
    background-repeat: repeat-y;
    background-position:right;
}
*/
/******************************************************************************
 * Simple Data Component Styling                                             *
 ******************************************************************************/
.simpleDataContent {
	margin: 5px;
	background-color: transparent;
}

.simpleDataContent p {
	background-color:transparent;
}

/******************************************************************************
 * Error Message                                                              *
 ******************************************************************************/
/* This is the style used for form validation. It is reserved for error messages
   created by struts form validation and used in generated code. DO NOT manually
   use this style in your page */
.errorMessage {
    color: #ff0000;
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
}

/* This is the style for page level error message displayed at the top of the page */
.pageErrorMessage {
    color: #ff0000;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
}



/******************************************************************************
 * Dialog Box                                                                 *
 ******************************************************************************/
.dialog-container {
	background-color:#ffffff;
	border-color: #808080;
}

.dialog-container .dialog-control {
	background-image:url(../../images/theme/theme-1/common/removeButton.gif);
}

.modal-dialog-shadow {
	background-color:white;
}

.dialog-body {
    background-color:white;
}

/******************************************************************************
 * Sliders
 ******************************************************************************/
.sliderOut, .sliderIn {
	width:10px;
	height:10px;
	border-width:0;
	cursor: pointer;
}
.sliderIn {
	background-image:url('../../images/theme/theme-1/grid/bgRowArrowDn.png');
}
.sliderOut {
	background-image:url('../../images/theme/theme-1/grid/bgRowArrowUp.png');
}

/******************************************************************************
 * Styles used to overwrite Ext window
 * Usage: set property "cls" with value "swc-ext" when create the Ext.Window
 ******************************************************************************/
.swc-ext .x-window-tl .x-window-header{
	color:#15428b;
	font-weight: bold;
	font-size: 1.0em;
	font-family: Calibri,arial,verdana,sans-serif;
	padding:5px 0 4px 0;
}
.swc-ext .x-window-tc{
  /*background:transparent url(../../../ext/resources/images/default/window/top-bottom.png) repeat-x 0 0;*/
  overflow:hidden;
  /*zoom:1;*/
}
.swc-ext .x-window-tl {
  /*background: transparent url( ../../../ext/resources/images/default/window/left-corners.png ) no-repeat 0 0;*/
  padding-left: 6px;
  /*zoom: 1;*/
  z-index: 1;
  position: relative;
}
.swc-ext .x-window-tr {
  /*background: transparent url( ../../../ext/resources/images/default/window/right-corners.png ) no-repeat right 0;*/
  padding-right: 6px;
}
.swc-ext .x-window-bc {
  /*background: transparent url( ../../../ext/resources/images/default/window/top-bottom.png ) repeat-x 0 bottom;*/
  /*zoom: 1;*/
}
.swc-ext .x-window-bc .x-window-footer {
  padding-bottom: 6px;
  /*zoom: 1;*/
  font-size: 0;
  line-height: 0;
}
.swc-ext .x-window-bl {
  /*background: transparent url( ../../../ext/resources/images/default/window/left-corners.png ) no-repeat 0 bottom;*/
  padding-left: 6px;
  /*zoom: 1;*/
}
.swc-ext .x-window-br {
  /*background: transparent url( ../../../ext/resources/images/default/window/right-corners.png ) no-repeat right bottom;*/
  padding-right: 6px;
  /*zoom: 1;*/
}
.swc-ext .x-window-mc {
  border: 1px solid #99bbe8;
  padding: 0;
  margin: 0;
  font: normal 1.1em Calibri, arial, helvetica, sans-serif;
  background: #dfe8f6;
}

.swc-ext .x-window-ml {
  /*background: transparent url( ../../../ext/resources/images/default/window/left-right.png ) repeat-y 0 0;*/
  padding-left: 6px;
  /*zoom: 1;*/
}
.swc-ext .x-window-mr {
  /*background: transparent url( ../../../ext/resources/images/default/window/left-right.png ) repeat-y right 0;*/
  padding-right: 6px;
  /*zoom: 1;*/
}
/******  Following Ext style is for product comparison page **********************/
.swc-ext td{
-x-system-font:none;
font-family:Calibri,arial,verdana,sans-serif;
font-size:1.0em;
text-align: left;
}

/* gray theme, no special graphics */
/*.swc-ext .x-window-tc,*/
/*.swc-ext .x-window-tl,*/
/*.swc-ext .x-window-tr,*/
/*.swc-ext .x-window-br,*/
/*.swc-ext .x-window-bc,*/
/*.swc-ext .x-window-bl,*/
/*.swc-ext .x-window-mr,*/
/*.swc-ext .x-window-ml {*/
  /*background:#888888;*/
/*}*/
/*.swc-ext .x-window-mc {*/
  /*background:#cccccc;*/
  /*font: normal 1.1em Calibri, arial, helvetica, sans-serif;*/
/*}*/
/*.swc-ext .x-window-tl .x-window-header{*/
  /*color:#444444;*/
  /*font-weight: bold;*/
  /*font-size: 1.0em;*/
  /*font-family: Calibri,arial,verdana,sans-serif;*/
  /*padding:5px 0 4px 0;*/
/*}*/
/*.swc-ext .x-window-tc,*/
/*.swc-ext .x-window-tl,*/
/*.swc-ext .x-window-tr { */
/*border-top: thin solid #444444;*/
/*}*/
/*
.swc-ext .x-window-bc,
.swc-ext .x-window-bl,
.swc-ext .x-window-br {
border-bottom: thin solid #444444;
}
.swc-ext .x-window-tl,
.swc-ext .x-window-bl,
.swc-ext .x-window-ml {
border-left: thin solid #444444;
}
.swc-ext .x-window-tr,
.swc-ext .x-window-br,
.swc-ext .x-window-mr {
border-left: thin solid #444444;
}
*/

/*.swc-ext .x-window-tl .x-window-header{*/
  /*color:#15428b;*/
  /*font-weight: bold;*/
  /*font-size: 1.0em;*/
  /*font-family: Calibri,arial,verdana,sans-serif;*/
  /*padding:5px 0 4px 0;*/
/*}*/
/*.swc-ext .x-window-tc{*/
  /*background:transparent url(../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacity=.8&curve=0&borderWidth=2&clipX1=6&clipX2=7&clipY1=0&clipY2=6) repeat-x 0 0;*/
  /*overflow:hidden;*/
  /*/*zoom:1;*/
/*}*/

/*.swc-ext .x-window-tl {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=40&fillColor=%23ffffff&borderColor=%23888888&fillOpacity=.8&curve=5&borderWidth=2&clipX1=0&clipX2=6&clipY1=0&clipY2=30 ) no-repeat 0 0;*/
  /*padding-left: 6px;*/
  /*/*zoom: 1;*/
  /*z-index: 1;*/
  /*position: relative;*/
/*}*/

/*.swc-ext .x-window-tr {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=40&fillColor=%23ffffff&borderColor=%23888888&fillOpacity=.8&curve=5&borderWidth=2&clipX1=6&clipX2=12&clipY1=0&clipY2=30 ) no-repeat right 0;*/
  /*padding-right: 6px;*/
/*}*/

/*.swc-ext .x-window-bc {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacity=.8&curve=0&borderWidth=2&clipX1=6&clipX2=7&clipY1=6&clipY2=12 ) repeat-x 0 bottom;*/
  /*/*zoom: 1;*/
/*}*/

/*.swc-ext .x-window-bc .x-window-footer {*/
  /*padding-bottom: 6px;*/
  /*/*zoom: 1;*/
  /*font-size: 0;*/
  /*line-height: 0;*/
/*}*/

/*.swc-ext .x-window-bl {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacity=.8&curve=5&borderWidth=2&clipX1=0&clipX2=6&clipY1=6&clipY2=12 ) no-repeat 0 bottom;*/
  /*padding-left: 6px;*/
  /*/*zoom: 1;*/
/*}*/

/*.swc-ext .x-window-br {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacity=.8&curve=5&borderWidth=2&clipX1=6&clipX2=12&clipY1=6&clipY2=12 ) no-repeat right bottom;*/
  /*padding-right: 6px;*/
  /*/*zoom: 1;*/
/*}*/

/*.swc-ext .x-window-mc {*/
  /*border: 1px solid #99bbe8;*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacity=.8&curve=5&borderWidth=2&clipX1=6&clipX2=7&clipY1=6&clipY2=7 ) repeat 0 0;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*font: normal 1.1em Calibri, arial, helvetica, sans-serif;*/
/*}*/

/*.swc-ext .x-window-ml {*/
  /*background: transparent url('../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacity=.8&curve=0&borderWidth=2&clipX1=0&clipX2=6&clipY1=5&clipY2=6') repeat-y 0 0;*/
  /*padding-left: 6px;*/
  /*/*zoom: 1;*/
/*}*/

/*.swc-ext .x-window-mr {*/
  /*background: transparent url('../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacity=.8&curve=0&borderWidth=2&clipX1=6&clipY1=6&clipY2=7' ) repeat-y right 0;*/
  /*padding-right: 6px;*/
  /*/*zoom: 1;*/
/*}*/

/******************************************************************************
 * Styles used for Item Image viewer lighbox
 ******************************************************************************/
#ux-lightbox-loading{
	position: absolute;
	top: 40%;left: 0%;
	height: 25%;width: 100%;
	text-align: center;line-height: 0;
	background: url(../../images/theme/theme-1/lightbox/lb-load.gif) no-repeat center 15%;
}
#ux-lightbox-navPrev:hover, #ux-lightbox-navPrev:visited:hover {
	background: url(../../images/theme/theme-1/lightbox/lb-prev.png) left 33% no-repeat;
}
#ux-lightbox-navNext:hover, #ux-lightbox-navNext:visited:hover {
	background: url(../../images/theme/theme-1/lightbox/lb-next.png) right 33% no-repeat;
}
#ux-lightbox-data #ux-lightbox-navClose:hover{
	background-image: url(../../images/theme/theme-1/lightbox/lb-close-over.gif);
}

#ux-lightbox-data #ux-lightbox-navClose{
	background: url(../../images/theme/theme-1/lightbox/lb-close.gif) no-repeat;
	width: 66px;
	height: 22px;
	float: right;
	padding-bottom: 0.7em;
	outline: none;
}
#ux-lightbox-dataContainer{
	/*font: 10px Verdana, Helvetica, sans-serif;
	background-color: #f3efec;*/
	font: normal 1.1em Calibri, arial, helvetica, sans-serif;
  	background: #dfe8f6;
	overflow: auto;
	line-height: 1.4em;
}
#ux-lightbox-data{
	padding:0 10px;
	color: #000000;
}

progressBar {
  background-color:#d8d8d8;
}
.progressBar li {
  background-color:transparent;
  background-image:url(../../images/theme/theme-1/navigate/sep-2.gif);
  background-repeat:no-repeat;
  color:#004d52;
  font-size:1.1em;
  /*line-height:16px;*/
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}
.progressBar li a{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  /*text-transform:capitalize;*/
}
.progressBar li a {
  text-decoration:none;
}
.progressBar li.active, .progressBar li.active a {
  /*color:#FFFFFF;*/
  /*font-weight:bold;*/
}

.draftOrderMinorLine , .draftOrderComplementaryLine {
  color: #808080;
}
.componentLineBackground
{

  background:#ffffff;
}


/*
 * sort field up and down arrows
 */
.sort-field-up {
  /*background-color:lightgray;*/
  background-image:url( /swc/xpedx/images/icons/12x12_white_up.png);
  background-repeat:no-repeat;
  background-position:right;
  padding-right:20px;
}
.sort-field-down {
  /*background-color:lightgray;*/
  background-image:url(/swc/xpedx/images/icons/12x12_white_down.png);
  background-repeat:no-repeat;
  background-position:right;
  padding-right:20px;
}

/* Icons */
.notesIcon {
  display:block;
  padding-left:30px;
  height: 17px;
  width: auto;
  background: url(../../images/theme/theme-1/Note.png) no-repeat left center;
  text-decoration:none;
  cursor:pointer;
}

.printIcon {
  display:block;
  padding-left:30px;
  height: 20px;
  width: auto;
  background: url(../../images/theme/theme-1/Print.png) no-repeat left center;
  text-decoration:none;
  cursor:pointer;
}

.emailIcon {
  display:block;
  padding-left:30px;
  height: 20px;
  width: auto;
  background: url(../../images/theme/theme-1/Email.png) no-repeat left center;
  text-decoration:none;
  cursor:pointer;
}

.csrIcon {
  height: 20px;
  width: 20px;
  background: url(../../images/theme/theme-1/CSRuser.png) no-repeat center center;
  text-decoration:none;
  cursor:pointer;
}

.makeDefaultCart {
  height: 20px;
  width: 20px;
  background: url(../../images/theme/theme-1/DefaultCart_1.png) no-repeat center center;
}

.checkAvailabilityIcon {
  height: 30px;
  width: 30px;
  background: url(../../images/theme/theme-1/Available.png) no-repeat center center;
}

.shippableIcon {
  height: 30px;
  width: 30px;
  background: url(../../images/theme/theme-1/Shippable.png) no-repeat center center;
  text-decoration:none;
  cursor:pointer;
}

inStoreIcon {
  height: 30px;
  width: 30px;
  background: url(../../images/theme/theme-1/ItemPickUp.png) no-repeat center center;
}

.closeIcon {
  height: 16px;
  width: 16px;
  background: url(../../images/theme/theme-1/RemoveButton.png) no-repeat center center;
}

.deleteIcon {
  display:block;
  height: 16px;
  width: 16px;
  background: url(../../images/theme/theme-1/Delete.png) no-repeat center center;
  text-decoration:none;
  cursor:pointer;
}
.errorSignIcon {
  display:block;
  height:16px;
  width: 16px;
  background: url(../../images/theme/theme-1/ErrorSign.png) no-repeat center center;
  text-decoration:none;
  cursor:pointer;
}

.downArrowIcon {
  display:block;
  height: 10px;
  width: 10px;
  background: url(../../images/theme/theme-1/arrowDn.png) no-repeat center center;
}

.upArrowIcon {
  display:block;
  height: 10px;
  width: 10px;
  background: url(../../images/theme/theme-1/arrowUp.png) no-repeat center center;
}

.heldOrderIcon {
  height: 20px;
  width: 20px;
  background: url(../../images/theme/theme-1/heldOrder.png) no-repeat center center;
  text-decoration:none;
  cursor:pointer;  
}

/************************************************************************************
 * QuickView
 ***********************************************************************************/
.quickViewLaunch
{
	border: 2px solid #003399;
}

/************************************************************************************
 * Panel
 ***********************************************************************************/
.panelBox
{
    /* 
	background-color: #F2F2F2;
*/  
}

.subPanelBox
{
	border:0 solid #dddddd;
}

.subPanelBox .header
{
	color:#555555;
	background-color: #f8f8f8;
	border:0 solid #dddddd;
	font-size:1.4em;
	font-weight:bold;
}

.subPanelBox .content
{
    /* 
	border-top:1px solid #dddddd;
*/ }

.contextPanelBox
{
	background-color: #F2F2F2;
	border:1px solid #dddddd;
}

.groupPanelBox
{
	background:#FFFFFF none repeat scroll 0 0;
}

.groupPanelBox .content
{
	background:#FFFFFF none repeat scroll 0 0;
	border:0 solid #dddddd;
}

/*********************************************************************************
 * Style for <noscript>: warning message when avascript is turned off
 * Note: This class is actually not directly assigned to <noscript> but
 *			a <DIV> inside, due to a bug in IE where the styled box (not the text)
 *			show up even the Javascript turned on.
 *********************************************************************************/
.noScript
{
	position:fixed;
	top:30%;
	left: 30%;
	width:40%;
	display:block;
	color:red;
	font-size:1.6em;
	background-color:white;
	border:1px solid red;
	padding: 15px 25px 15px 25px;
	text-align: center;
}

.show-message, .hide-message {
	/*text-decoration:none;*/
	color: #003399;
	/*color: #094B53;*/
}

.show-message:hover, .hide-message:hover {
	text-decoration: underline;
}

/*********************************************************************************
 * Mandatory Indicator
 *********************************************************************************/

.mandatoryIndicator{
	color: #ff0000;
	font-size:1.0em;
	font-weight: bold;
    padding: 0px;
	margin: 0px;
	width: 0.25em;
	vertical-align: middle;
}

/*********************************************************************************
 * Style specific to shippingOption page
 *********************************************************************************/
 #lineItemShippingOptionLightBox .listTableBody3 {
    border: 1px solid #cccccc;
 }

 .majorOrderLineForReference {
	color:#808080;
 }


/**
 * Login page style
 */
.sign-in {
  background-color:#d9d9d9;
}

.sign-in .label-1 {
  font-family: Calibri, Arial, Helvetical, sans-serif;
  font-size:1.2em;
  color: black;
  font-style:normal;
}

.sign-in h4 {
  color: black;
  font-size:20px;
  font-weight:normal;
}

.form-sign-in .checkbox {
	color:black;
	font-size:13px;
	font-weight:normal;
}

.login-submit {
  background-color:#637D96;
  background-repeat:no-repeat;
  border-color:#B0BECB #5A7389 #495C6D #BBC5CF;
  border-style:solid;
  border-width:1px;
  color:#FFFFFF;
  /*float:right;*/
  font-family:Arial;
  font-size:1.2em;
  font-weight:bold;
}

/*********************************************************************************
 * Style specific to adjustment flyouts
 *********************************************************************************/
 #adjustment-bottom-Border{
  border-bottom:1px solid #CCCCCC;
}

/*********************************************************************************
 * Style specific to Product comparison page
 *********************************************************************************/
.comparisonTable {
  white-space: normal;
  font-family: Calibri,arial,verdana,sans-serif;
}

.x-grid-group-hd div.x-grid-group-title {
font-family:Calibri,arial,verdana,sans-serif;
font-size:1.0em;
text-align: left;
}
.itemDescComp {
font-size:0.9em;
font-family:Calibri,arial,verdana,sans-serif;
}
.bottomDottedLineComp {
height:40px;
border-bottom:2px dotted #fff;
}
.paddingRight {
padding-right:5px;
}
.paddingTopComp {
padding:5px;
}

.buttonComp {
height:45px;
}
