/* begin xped product detail customization styles */ 
.availgridtbl {
	margin-top:-46px;
	padding:3px;
}
.checkaddavail {
	margin-left:5px;
}
.tdstyle {
	padding-right:15px;
	background-color:#fafafa;
}
.compare span {
	color:#999;
	font-size:11px;
}
.update-avail-cta {
	width:122px;
	margin-top:10px;
	height:24px;
}
.quickadd-xpedx {
	float:right;
	margin-right:15px;
	clear:both;
}
.mil-cart-bg {
	background-image:url(../../images/theme/theme-1/mil/mil-cart-rpt-bg.gif);
	background-repeat:repeat-x;
height:256px;
padding-left:2px;
padding-top:15px;
}
.listTableHeader thead {
	color:#FFFFFF;
}
.normal-view .normal-x {
	float:left;
	margin-left:100px;
}
.normal-x {
}
.condensed-view .normal-x {
	float:right;
	margin-right:106px;
}
.condensed-view #listTableHeader-view thead {
	display:none;
}
.mini-view #listTableHeader-view thead {
	display:none;
}
#prodlist ul {
}
#prodlist li {
	margin-left:33px;
	list-style-type:disc;
	color:#333;
}







#action-cart {
	text-align:right;
	padding-right:45px;
}
#action-cart td {
	text-align:center;
}
.hidden {
	display:none;
}
.ext-el-mask {
	background-color: #333;
}
#breadcumbs-list-name h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#003399;
}
.print-ico-xpedx {
	float:right;
	margin-right:15px;
}
.print-ico-xpedx img {
	display:block;
	float:left;
	margin:0 5px 0 0;
	outline:medium none;
	padding:0;
}
.container h2 {
	color:#003399;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	margin-left:16px;
}
#listTableHeader-paper {
	background-image: url(../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=geometricPrecision&width=742&height=44&curveX=8&curveY=8&fillColor=%23003399&fillOpacityPct=&fillGradientType=&fillGradientTargetColor=&fillGradientTargetOpacityPct=&borderColor=%2300255c&borderWidth=&shadingStyle=none&shadingLevelPct=&shadingColor=&shadingStartPct=&shadingEndPct=&dropShadowOffsetX=&dropShadowOffsetY=&dropShadowColor=&dropShadowOpacityPct=&margin=&clipX1=&clipX2=&clipY1=&clipY2=32&outsideColor=&outsideOpacityPct=);
	background-repeat: no-repeat;
}
.green-e {
	float:left;
	height:98px;
	margin-left:49px;
	margin-top:81px;
	width:156px;
}
.avail-grid {
	margin-left:20px;
	margin-top:69px;
	width:426px;
	float:left;
	height:auto;
}
.avail-grid-header {
	width:424px;
	background-image:url(../../images/catalog/prod-header-bg.gif);
	padding-top:75px;
	background-repeat:no-repeat;
	height:75px;
}
/* begin hp styles */ 

.mil-edit {
	clear:right;
	float:left;
	padding-left:10px;
	padding-top:15px;
}
.mil-edit a {
	float:left;
	padding-right:5px;
}
.hp-top-bot-img {
	background-image:url(../../images/home/hp-top-bot-img.gif);
	background-repeat:no-repeat;
	height:34px;
	width:1000px;
}
.carousel-contain {
	width:869px;
	height:307px;
	float:left;
}
.hp-ad {
	float:left;
	width:125px;
	height:255px;
}

.hp-mid-rpt h2 {
	color:#fff;
	font-size:16px;
	margin-right:15px;
	padding-bottom:5px;
	padding-top:10px;
	margin-left:18px;
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#1a3b6c;
	border-spacing:3px;
}
.shop-fac-hp {
	margin-left:45px;
}
.footer-bot {
	background-image:url(../../images/common/footer-bot.gif);
	background-repeat:no-repeat;
	height:28px;
	width:1000px;
}

.hp-announcements-containers {
	width:378px;
	height:178px;
	border-right:1px;
	border-right-style:solid;
	border-right-color:#e6e6e6;
	float:left;
}
.hp-announcements-containers p {
	padding-left:20px;
	font-size:12px;
	color:#8c8c8c;
}
.img-padding-hp {
	margin-left:20px;
	margin-right:20px;
	margin-bottom:15px;
	margin-top:20px;
}
.hp-learn-more {
	font-size:12px;
	color:#ef6b00;
	text-decoration:underline;
}
.hp-announcements-containers h3 {
	padding-top:15px;
	padding-bottom:5px;
	color:#003399;
	margin-left:20px;
	font-size:12px;
}
.hp-announcements h2 {
	margin-right:15px;
	padding-bottom:5px;
	margin-top:15px;
	color:#003399;
	margin-left:18px;
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#ccc;
	border-spacing:3px;
}
.hp-quick-links {
	width:230px;
	height:auto;
	padding-bottom:20px;
	float:left;
}
.hp-prod-img-hero {
	width:250px;
	float:left;
}
.hp-quick-links a {
	text-decoration:underline;
	font-size:12px;
	color:#ef6b00;
	padding-left:20px;
	padding-bottom:5px;
}
.hp-prod-cat {
	width:728px;
	float:left;
}
#hp-details {
	float:left;
	margin-top:15px;
	margin-bottom:5px;
	margin-right:35px;
	height:200px;
}
#hp-details a {
	color:#fff;
	padding-bottom:5px;
	font-size:14px;
}
.hp-prod-cat-other {
	width:248px;
	float:left;
}
#catalog-right-col {
	float:right;
	margin-right:15px;
}
.avail-update {
	width:700px;
	background-image:url(../../images/common/tabs-fpo.jpg);
	background-repeat:no-repeat;
	padding-bottom:59px;
	margin-top:130px;
	margin-left:15px;
	height:291px;
}
.promo {
	margin-left:15px;
	margin-bottom:15px;
	margin-top:15px;
}
.prod-config {
	margin-left:19px;
	width:256px;
}
.prod-config p {
	margin-left:117px;
}
.prod-config a {
	text-decoration:underline;
}
.prod-config a:hover {
	text-decoration:none;
}
input.input-label {
	width:35px;
	margin-top:7px;
}
#catalog-landing {
	width:540px;
	margin-left:25px;
	float:left;
	height:auto;
}
#catalog-landing h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.3em;
	margin-bottom:10px;
	color:#0c2f81; margin-left:0px; 
}
.cat-view-all {
	float:right;
	font-size:10px;
	margin-right:25px;
	clear:both;
}
.clearall {
	clear:both;
	height:15px;
}
.view-all p {
	color:#F60;
	font-size:.9;
	margin-top:8px;
	margin-bottom:8px;
}
.view-all a {
	color:#F60;
	font-size:1em;
	margin-top:8px;
	margin-bottom:8px;
}
.view-all a:hover {
	color:#ccc;
	font-size:1em;
	margin-top:8px;
	margin-bottom:8px;
}
.prod-detail-img {
	margin-top:25px;
	margin-left:25px;
	padding-left:25px;
	height:144px;
	width:222px;
}
.catalog-landing-img {
	float:left;
	margin:2px;
}
.uom {
	margin-left:5px;
	padding-left:6px;
	width:104px;
}
.right-prod-detail {
	width:220px;
	float:right;
	background-image:url("../../images/catalog/prod_detail_FPO.jpg");
	background-repeat:no-repeat;
	padding-right:42px;
	margin-left:15px;
	margin-right:15px;
	height:366px;
}
.addtocart {
	background-image: url('../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=auto&width=89&height=21&curveX=12&curveY=12&fillColor=%23ef6b00&fillOpacityPct=&fillGradientType=b2t&fillGradientTargetColor=%23ff9933&fillGradientTargetOpacityPct=%23ef6b00&borderColor=%23cc6633&borderWidth=1&shadingStyle=%23sine&shadingLevelPct=&shadingColor=&shadingStartPct=&shadingEndPct=&dropShadowOffsetX=1&dropShadowOffsetY=1&dropShadowColor=&dropShadowOpacityPct=&margin=&clipX1=&clipX2=&clipY1=&clipY2=&outsideColor=&outsideOpacityPct=');
	background-repeat:no-repeat;
	width:99px;
	height:23px;
	padding-left:70px;
	padding-top:3px;
	color:#fff;
	font-weight:bold;
}
.addtocart a {
	color:#FFFFFF;
	padding-top:3px;
}

.even {
	background-color:#fafafa;
}
.even p {
	padding:5px;
}
/* end xped product detail customization styles */ 



.ext-el-mask .ext-el-mask {
	background-color: #fff;
}
.prod_detail {
	margin-left:20px;
	margin-right:20px;
	margin-top:5px;
	float:left;
	width:752px;
	height:auto;
	clear:both;
}
.prod_grid_img {
	margin-left:5px;
	height:105px;
	margin-right:5px;
	float:left;
	width:55px;
}
/*
.shoppingfor {
	margin-left:500px;
	padding-top:55px;
}
*/
.ico-bot {
	margin-bottom:15px;
}
input.xpedx_select_sm, xpedx_select_sm {
	border:medium none;
	font-size:12px;
	height:21px;
	padding:3px 4px 4px;
	width:55px;
}
.addtolist {
	margin-left:7px;
	width:93px;
}
.advertisement {
	margin-left:25px;
}
.promotxt {
	color:#000;
	font-weight:bold;
}
.pageresults {
	margin-top:-35px;
}
.bgleftcol {
	background-color:#FDFDFD;
	border-color:#EBEBEB;
	border-right:1px solid #EBEBEB;
	border-style:solid;
	border-width:0 1px 1px 0;
	height:auto;
	width:222px;
}
tr .inner {
	background-color:#FDFDFD;
	border-color:#EBEBEB;
	border-right:1px solid #EBEBEB;
	border-left:1px solid #EBEBEB;
	border-bottom:1px solid #EBEBEB;
	border-top:1px solid #EBEBEB;
	border-style:solid;
	border-width:1 1 1 1px;
	height:auto;
	padding:10px;
	text-align:left;
}
td .inner {
	background-color:#FDFDFD;
	border-color:#EBEBEB;
	border-right:1px solid #EBEBEB;
	border-left:1px solid #EBEBEB;
	border-bottom:1px solid #EBEBEB;
	border-top:1px solid #EBEBEB;
	border-style:solid;
	border-width:1 1 1 1px;
	height:auto;
	padding:10px;
	text-align:right;
}
.narrowbyattributes {
	overflow:auto;
	height:220px;
}
.sortbycontrols {
	padding:4px;
	width:320px;
}
.checkboxtxt {
	font-size:11px;
	color:#999;
}
.breadcrumb-inactive {
	color:#999;
}
.stockcheck {
	color:#99ccff;
}
.wrapper-container {
	margin-top:-25px;
}
.nav-wrapper {
	margin-top:-29px;
	padding-bottom:15px;
}
.sortby {
	font-size:11px;
}
#left-col {
	width:222px;
	float:left;
}
#mid-col {
	width:529px;
	margin-top:-10px;
	height:auto;
	margin-left:20px;
	float:left;
}
.input-details {
	width:111px;
}
.input-details-cart {
	width:33px;
}
.left35 {
	margin-left:35px;
}
.int-breadcrumb {
	margin-left:25px;
	margin-top:-25px;
}
.normal {
	font-weight:normal;
}
#right-col {
	width:185px;
	margin-left:20px;
	float:left;
}
#right-col-int {
	width:185px;
	margin-left:5px;
	float:left;
}
#multi-view {
	float:right;
	margin-bottom:-10px;
	margin-right:-15px;
	margin-top:5px;
}
.pagination_mid {
	background-color:#F2F2F2;
	background-image:url("../../images/shape.svg_png?cssClass=breadcrumbBG&width=529&height=39&fillColor=%23f2f2f2&outsideColor=%23ffffff&outsideOpacityPct=100&borderWidth=1&borderColor=%23e2e2e2&fillGradientType=b2t&curve=5");
	border:0 solid #DDDDDD;
	color:#444444;
	font-size:1.4em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	height:39px;
	width:529px;
}
.pagination_mid {
	background-color:#F2F2F2;
	background-image:url("../../images/shape.svg_png?cssClass=breadcrumbBG&width=529&height=39&fillColor=%23f2f2f2&outsideColor=%23ffffff&outsideOpacityPct=100&borderWidth=1&borderColor=%23e2e2e2&fillGradientType=b2t&curve=5");
	border:0 solid #DDDDDD;
	color:#444444;
	font-size:1.4em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	height:39px;
}
.pagination_mid p {
	font:arial;
	font-size:11px;
	float:right;
	vertical-align:middle;
	padding-right:15px;
	color:#003399;
	padding-top:15px;
	letter-spacing:1px;
}
.pagination_mid span {
	color:#999;
}
.prod_detail_rpt {
	background-image:url("../../images/catalog/rpt_prod_details.gif");
 background-image:
 background-repeat:repeat-y;
	width:752px;
}
.imgpad {
	padding:2px;
}
.right_promo {
	background-image:url("../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=geometricPrecision&width=178&height=135&curveX=6&curveY=6&fillColor=&fillOpacityPct=&fillGradientType=b2t&fillGradientTargetColor=%23fff&fillGradientTargetOpacityPct=%23fff&borderColor=%23f4f4f4&borderWidth=1&shadingStyle=%23sine&shadingLevelPct=&shadingColor=&shadingStartPct=&shadingEndPct=&dropShadowOffsetX=&dropShadowOffsetY=&dropShadowColor=&dropShadowOpacityPct=&margin=&clipX1=&clipX2=&clipY1=&clipY2=&outsideColor=&outsideOpacityPct=");
	background-repeat:no-repeat;
	height:135px;
	width:178px;
	padding-bottom:15px;
}
.bracket_pricing p {
	font-family:Arial, Helvetica, sans-serif;
	width:375px;
	color:Black;
	font-size:12px;
	margin-left:30px;
	font-weight:bold;
}
.bracket_pricing {
	width:375px;
	margin-bottom:25px;
}
.prod_desc {
	margin-left:30px;
	width:380px;
}
.prod_desc h2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#003399;
	font-size:16px;
	font-weight:bold;
	padding-bottom:5px;
}
.prod_desc p {
	font-family:Arial;
	color:#333;
	font-size:12px;
	width:380px;
}
.prod_img {
	background-image:url("../../images/catalog/prod_detail_FPO.jpg");
	background-repeat:no-repeat;
	width:263px;
	height:401px;
	float:left;
}
.prod_detail_top {
	background-image:url("../../images/common/top_prod_details.gif");
	background-repeat:no-repeat;
	width:752px;
	height:11px;
}
.prod_detail_bot {
	background-image:url("../../images/common/bot_prod_details.gif");
	background-repeat:no-repeat;
	width:752px;
	height:40px;
}





.pagination p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:right;
	vertical-align:middle;
	padding-right:15px;
	color:#003399;
	padding-top:15px;
	/*letter-spacing:2px;*/
}




.pagination span {
	color:#999;
}
#left_nav {
/* 
background-image:url("../../HTML/Catalog-BrowsePage/left_col_bg.gif");
background-repeat:no-repeat; background-position:right top; min-height:765px; 
*/ }
.nav-home {
	display: block;
	height:35px;
	width:39px;
	background : transparent url('../../images/global/nav/home-nav2.gif') repeat-x scroll 0 0;
}



/* Edit: IW-DH ----> */
.view_cart p {
	background-image: url(../../images/shape.svg_png?shape=rect&shapeRendering=auto&width=74&height=21&curveX=12&curveY=12&fillColor=%233363a3&fillGradientType=b2t&fillGradientTargetColor=%237ca9db&fillGradientTargetOpacityPct=%233363a3&borderColor=%233363a3&borderWidth=1&shadingStyle=none&dropShadowOffsetX=1&dropShadowOffsetY=1;);
	background-repeat:no-repeat;
	height:22px;
	width:74px;
	
	/*
	margin-left:619px;
	clear:both;
	position:absolute;
	padding-top:3px;
	top:55px;	
	*/

}
.view_cart a {
	color:#fff;
	font-weight:bold;
	margin-left: 6px;
	margin-top: 10px;
	line-height: 21px;
}






.tabContent {
	background-color: transparent;
}
#ext-gen5:hover {
	background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=t2b&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);
	background-color: transparent;
}
#ext-gen7:hover {
	/* background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=t2b&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);
	 background-repeat:no-repeat;*/ background-color: transparent;
}
#ext-gen9:hover {
	background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=t2b&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);
	background-color: transparent;
}
#ext-gen11:hover {
	background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=t2b&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);
	background-color: transparent;
}
#ext-gen13:hover {
	/* adding dark bg for modal layour IW -  background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=b2t&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);*/  
	background-color: transparent;
}
#ext-gen5 {
	background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=b2t&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);
	background-color: transparent;
}
#ext-gen7 {
	/* adding dark bg for modal layour IW -  background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=b2t&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);*/  
	background-color: transparent;
}
#ext-gen9 {
	background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=b2t&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);
	background-color: transparent;
}
#ext-gen11 {
	background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=b2t&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);
	background-color: transparent;
}
#ext-gen13 {
	/* adding dark bg for modal layour IW -  background-image: url(../../images/shape.svg_png?cssClass=submitBtnBg1BG&width=110&height=22&fillColor=%23bbbbbb&fillGradientType=b2t&outsideColor=%23ffffff&outsideOpacityPct=0&shadingStyle=sine&shadingLevelPct=98&borderWidth=1&borderColor=%23bbbbbb&curve=5);*/  
	background-color: transparent;
}
.submitBtnBg1, .submitBtnBg2, .submitBtnBg3, .submitBtnBg4, .btn-go {
	background-repeat:no-repeat;
}
.submitBtnBg1, .submitBtnBg2, .submitBtnBg3, .submitBtnBg4, .btn-go {
	background-position:center center;
}
.btn-go {
	background-color:transparent;
}
#searchHeader {
	/*  
        background-image: url(../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=geometricPrecision&width=220&height=40&curveX=&curveY=&fillColor=%2306377e&fillOpacityPct=&fillGradientType=t2b&fillGradientTargetColor=%23003399&fillGradientTargetO);
        */ 

        background-repeat: no-repeat;
	background-color: transparent;
}
#narrow_header2 {
	background-image: url(../../images/shape.svg_png?shape=rect&shapeRendering=auto&width=222&height=47&fillColor=%23011e48&fillGradientType=b2t&fillGradientTargetColor=%2306357a&fillGradientTargetOpacityPct=%23011e48&borderColor=%2306357a&borderWidth=1&shadingStyle=none);
	color:#fff;
	background-repeat: no-repeat;
	background-color: transparent;
}
.xtable {
	width: 27%;
}
.xtable2 {
	width: 33%;
}
.xtable3 {
	width: 21%;
}
.clearview {
	clear:both;
	height:15px;
}
.footer-rnd {
	background-image:url(../../images/common/footer-bot.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	width:1000px;
	height:29px;
}
#narrow_header3 {
	background-image: url(../../images/common/narrow-by-bg.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	width:222px;
	height:41px;
}
#narrow_spb1 {
/* 
        background-image: url(../../images/shape.svg_png?cssClass=subPanelBoxBG&width=215&height=114&fillColor=%23ffffff&outsideColor=%23f2f2f2&outsideOpacityPct=100&borderWidth=1&borderColor=%23dddddd&curve=5);
        */ }
#narrow_spb2 {
/* 
        background-image: url(../../images/shape.svg_png?cssClass=subPanelBoxBG&width=215&height=152&fillColor=%23ffffff&outsideColor=%23f2f2f2&outsideOpacityPct=100&borderWidth=1&borderColor=%23dddddd&curve=5);
        */
 }
#narrow_spb3 {
/*
        background-image: url(../../images/shape.svg_png?cssClass=subPanelBoxBG&width=215&height=56&fillColor=%23ffffff&outsideColor=%23f2f2f2&outsideOpacityPct=100&borderWidth=1&borderColor=%23dddddd&curve=5);
        */  
}
#narrow_pb1 {
/*
        background-image: url(../../images/shape.svg_png?cssClass=grayBoxBG&width=225&height=372&fillColor=%23f2f2f2&outsideColor=%23ffffff&outsideOpacityPct=100&borderWidth=0&curve=5);
        */ 
}
#searchBreadcrumb {
	background-image: url(../../images/shape.svg_png?cssClass=breadcrumbBG&width=742&height=39&fillColor=%23f2f2f2&outsideColor=%23ffffff&outsideOpacityPct=100&borderWidth=1&borderColor=%23e2e2e2&fillGradientType=b2t&curve=5);
}
#2010050515280639265 {
	background-image: url(../../images/shape.svg_png?cssClass=itemCtDdOverBG&width=10&height=237&fillColor=%23ffffff&fillGradientType=b2t&outsideColor=%23ffffff&curve=0&borderWidth=0);
}
#2010050516590539619 {
}
#2010042910403831850 {
	background-image: url(../../images/shape.svg_png?cssClass=itemCtDdOverBG&width=10&height=237&fillColor=%23ffffff&fillGradientType=b2t&outsideColor=%23ffffff&curve=0&borderWidth=0);
}
#2010042910415231859 {
	background-image: url(../../images/shape.svg_png?cssClass=itemCtDdOverBG&width=10&height=237&fillColor=%23ffffff&fillGradientType=b2t&outsideColor=%23ffffff&curve=0&borderWidth=0);
}
#2010051210492741080 {
	background-image: url(../../images/shape.svg_png?cssClass=itemCtDdOverBG&width=10&height=237&fillColor=%23ffffff&fillGradientType=b2t&outsideColor=%23ffffff&curve=0&borderWidth=0);
}
.listTableContainer, .listTableHeader {
	border-width:0;
}
.float-left {
	/*
	float:left;
	font-weight:bold;
	margin:3px;
	*/
}

.float-right {
	float:right; }

.listTableHeaderMil {
	border-width:0;
}
#listTableHeader {
	background-image: url(../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=geometricPrecision&width=531&height=44&curveX=8&curveY=8&fillColor=%23003399&fillOpacityPct=&fillGradientType=&fillGradientTargetColor=&fillGradientTargetOpacityPct=&borderColor=%2300255c&borderWidth=&shadingStyle=none&shadingLevelPct=&shadingColor=&shadingStartPct=&shadingEndPct=&dropShadowOffsetX=&dropShadowOffsetY=&dropShadowColor=&dropShadowOpacityPct=&margin=&clipX1=&clipX2=&clipY1=&clipY2=32&outsideColor=&outsideOpacityPct=);
	background-repeat: no-repeat;
}
.white {
	color:#fff;
	margin-left:4px;
}
#listTableHeaderMil {
	background-image: url(../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=geometricPrecision&width=951&height=44&curveX=8&curveY=8&fillColor=%23003399&fillOpacityPct=&fillGradientType=&fillGradientTargetColor=&fillGradientTargetOpacityPct=&borderColor=%2300255c&borderWidth=&shadingStyle=none&shadingLevelPct=&shadingColor=&shadingStartPct=&shadingEndPct=&dropShadowOffsetX=&dropShadowOffsetY=&dropShadowColor=&dropShadowOpacityPct=&margin=&clipX1=&clipX2=&clipY1=&clipY2=32&outsideColor=&outsideOpacityPct=);
	background-repeat: no-repeat;
}
.listTableContainer, .listTableHeader {
	background-repeat:no-repeat;
}
#ext-gen16:hover {
	background-image: url(../../images/shape.svg_png?cssClass=navigateHoverBG&width=1&height=30&fillColor=%23aaaaaa&curve=0&borderWidth=0&shadingStyle=%23halfSineSqB&shadingStartPct=30&shadingEndPct=90&shadingLevelPct=90);
}
#ext-gen17:hover {
	background-image: url(../../images/shape.svg_png?cssClass=navigateHoverBG&width=1&height=30&fillColor=%23aaaaaa&curve=0&borderWidth=0&shadingStyle=%23halfSineSqB&shadingStartPct=30&shadingEndPct=90&shadingLevelPct=90);
}
#ext-gen18:hover {
	background-image: url(../../images/shape.svg_png?cssClass=navigateHoverBG&width=1&height=30&fillColor=%23aaaaaa&curve=0&borderWidth=0&shadingStyle=%23halfSineSqB&shadingStartPct=30&shadingEndPct=90&shadingLevelPct=90);
}
#ext-gen19:hover {
	background-image: url(../../images/shape.svg_png?cssClass=navigateHoverBG&width=1&height=30&fillColor=%23aaaaaa&curve=0&borderWidth=0&shadingStyle=%23halfSineSqB&shadingStartPct=30&shadingEndPct=90&shadingLevelPct=90);
}

/* Note: IW-DH ----> */
#navigate11 {
	/*
	background-image: url("../../images/shape.svg_png?shape=rect&shapeRendering=geometricPrecision&width=1000&height=600&curveX=17&curveY=17&borderColor=%23cccccc&borderWidth=1&shadingStyle=%23sine&dropShadowOffsetX=1&dropShadowOffsetY=1&clipY2=560");
	*/
}
.progressBar {
	background-color: transparent;
}
.progressBar li.active {
	background-repeat:repeat-x;
}
#headerContainer /* {
background-image: url(../../images/shape.svg_png?cssClass=headerBG&width=998&height=100&borderWidth=1&borderColor=white&curve=5&dropShadowOffsetX=-2&dropShadowOffsetY=3&dropShadowOpacityPct=25&fillGradientType=b2t&fillColor=%23e5e5e5&fillOpacityPct=95);


}*/ 
#ext-gen20 {
	background-image: url('../../images/shape.svg_png?shape=rect&shapeRendering=geometricPrecision&width=255&height=37&curveX=18&curveY=18&fillOpacityPct=95&borderColor=999&borderWidth=1&shadingStyle=%23sine&dropShadowOffsetX=2&dropShadowOffsetY=2');
	background-repeat: no-repeat;
	background-color: transparent;
	height: 48px;
}
.commonHeader, .searchbox-1 {
	background-repeat:no-repeat;
}
;
body {
	font-size:1.3em;
	color: #000000;
	background-color:#ffffff;
}
#desctab {
	width:164px;
}
.addtocart {
	background-image: url('../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=auto&width=89&height=21&curveX=12&curveY=12&fillColor=%23ef6b00&fillOpacityPct=&fillGradientType=b2t&fillGradientTargetColor=%23ff9933&fillGradientTargetOpacityPct=%23ef6b00&borderColor=%23cc6633&borderWidth=1&shadingStyle=%23sine&shadingLevelPct=&shadingColor=&shadingStartPct=&shadingEndPct=&dropShadowOffsetX=1&dropShadowOffsetY=1&dropShadowColor=&dropShadowOpacityPct=&margin=&clipX1=&clipX2=&clipY1=&clipY2=&outsideColor=&outsideOpacityPct=');
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-weight:bold;
	height:23px;
	margin-left:34px;
	padding-left:10px;
	padding-top:3px;
	width:80px;
}
.addtocart-int {
	background-image: url('../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=auto&width=89&height=21&curveX=12&curveY=12&fillColor=%23ef6b00&fillOpacityPct=&fillGradientType=b2t&fillGradientTargetColor=%23ff9933&fillGradientTargetOpacityPct=%23ef6b00&borderColor=%23cc6633&borderWidth=1&shadingStyle=%23sine&shadingLevelPct=&shadingColor=&shadingStartPct=&shadingEndPct=&dropShadowOffsetX=1&dropShadowOffsetY=1&dropShadowColor=&dropShadowOpacityPct=&margin=&clipX1=&clipX2=&clipY1=&clipY2=&outsideColor=&outsideOpacityPct=');
	width:99px;
	height:23px;
	background-repeat:no-repeat;
	padding-left:10px;
	margin-left:25px;
	padding-top:3px;
	color:#fff;
	font-weight:bold;
}
.addtolist-int {
	margin-left:117px;
	width:93px;
}
.addtocart-int {
	background-image: url('../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=auto&width=89&height=21&curveX=12&curveY=12&fillColor=%23ef6b00&fillOpacityPct=&fillGradientType=b2t&fillGradientTargetColor=%23ff9933&fillGradientTargetOpacityPct=%23ef6b00&borderColor=%23cc6633&borderWidth=1&shadingStyle=%23sine&shadingLevelPct=&shadingColor=&shadingStartPct=&shadingEndPct=&dropShadowOffsetX=1&dropShadowOffsetY=1&dropShadowColor=&dropShadowOpacityPct=&margin=&clipX1=&clipX2=&clipY1=&clipY2=&outsideColor=&outsideOpacityPct=');
	width:99px;
	height:23px;
	background-repeat:no-repeat;
	padding-left:10px;
	padding-top:3px;
	color:#fff;
	font-weight:bold;
	margin-top:27px;
}
.addtocart-int a {
	padding-left:0px;
	color:#fff;
}
.grey {
	color:#999;
}
.grey {
	color:#999;
}
.checkavail p {
	font-size:11px;
	margin:20px;
}
.addtocart a {
	padding-left:4px;
	padding-top:3px;
	color:#fff;
}
#addtolist {
	width:99px;
	height:23px;
	background-repeat:no-repeat;
	padding-left:10px;
	padding-top:3px;
	margin-top:9px;
}
#browse_cats {
{
background-image: url('../../images/shape.svg_png?shape=rect&shapeRendering=auto&width=215&height=47&fillColor=%23011e48&fillGradientType=b2t&fillGradientTargetColor=%2306357a&fillGradientTargetOpacityPct=%23011e48&shadingStyle=none');
 width:99px;
height:23px;
background-repeat:no-repeat;
padding-left:10px;
padding-top:3px;
color:#fff;
font-weight:bold;
}
#addtolist a {
	margin-top:9px;
}












