@charset "utf-8";
/* CSS Document */
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
 
html,	body {
	margin:0;
	padding:0;
	height:100%;
	}
#container {
	min-height:100%;
	position:relative;
	}
 
#body {
	padding:10px;
	padding-bottom:47px;	/* Height of the footer */
	}
#login{
	margin:auto;
	width:518px;
	padding-top:80px;
		}

.signin{
	 width:515px;
	 border-left:solid 1px #b5b5b5;
	 border-right:solid 1px #b5b5b5;
	 background-color:#fff;
	 overflow:auto;
	 color:#222;
	 
		}	
.signin	h1{
	color:#00255b;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	padding-left:15px;
	margin:0px;}

.signin	p{
 	padding-left:3px;
	margin:0px;}
	
.signin	p strong{ 
	font-size:13px;
	color:#000;}

.signin td{
	padding:6px 13px;}

.forgot{
	font-size:11px;
	float:right;
	clear:both;
	margin-top:5px;}

.forgot a:link{color:#003366; text-decoration:none}
.forgot a:active{color:#003366; text-decoration:underline}
.forgot a:hover{color:#222; text-decoration:underline}
.forgot a:visited{color:#003366; text-decoration:none}
	
.x-input{
	-moz-border-radius: 6px 6px 6px 6px; 
	border-radius: 6px 6px 6px 6px; 
	-webkit-border-radius: 6px 6px 6px 6px; 
    border: 1px solid #D3D3D3;
    color: #3C3C3C;
    font-size: 12px;
    margin: 0;
    padding: 5px;
	width:150px;
	}

.iframeTooltip
{
	position: absolute;
	z-index: 1010;
	filter:alpha(opacity:0.1);
	
}

.tooltipContent
{
 
	background-image:url(../../images/salesrep/tool.png);
	background-repeat:no-repeat;
	padding-top:28px;
	padding-left:20px;
	height:77px;
	width:228px;
	background-position:top left;
}

/*******************************************/
#search{
	margin-top:5px;
	margin-right:auto;
	margin-left:auto;
	width:726px;
	overflow:auto; 
	background-repeat:no-repeat;
	background-position:top center;
}
.searchbg{
	background-image:url(../../images/salesrep/search-bg2.png);
	background-repeat:no-repeat;
	background-position:top;
	padding-bottom:15px;
	margin-top:24px;
	margin-right:auto;
	margin-left:auto;
	width:726px;
	}
.textbox{
	border:solid 0px #222; 
	padding-top:73px;
	width:650px;
	margin:auto;
	}
.textbox [type="text"] { border:solid 0px #e4e4e4; width:550px; font-size:16px; color:#222; padding:8px; font-weight:bold; }

.table{
	margin-top:15px;} 
	
.table-header-bar {
    background-color: #00255B;
    height: 44px;}

.table td {
    border-color: -moz-use-text-color #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: none solid;
    border-width: medium 1px;
    padding: 15px;
}

.table table {
    border-collapse: collapse;
}
.table a {
    color: #2970A6;
    text-decoration: none;
}

.table-header-bar-left {
    background-image: url("../../images/theme/theme-1/mil/items-list-bg-LEFT.gif");
    background-repeat: no-repeat;
} 
.no-border {
    border-color: -moz-use-text-color #43628D -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    padding: 9px;
}
#table-bottom-bar {
    background: url("../../images/global/table-bottom-bg-M.gif") repeat-x scroll 0 0 transparent;
    height: 5px;
    margin: 0;
    padding: 0;
    width: inherit;
}
 
#table-bottom-bar-L {
    background: url("../../images/global/table-bottom-bg-L.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 5px;
    margin: 0;
    padding: 0;
    width: 5px;
}
#table-bottom-bar-R {
    background: url("../../images/global/table-bottom-bg-R.gif") no-repeat scroll 0 0 transparent;
    float: right;
    height: 5px;
    margin: 0;
    padding: 0;
    width: 5px;
}
.table-header-bar-right {
    background-image: url("../../images/theme/theme-1/mil/items-list-bg-RIGHT.gif");
    background-position: right top;
    background-repeat: no-repeat;
} 
.no-border-right {
    border: medium none;
    padding: 8px;
}

.white {
    color: #FFFFFF;
    margin-left: 4px;
} 
.white {
    font-size: 11px;
} 
.white {
    color: #FFFFFF;
    margin-left: 4px;
} 
.txt-small {
    font-size: 11px;
}
.odd {
    background-color: #FAFAFA;
}
/*******************************************/
#footer {
	position:absolute;
	bottom:0;
	width:100%;
	background-image: url(../../images/salesrep/footer-bg.png);
	background-repeat:repeat-x;
	height:47px;
	color:#fff;
	font-size:11px;
	}
	 
#footer p {
	margin:0;
	padding:15px;
}    
.search-pagination-bottom{color:#000000;font-size:11px;text-align:right;font-weight:bold;margin-top:5px;margin-bottom:5px;margin-right:10px;}
.search-pagination-bottom span{font-size:13px;font-weight:bold;}
.search-pagination-bottom a{font-size:12px;font-weight:bold;color: #003399;text-decoration: none;}

