.table-header-bar-left {
	background-color: #336633;
}

.table-header-bar-right {
	background-color: #336633;
}

.btn-gradient {
	border: 1px solid #85b311;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	color: #FFFFFF;
	padding: 4px 14px;
	background: #6d9603; /* Old browsers */
}

.btn-gradient:hover {
	cursor: pointer;
	border: 1px solid #85b311;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	color: #FFFFFF;
	padding: 4px 14px;
	background: #4e7a02; /* Old browsers */
}

.btn-neutral {
	cursor: pointer;
	border: 1px solid #c5c5c5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	color: #000000;
	padding: 4px 14px;
	background: #ffffff; /* Old browsers */
}

.btn-neutral:hover {
	cursor: pointer;
	border: 1px solid #c5c5c5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	color: #000000;
	padding: 4px 14px;
	background: #f7f7f7; /* Old browsers */
}
