/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - changing the bgcolor to image*/
body
{
  background: url("../images/1x700_background.png") repeat-x scroll center top #FFFFFF;
    color: #000000
}

/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - changing the color of the fields*/
a, .commonHeader-subnav li, .commonHeader-subnav li a,
.commonFooter a, #welcome-address-popup a { color: #006a3a; }
#mil-list tr a { color: #107555 !important; }

.commonHeader { background: transparent url(../images/998x107_saalfeld_header.jpg) no-repeat; }
.commonHeader .logo a
{
	height: 50px;
	left: 30px;
	position: absolute;
	top: 16px;
	width: 200px;
}

.header-subnav li { border-right: 0px solid #107555; }

#main-navigation { background: url(../images/unselected_saalfeld.png) repeat-x; }
#main-navigation ul li { background: url("../images/unselected_saalfeld.png") repeat-x; }
#main-navigation ul ul li, #cart-management-popup a { background: #0b5a21; }
#main-navigation ul ul li:hover, #cart-management-popup a:hover { background: #084823; }
#main-nav li.hover,
#main-nav li:hover
{
	background:  url(../images/hover_saalfeld.png) repeat-x;
}

#main-nav li.active.hover,
#main-nav li.active:hover
{
	background: url(../images/current_hover_saalfeld.png) top center repeat-x;
}

#main-nav li.active { background: url(../images/current_saalfeld.png) top center repeat-x; }
#main-navigation ul li.lighter { background: url(../images/order_msg_saalfeld.png) repeat-x; }

#homepage-table h2 { background: #d1e1c7;  color: #006a3a; }

.mini-cart-header,.table-header-bar
{
	background-color: #336633;
}
.mil-top-border
{
/* background-color:#084823;*/
 /* width:100%; */
 height: 20px;
 padding:4px 1px 1px 1px;
 
 /* 
-moz-border-radius:5px;  
border-radius: 5px;  
-webkit-border-radius: 5px;
border-collapse: separate;
width:100%; */
}
table.mil-top-border { width:100%; }
table.mil-top-border td { padding: 10px 2px 10px 0; }
table.mil-top-border .table-header-bar-right { width:143px; }
.mil-desc-attribute-list, .mil-desc-attribute-list ul, ul.prodlist
{
	color: #107555 !important;
}

.table-header-bar-left
{
	background-image: url(../images/items-list-bg-LEFT_green2.gif);
}
.table-header-bar-right
{
	background-image: url(../images/items-list-bg-RIGHT_green2.gif);
	
}

.cat-view-all a {
    color: #66cc33;
    font-size: 11px;
}

/* Orange */
/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - Change the button image*/
a.orange-ui-btn {
	background: transparent url('../images/buttons/green-bg-btn-a.png') no-repeat scroll top right;
	color: #FFFFFF;
	display: block;
	float: left;
	font: bold 12px arial, sans-serif;
	height: 22px;
	margin-right: 0;
	padding-right: 18px;
	text-decoration: none;
}
a.orange-ui-btn span {
	background: transparent url('../images/buttons/green-bg-btn-span.png') no-repeat;
	display: block;
	line-height: 12px;
	padding: 5px 0 4px 18px;
}
a.orange-ui-btn:active {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none;
}
a.orange-ui-btn:active span {
	background-position: bottom left;
	padding: 6px 0 4px 18px;
}
a.orange-ui-btn:hover, a.green-ui-btn:hover, a.grey-ui-btn:hover{ text-decoration: none; }
/* Green */
a.green-ui-btn {
	background: transparent url('../images/buttons/green-bg-btn-a.png') no-repeat scroll top right;
	color: #FFFFFF;
	display: block;
	float: left;
	font: bold 12px arial, sans-serif;
	height: 21px;
	margin-right: 0;
	padding-right: 18px;
	text-decoration: none;
}
a.green-ui-btn span {
	background: transparent url('../images/buttons/green-bg-btn-span.png') no-repeat;
	display: block;
	line-height: 12px;
	padding: 5px 0 4px 18px;
}
a.green-ui-btn:active {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none;
}
a.green-ui-btn:active span {
	background-position: bottom left;
	padding: 5px 0 4px 18px;
}
/* Added to see the Forgot Password function pages with green header boxes  for EB #1334 */
#second-navigation #main-nav li.hover, #second-navigation#main-nav li:hover {
    background: url("../images/unselected_saalfeld.png") repeat-x scroll 0 0 transparent;
}
#second-navigation #main-nav li.active.hover, #second-navigation #main-nav li.active:hover {
    background: url("../images/current_saalfeld.png") repeat-x scroll center top transparent;
}
#second-navigation ul li {
    background: url("../images/unselected_saalfeld.png") repeat-x scroll 0 0 transparent;
    display: block;
    float: left;
    height: 25px;
    min-width: 111px;
    overflow: visible;
    padding-top: 4px;
}
/*EB-1689*/
.underlines a:link{text-decoration:none;color: #107555;}
.underlines a:hover{text-decoration:underline;color: #107555;}
/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - changing the footer color*/
.whitest {
    color: #006a3a;
    margin-left: 4px;
}

.promo-txt {
	color:#006a3a;	
}

.subPanelBox .header {
    background: url("../images/green_cell_slice_1x22.png") repeat-x scroll 0 0 #006a3a;
}

.browseBox ul li a {
    color: #006a3a;
}

.narrowByViewAllLink {
	color: #66cc33;
}

.drag-to-compare, .drag-to-compare a
{
	color: #006a3a;
}

#comnum {
	color: #006a3a;
}

.papergrid-view  {
	color:#000;
}

#breadcrumbs-list-name a,#breadcumbs-list-name a {
	color: #006a3a;
}

#catalog-header-breadcrumbs #breadcrumbs-list-name a {
	color: #006a3a;
}

#catalog-header-breadcrumbs #breadcrumbs-list-name .breadcrumbs-inner {
    color: #006a3a;
}

.breadcrumb-inactive {
    color: #006a3a;
}
.submitBtnBg1 {
    color: #006a3a;
}

#footer-copyright {
    color: #988344;
    text-align: center;
    width: 100%;
}
/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - changing the rotation dot in promotions*/
#home-image-rotation-nav a.activeSlide {
    background: url("../images/buttons/rotation_dot_on.png") repeat scroll 0 0 transparent;
}
#homepage-table ul.news-links {
    color: #006a3a;
    list-style: disc outside none;
}
.header#top-bar { background-color:#336633; }
.quick-add-aux-links a {
    color: #66cc33;
}
#tq-quick-add-overlay a.grey-ui-btn span p{ display: inline; color: #006a3a; margin-right:5px; font-size: 14px;font-weight: bold; }
.createdby-lastmod {
    color: #006a3a;
    text-align: center;
    width: 125px;
}
.short-description {
    color: #006a3a;
    cursor: pointer;
    font-weight: bold;
    height: auto;
    max-height: 200px;
    text-decoration: none !important;
}
#tq-quick-add-overlay .quick-add-to-cart-form th
{
	background: #336633;
	color:white;
	border-right: 1px solid #ccc;
	height: 29px;
	padding: 0px 3px 0px 10px;
	vertical-align: middle;
}
span.underlink:hover, p.underlink:hover {
    color: #006a3a;
    text-decoration: underline;
}
.search-pagination-top {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 9px;
    text-align: right;
}
.search-pagination-bottom {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: right;
}

.standard-table thead td {
    border-left: 1px solid #006a3a !important;
    border-bottom: 0px solid
}
.midsection thead tr { background-color: #336633; color: #ffffff; }
#checkout-table-header td {
    background-color: #336633;
    padding: 10px;
    width: 100%;
}
.short-description_M {
    color:#084823;
    font-weight: bold;
    height: auto;
    max-height: 200px;
    text-decoration: none !important;
}
.jcarousel-container a
{
	color: #006a3a;
	float: left;
	font-size: 12px;
	margin-right: 21px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
	text-align: left!important;
	width:242px;
}
.txt-small a:link {
    color: #006a3a;
    text-decoration: none;
}

.txt-lnk-sml-1 {
    color: #084823;
    font-size: 11px;
    text-decoration: underline;
}
.inf {
	background-color: #d1e1c7 ;
	border: 1px solid #66cc33;
	color: #66cc33;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 15px;
	display: inline-block;
	width: auto;
}
#main-navigation ul li.order-edit-bg {
    background: none repeat scroll 0 0 #988344;
    margin-top: 4px;
    padding-top: 0;
}
#main-navigation ul li.lighter.order-edit a {
    border: 1px solid #b7a980;
    font-weight: normal;
}
#main-navigation ul li.lighter.order-edit {
    background: none repeat scroll 0 0 #b7a980;
    margin-top: 4px;
    padding-top: 0;
}
.ship-banner-container
{
       background-color:#084823;
       height:24px;
       padding-top:1px;
       }

.ship_banner p
{
color: #000;
font-family:Arial, Helvetica, sans-serif;
text-align: left;
padding-top: 4px;
}

.ship_banner a
{
       color: #006a3a;      
       padding-left: 10px;
}
.ship_banner
{
height:22px;
background-color:#d1e1c7;
padding: 0px 10px;
font-size: 11px;
}

.ship_banner a:hover { text-decoration: underline; }
div.wc-table-header td {
    background-color: #006a3a;
    border: 0 none;
    padding: 10px 5px;
}
.middle-section ul
{
 list-style-type:disc;	
 color: #006a3a;
 padding: 10px 0px 0px 15px;  
 max-height: 73px;
 overflow: hidden;
}
#ext-gen5 {
    background: url("../images/1x700_background.png") repeat-x scroll center top #FFFFFF;
}

.swc-ext .x-window-mc {
     background: none repeat scroll 0 0 #DFE8F6;
    border: 1px solid #006A3A;
    font: 1.1em Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
.swc-ext .x-window-ml {
    padding-left: 6px;
}
#ext-gen5:hover {
    background: url("../images/1x700_background.png") repeat-x scroll center top #FFFFFF;
}


