/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - changing the bgcolor to image*/
body
{
  background: url("../images/1x700_background.png") repeat-x scroll center top #FFFFFF;
    color: #000000
}

/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - changing the color of the fields*/
a, .commonHeader-subnav li, .commonHeader-subnav li a,
.commonFooter a, #welcome-address-popup a { color: #006a3a; }
#mil-list tr a { color: #107555 !important; }

.commonHeader { background: transparent url(../images/998x107_saalfeld_header.jpg) no-repeat; }
.commonHeader .logo a
{
	height: 50px;
	left: 30px;
	position: absolute;
	top: 16px;
	width: 200px;
}

.header-subnav li { border-right: 0px solid #107555; }

#main-navigation { background: url(../images/unselected_saalfeld.png) repeat-x; }
#main-navigation ul li { background: url("../images/unselected_saalfeld.png") repeat-x; }
#main-navigation ul ul li, #cart-management-popup a { background: #0b5a21; }
#main-navigation ul ul li:hover, #cart-management-popup a:hover { background: #084823; }
#main-nav li.hover,
#main-nav li:hover
{
	background:  url(../images/hover_saalfeld.png) repeat-x;
}

#main-nav li.active.hover,
#main-nav li.active:hover
{
	background: url(../images/current_hover_saalfeld.png) top center repeat-x;
}

#main-nav li.active { background: url(../images/current_saalfeld.png) top center repeat-x; }
#main-navigation ul li.lighter { background: url(../images/order_msg_saalfeld.png) repeat-x; }

#homepage-table h2 { background: #d1e1c7;  color: #006a3a; }

.mini-cart-header,.table-header-bar
{
	background-color: #336633;
}
.mil-top-border
{
/* background-color:#084823;*/
 /* width:100%; */
 height: 20px;
 padding:4px 1px 1px 1px;
 
 /* 
-moz-border-radius:5px;  
border-radius: 5px;  
-webkit-border-radius: 5px;
border-collapse: separate;
width:100%; */
}
table.mil-top-border { width:100%; }
table.mil-top-border td { padding: 10px 2px 10px 0; }
table.mil-top-border .table-header-bar-right { width:143px; }
.mil-desc-attribute-list, .mil-desc-attribute-list ul, ul.prodlist
{
	color: #107555 !important;
}

.table-header-bar-left
{
	background-image: url(../images/items-list-bg-LEFT.gif);
}
.table-header-bar-right
{
	background-image: url(../images/items-list-bg-RIGHT.gif);
	
}

.cat-view-all a {
    color: #66cc33;
    font-size: 11px;
}

/* Orange */
/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - Change the button image*/
a.orange-ui-btn {
	background: transparent url('../images/buttons/green-bg-btn-a.png') no-repeat scroll top right;
	color: #FFFFFF;
	display: block;
	float: left;
	font: bold 12px arial, sans-serif;
	height: 22px;
	margin-right: 0;
	padding-right: 18px;
	text-decoration: none;
}
a.orange-ui-btn span {
	background: transparent url('../images/buttons/green-bg-btn-span.png') no-repeat;
	display: block;
	line-height: 12px;
	padding: 5px 0 4px 18px;
}
a.orange-ui-btn:active {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none;
}
a.orange-ui-btn:active span {
	background-position: bottom left;
	padding: 6px 0 4px 18px;
}
a.orange-ui-btn:hover, a.green-ui-btn:hover, a.grey-ui-btn:hover{ text-decoration: none; }
/* Green */
a.green-ui-btn {
	background: transparent url('../images/buttons/gold-bg-btn-a.png') no-repeat scroll top right;
	color: #FFFFFF;
	display: block;
	float: left;
	font: bold 12px arial, sans-serif;
	height: 21px;
	margin-right: 0;
	padding-right: 18px;
	text-decoration: none;
}
a.green-ui-btn span {
	background: transparent url('../images/buttons/gold-bg-btn-span.png') no-repeat;
	display: block;
	line-height: 12px;
	padding: 5px 0 4px 18px;
}
a.green-ui-btn:active {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none;
}
a.green-ui-btn:active span {
	background-position: bottom left;
	padding: 5px 0 4px 18px;
}
/* Added to see the Forgot Password function pages with green header boxes  for EB #1334 */
#second-navigation #main-nav li.hover, #second-navigation#main-nav li:hover {
    background: url("../images/unselected_saalfeld.png") repeat-x scroll 0 0 transparent;
}
#second-navigation #main-nav li.active.hover, #second-navigation #main-nav li.active:hover {
    background: url("../images/current_saalfeld.png") repeat-x scroll center top transparent;
}
#second-navigation ul li {
    background: url("../images/unselected_saalfeld.png") repeat-x scroll 0 0 transparent;
    display: block;
    float: left;
    height: 25px;
    min-width: 111px;
    overflow: visible;
    padding-top: 4px;
}
/*EB-1689*/
.underlines a:link{text-decoration:none;color: #107555;}
.underlines a:hover{text-decoration:underline;color: #107555;}
/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - changing the footer color*/
.white {
    color: #006a3a;
    margin-left: 4px;
}

.promo-txt {
	color:#006a3a;	
}

.subPanelBox .header {
    background: url("../images/green_cell_slice_1x22.png") repeat-x scroll 0 0 #006a3a;
}

.browseBox ul li a {
    color: #006a3a;
}

.narrowByViewAllLink {
	color: #66cc33;
}

.drag-to-compare, .drag-to-compare a
{
	color: #006a3a;
}

#comnum {
	color: #006a3a;
}

.papergrid-view  {
	color:#000;
}

#breadcrumbs-list-name a,#breadcumbs-list-name a {
	color: #006a3a;
}

#catalog-header-breadcrumbs #breadcrumbs-list-name a {
	color: #006a3a;
}

#catalog-header-breadcrumbs #breadcrumbs-list-name .breadcrumbs-inner {
    color: #006a3a;
}

.submitBtnBg1 {
    color: #006a3a;
}

#footer-copyright {
    color: #988344;
    text-align: center;
    width: 100%;
}
/*EB-2342  a Saalfeld user, I want to view the Saalfeld home page with the Saalfeld stylesheet - changing the rotation dot in promotions*/
#home-image-rotation-nav a.activeSlide {
    background: url("../images/button/rotation_dot_on.png") repeat scroll 0 0 transparent;
}
