
 .lightBoxlistTableBody {
			padding-right:0px;
			padding-left:20px;
		}

  .lightBoxlistTableBody tr td {
             vertical-align: top;
             padding-bottom:5px;
             padding-left:2em;
             padding-right:5px;
             padding-top: 5px;
        }


  .lightBoxlistTableBody input[type='text'] {
    width: 15em;
  }
 .lightBoxlistTableBody input[type='textField'] {
    width: 100%;
  }
  .lightBoxlistTableBody label {
  width: auto;
  padding-right: 1em;
}
.width-10
{
	width:10%;
}

.memo{
	width:80%;
}