/*****************************************************************************
Global layout styles set in this document
*****************************************************************************/

body {
	margin: 0;
	padding:0;
}
img {
	display: block;
	outline:none;
	margin:0;
	padding:0;
}
form {
	margin: 0;
	padding: 0;
}
p {
	margin:0;
	padding:0;
}
h1 {
	margin:0;
	padding:0;
}
h2 {
	margin:0;
	padding:0;
}
h3 {
	margin:0;
	padding:0;
}
h4 {
	margin:0;
	padding:0;
}
h5 {
	margin:0;
	padding:0;
}
h6 {
	margin:0;
	padding:0;
}
table {
	margin:0;
	padding:0;
	/*border-collapse:collapse;*/
}
td {
	margin:0;
	padding:0;
}

hr {
	margin:0;
	padding:0;
}
blockquote {
	margin:0;
	padding:0;
}
#main {
	margin: 0 auto;
	padding:0;
	width: 998px;
	/*width: 1024px;*/
	overflow: hidden;
	position: relative;
}
.container {
	overflow: hidden;
	width: 100%;
/*
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
*/
/*
	border:1px solid #E7E9EB;
*/
	clear: both;
	/*padding: 141px 0 0;*/
	padding: 50px 0 10px 0;
}

/* make checkbox and radio buttons scale with surrounding character data */
input[type="checkbox"] {
    height: 1em;
    width: 1em;
}
