.sign-in {
	width: 275px;
  padding-bottom:15px;
  margin-bottom:15px;
}

.sign-in .content {
  text-align:right;
}

.sign-in .label-1 {
  width: auto;
}

.sign-in table {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.sign-in td {
  padding: .2em 0;
}

.sign-in h4 {
  line-height: 1.5;
  padding: 5px 0 0 15px;
}
.sign-in .sign-in-bg {
}
.sign-in .sign-in-bg-bottom {
}
.sign-in-full-page {
	font-size:10px;
	line-height:18px;
	margin:0px 15px 0 0;
	width:275px;
	margin-left: auto;
	margin-right: auto;
}


.form-sign-in {
	margin:1em 0 0 0;
}
.form-sign-in label {
}
.form-sign-in .clear {
}
.form-sign-in .input {
	width: 175px;
}
.form-sign-in a {
  font-size:1.1em;
  line-height:1.6em;
}
.form-sign-in .btn-sign-in {
}
.form-sign-in .checkbox input {
	height:15px;
	margin:2px 5px 0 0;
}
.login-submit {
  height:22px;
  margin-top:4px;
  text-align:center;
  width:100px;
}
