
#navigate11 li.last a span {
	padding: 7px 19px 7px 16px;
	display: block;
	/*background : transparent url('../../images/new/fon_submenu_m.png') repeat-x scroll right 0;*/
}

#navigate11 li.first a span {
	padding: 7px 19px 7px 16px;
	display: block;
	/*background : transparent url('../../images/new/fon_submenu_m.png') repeat-x scroll 0 0;*/
}

#navigate11 li.middle a span {
	padding: 7px 19px 7px 16px;
	display: block;
	/*background : transparent url('../../images/new/fon_submenu_m.png') repeat-x scroll 0 0;*/
}

#navigate11 li:hover a span {
	/*background-position: 0 -34px;*/
	/*background:#293D6B none scroll 0 0;*/
	text-decoration: none;
	color:#000000;
}

#navigate11 li a span {
  cursor:pointer;
}

#navigate11 li.last a:hover span {
	/*background-position: 100% -34px;*/
}

#navigate11 li.first a:hover span {
	/*background-position: 0 -34px;*/
}

#navigate11 {
	margin: 0;
	float: left;
	width: 100%;
  padding-left: 0;
  padding-right: 0;
  /*background : transparent url('../../images/new/fon_submenu_m.png') repeat-x scroll right 0;*/
}

#navigate11 ul{
list-style-type: none;
}

#navigate11 li {
	float: left;
	padding: 0 0 1px;
	list-style-type: none;
  /*text-transform:capitalize;*/
}
#navigate11 li a {
	padding: 0 0px 0 0;
	display: block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.0em;
	font-weight:bold;
}
* html #navigate11 li a,
* html #navigate11 li a span {
	float: left;
	text-decoration: none;
}
*+html #navigate11 li a,
*+html #navigate11 li a span {
	float: left;
}
#navigate11 li a span {
	padding: 7px 19px 7px 16px;
	display: block;
}
#navigate11 li a.active {
	background-position: 0 -60px;
}
#navigate11 li a.active span {
	padding-right: 12px;
}
#navigate111 li:hover a span,
#navigate111 li.hover a span {
	background-color:#637D96;
	text-decoration: none;
	color:#FFFFFF;
}
#navigate11 li:hover,
#navigate11 li.hover {
	position: relative;
}
#navigate11 li:hover .drop-down,
#navigate11 li.hover .drop-down {
	display: block;
}
#navigate11 li .drop-down {
	display: none;
	position: absolute;
	z-index: 999;
	top: 25px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 166px;
}
#navigate11 li .drop-down li {
	float: none;
	display: block;
	width: 100%;
	padding: 0;
	vertical-align: top;
}
#navigate11 li .drop-down li a {
	float: none;
	padding: 8px 0 8px 15px;
	display: block;
	width: 151px;
	/*background-color:#637D96;*/
	background-color:#d1d1d1;
	color: #000000;
	border: 1px solid #B1B1B1;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 0.9em;
}
#navigate11 li .drop-down li a:hover {
  background-color:#b1b1b1;
}
#navigate11 li .drop-down li ul.inner {
	margin: -4px 0 0;
	padding: 0 0 5px 15px;
}
#navigate11 li .drop-down li ul li a {
	padding: 7px 0 7px 15px;
	width: 126px;
}
#navigate11 li .drop-down li ul.inner {
	display: block;
}
#navigate11 li .drop-down li.close ul.inner {
	display: none;
}

/* single step checkout navigation */

#navigateSingleCheckout {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}

#navigateSingleCheckout li {
	float: left;
	padding: 0 0 1px;
}
#navigateSingleCheckout li a {
	padding: 0 4px 0 0;
	display: block;
}
* html #navigateSingleCheckout li a,
* html #navigateSingleCheckout li a span {
	float: left;
}
*+html #navigateSingleCheckout li a,
*+html #navigateSingleCheckout li a span {
	float: left;
}
#navigateSingleCheckout li span.blankArrow {
	padding: 7px 80px 7px 25px;
	display: block;
}
#navigateSingleCheckout li a span {
	padding: 7px 115px 7px 45px;
	display: block;
}
#navigateSingleCheckout li a.active {
	background-position: 0 -60px;
}
#navigateSingleCheckout li:hover a span,
#navigateSingleCheckout li.hover a span {
	background-position: 100% -60px;
}
#navigateSingleCheckout li:hover,
#navigateSingleCheckout li.hover {
	position: relative;
}

/* my account navigate */

#navigateSteps {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}

#navigateSteps li {
	float: left;
	padding: 0 0 1px;
}
#navigateSteps li a {
	padding: 0 4px 0 0;
	display: block;
}
* html #navigateSteps li a,
* html #navigateSteps li a span {
	float: left;
}
*+html #navigateSteps li a,
*+html #navigateSteps li a span {
	float: left;
}
#navigateSteps li a span {
	padding: 7px 50px 7px 50px;
	display: block;
}
#navigateSteps li a.active {
	background-position: 0 -60px;
}
#navigateSteps li:hover a span,
#navigateSteps li.hover a span {
	background-position: 100% -60px;
}
#navigateSteps li:hover,
#navigateSteps li.hover {
	position: relative;
}

/* more info navigation */

.navMoreInfo{
	display:none;
	position:absolute;
	top:31px;
	left:676px;
	width:300px;
	padding:10px;
	z-index:9;
}

.selectedHover{
color:#522E91;
text-decoration:none;
}

.showMoreInfo,.hideMoreInfo {}

/* Progress Bar styling */
.progressBar {
  display:block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.progressBar li {
  float: left;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  text-align:center;
  width: 24.95%;
}
