BODY.drillbar
{
    BORDER-RIGHT: #58a859 1px solid;
    BORDER-LEFT: #58a859 1px solid;
    BORDER-BOTTOM: #58a859 1px solid;
    BACKGROUND-COLOR: white;
}
DIV.drillbar_ns
{
    BORDER-RIGHT: #58a859 1px solid;
    OVERFLOW: auto;
    BORDER-LEFT: #58a859 1px solid;
    BORDER-BOTTOM: #58a859 1px solid;
    POSITION: absolute;
    BACKGROUND-COLOR: white
}
TD.Drill_General_Title
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #58a859;
}
TD.Drill_Info_Title
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: #6f85a7;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e4eaef;
}
TD.Drill_Info
{
    FONT-SIZE: 12px;
    COLOR: #6f85a7;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e4eaef;
}
TABLE.Drill_Border
{
    BACKGROUND-COLOR: #58a859;
}
TABLE.Drill_Background
{
    BACKGROUND-COLOR: #e4eaef;
}
INPUT.Drill_Button_Validation
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #92a5c3;
}
HR.Drill_Separator
{
    BORDER-TOP: #58a859 1px inset;
    WIDTH: 94%;
    BORDER-BOTTOM: white 1px inset;
}