DIV.CP_Warning
{
    FONT-SIZE: 12px;
    COLOR: #ff4500;
    FONT-FAMILY: Tahoma
}
FONT.CP_Prompt_Name
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Tahoma
}
.CP_Prompt_Value
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Tahoma
}
INPUT.CP_Button
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #92a5c3
}
FONT.P_Prompt_Name
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Tahoma
}
INPUT.P_Button_Validation
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #92a5c3
}
INPUT.P_Button_Selection
{
    FONT-SIZE: 12px;
    WIDTH: 50px;
    COLOR: white;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #92a5c3
}
TD.P_General_Title
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Tahoma
}
TABLE.P_Border
{
    BACKGROUND-COLOR: #58a859
}
TABLE.P_Background
{
    BACKGROUND-COLOR: #e4eaef
}
DIV.P_Warning
{
    FONT-SIZE: 12px;
    COLOR: #ff4500;
    FONT-FAMILY: Tahoma
}
TD.P_General_Message
{
    FONT-SIZE: 12px;
    COLOR: #6f85a7;
    FONT-FAMILY: Tahoma
}
INPUT.P_Button_Refresh
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #92a5c3
}
SELECT.P_ListBox
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Tahoma
}
INPUT.P_TextBox
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Tahoma
}
HR.P_Separation
{
    BORDER-TOP: #58a859 1px inset;
    WIDTH: 94%;
    BORDER-BOTTOM: white 1px inset;
}
TABLE.P_Header
{
    BORDER-TOP: #58a859 1px solid;
    BORDER-BOTTOM: #58a859 1px solid;
    BACKGROUND-COLOR: #58a859
}
FONT.P_Prompt_Message
{
    FONT-SIZE: 12px;
    COLOR: #6f85a7;
    FONT-FAMILY: Tahoma
}
FONT.P_Input_Format
{
    FONT-SIZE: 12px;
    COLOR: #58a859;
    FONT-FAMILY: Tahoma
}
TD.CP_Separation
{
    BACKGROUND-COLOR: #58a859
}

