<style>
DIV
{
    BACKGROUND-COLOR: transparent
}
.Node
{
    FONT-SIZE: 12px;
    COLOR: #6f85a7;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.SelNode
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #00008b;
    TEXT-DECORATION: none
}
.Node_Hover
{
    FONT-SIZE: 12px;
    COLOR: #008100;
    FONT-FAMILY: Tahoma
}
</style>