/*****************************************************************************
    address book address
*****************************************************************************/

td.addressBook {
    padding-bottom:1em;
}

#addressBookTable {
  border-color: #ffffff;
}

/* initially hidden address */
.additionalAddress {
  display:none;
}