


/*****************************************************************************
	catalogExt style


@import url(../catalog/catalog.css);
@import url(../catalog/narrowBy.css);
@import url(../catalog/itemQuickView.css);

*****************************************************************************/

.catalog-ad {float:right; margin-right:5px; margin-top:10px; } 
.cat-x-carousel { height:72px; } 
#items {
    overflow: hidden;
    position:relative;
	left:0;
	top:0;
	margin-bottom:10px;
	margin-top:15px;
	padding:0px;
}

#item-box {
	float:left;
	z-index: 1;
	clear:both;
	width:100%;
	margin:0px;
	overflow:hidden;
}

#item-ct dl {
    padding-top:8px;
    padding-bottom:8px;
    margin:0;
}

#item-ct dd {
    float:left;
	z-index: 1;
    width:96%;
    margin:5px 0px 5px 5px;
	cursor: move;
	vertical-align:middle;
	padding:5px 5px 5px 5px;
}

#item-ct dd a {
	text-decoration:none;
}

#item-ct dd .prodImg {
    width: 220px;
    height: 220px;
}

#item-ct dd .imgs {
    width: 32%;
    margin:5px 0 0 5px;
    float:left;
}

#item-ct dd .contents {
    float:left;
    width: 205px;
    margin:5px 0 5px 5px;
    padding: 10px 15px 10px 10px;
	
}

ul

#item-ct dd .supersedelink
{
	text-align: left;
}

#item-ct dd .buttons {

    width: 200px;
   /* margin:5px 10px 5px 5px;
    padding:10px 10px 10px 0; */
	text-align:left;
	font-size: 1em;
}

#item-ct dd .buttons .submitBtnBg2
{
	min-width:6.5em;
	margin-top:2px;
	margin-bottom:5px;
	margin-right: 0;
	margin-left: 5px;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
}

#item-ct dd .pprice {
	font-size: 1.4em;
	text-align: right;
	padding-right: 10px; display:none;
}

.availablelink
{
	/*font-weight: bold;*/
	padding: 5px 5px 5px 19px;
}

.availablelink .submitBtnBg1
{
	display:block;
	text-align: center;
	margin: 5px 0 5px 0;
	padding: 4px 5px 4px 5px;
	width: 100px;
}

/* condensed view */
.condensed-view #item-ct dd {
    float:left;
	z-index: 1;
    width:340px;
    height:270px;
    margin:5px 5px 5px 5px;
	overflow:hidden;
	text-align:center;
}

.condensed-view #item-ct dd .prodImg {
	width:108px;
	height:108px;
}

.condensed-view #item-ct dd .imgs {
    width: 32%;
    margin:5px 2px 0;
}

.condensed-view #item-ct dd .contents {
	float:right;
	z-index: 1;
	width:56%;
	overflow:visible;
	margin:1px 0 0 1px;
}

.condensed-view #item-ct dd .availablelink { 
}

.condensed-view #item-ct dd .shippableLine { display:none;
} 

.condensed-view #item-ct dd .buttons {
    display:none;
}

.mini-view #item-ct dd .buttons  {
    display:none;
}


.condensed-view #item-ct dd .buttons {
	float:right;
	clear:right;
    width:60%;
	height:35px;
	margin:15px 0 0 5px;
    padding:5px;
	text-align:right;
}

.condensed-view #item-ct dd .buttons .submitBtnBg2
{
	float:none;
	display:inline;
	min-width:6.5em;
	margin-top:2px;
	margin-right:4px;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
}

.condensed-view #item-ct dd .productName
{
	text-align:left;
}

.condensed-view #item-ct dd .productName a
{
	font-size: 1.2em;
}

.condensed-view #item-ct dd .pprice {
    text-align:left;
}

.condensed-view #item-ct dd p {
	text-align:left;
}

/* mini view */
.mini-view #item-ct{
	padding-left:5px;
}

.mini-view #item-ct dd {
    float:left;
    width:162px;
    height:335px;
    margin:5px 3px 5px 3px;
    /*zoom:1;*/
	text-align:center;
}

.mini-view #item-ct dd .prodImg {
    width:120px;
    height:120px;
}

.mini-view #item-ct dd .imgs {
    width:120px;
    height:120px;
    float:none;
    margin-left:auto;
    margin-right: auto;
}

.mini-view #item-ct dd .contents img {
	display:inline;
}

.mini-view #item-ct dd .contents{
	float: none;
	display:inline;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
}

.mini-view #item-ct dd .buttons {
	float: none;
	width: 95%;
	margin:5px 0 5px 0;
    padding:5px 0 5px 0;
	text-align:center;
}

.mini-view #item-ct dd .buttons .submitBtnBg2
{
	float:none;
	display:inline;
	white-space:nowrap;
	font-size: 0.9em;
}

.mini-view #item-ct dd .pprice {
    text-align:center;
}

.mini-view #item-ct dd .productName
{
	text-align:center;
}

.mini-view #item-ct dd .productName a
{
	font-size: 1.0em;
}

.mini-view #item-ct dd .ddesc, .shippableLine {
    display:none;
}




.mini-view #item-ct dd .supersedelink
{
	text-align: center;
}

#items-control{
	float:left;
	width:99%;
}
#items-combox {
	float:left;
	margin:0;
	z-index:1;
	height:24px;
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:0px;
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
}
#item-combox h4 {
	margin:0;
	display:inline;
}

#items-cb {
	float:right;
	z-index: 1;
	width:100px; /*KRC 7/14/2010 Widen to accomodate 4th button (98+33) */
	height:20px;
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
}

.condensed-view #items-cb {
	background-position: 0 -20px;
}

.mini-view #items-cb {
	background-position: 0 -40px;
}

/* KRC 7/14/2010 New view class for button */
.papergrid-view #items-cb
{
    background-color:grey;
	
		background-position: 0 -60px;
	
    
}


.papergrid-view 
{
     color:#333;
    
}


.papergrid-view p 
{
     color:#003366; margin-left:5px;
    
}



#items-cb img {
	width:25px;
	height:20px;
	display: inline;
}

.draggeditem {
	width: 100px;
	height: 50px;
	white-space: normal;
}

#comnum {
	padding-left: 5px;
	padding-right: 5px;
}

.t1-main-content
{
	min-height: 768px;
}

