@import url(../catalog/narrowBy.css);
@import url(../catalog/itemQuickView.css);

/*****************************************************************************
	product list style
*****************************************************************************/

/* jms
.searchBreadcrumb
{
	margin:10px;
	padding-bottom:10px;

}
*/
#searchBreadcrumb img
{
	display:inline;
}

.hidden
{
	display:none;
}

/*
.t3-main-content
{
	min-height: 768px;
}
*/
.listTableHeader
{
	padding-top:5px;
	padding-bottom:5px;
	height: 32px;
}

.listTableHeader .submitBtnBg1
{
	font-size: 0.9em;
}

.listTableHeader select
{
	font-size: 0.9em;
}

.productName
{
	margin-top: 5px;
}

.prodImg
{
	width: 100%;
	/*height: 100%;*/
}

.itemListMain	{
	margin-top:10px;
}

.itemList .itemContents
{
	padding:0 10px 0 10px;
	width: 96%;
}

.itemDivider, .lastItemDivider
{
	clear: both;
}

.itemList .itemContents .itemListImage
{
	margin:0 0 0 5px;
	padding:5px;
	width: 35%;
	float: left;
	margin-right: 5px;
}

.itemList .itemContents .itemListItemData
{
	margin-right: 6px;
	width:58%;
	vertical-align: top;
	float: right;
	margin-right: 10px;
	padding-bottom: 10px;
}

.itemOperation
{
	margin-left:5px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	vertical-align:middle;
	width:98%;
	/*font-size:13px;*/
	font-size:1.0em;
	/*font-weight:bold;*/
	line-height:18px;
}

.itemOperation .checkCompare
{
	float: left;
	width: 30%;
}

.itemOperation .checkCompare input
{
	vertical-align: middle;
}

.itemOperation .commandButton
{
	display:block;
	float:right;
}

.itemOperation .commandButton .submitBtnBg2
{
	display:block;
	float:right;

	margin-top:0px;
	margin-right:0px;
	padding-top: 5px;
	padding-right:15px;
	padding-bottom: 5px;
	padding-left:15px;
	text-align:center;

	/*font-size:16px;*/
	font-size:1.2em;
	/*font-weight:bold;*/
	white-space:nowrap;
}

.itemDataContents
{
	width: 100%;
	margin-left: 5px;
	padding-top: 10px;
}

.itemDataContents p
{
	/*color:#000000;*/
	/*font-size:12px;*/
	font-size:1.0em;
	/*font-weight:normal;*/
	line-height:18px;
}

.itemDataContents h3
{
	/*font-size: 16px;*/
	font-size: 1.2em;
	float:right;
}


.itemPrice	{
	height: 20px;
}

.itemOptions
{
	/*width:100%;*/
	/*float:left;*/
	margin-top:10px;
	margin-left:20px;
}

.itemOption {
	padding:5px;
}

.itemOptions p img
{
	float:left;
	padding-right:5px;
}

.shippableLine {
    padding:5px;
}
/*
.itemOptions .submitBtnBg1
{
	font-weight: bold;
}
*/
