.searchBox
{
	/*margin-bottom: 10px;*/
}

#searchHeader
{

}

.searchbox-form1{

	padding-left: 10px;
	padding-right: 5px;
}


#search_searchTerm	{
	width:75%;
	margin-top: 5px;
	height: 17px;
	margin-bottom: 8px; font-size:11px;
}

.searchButton	{
border:0 none;
height:24px;


margin-left:-31px;
width:14%;
}



.searchbox-form1 a{
	
}

#wwctrl_search_searchTerm input	{
	width: 100%;
}

/********************
 Clean up
 ********************/
.browseBox ul{
	/*
	color:#C4C4C4;
	font-size:14px;
	font-weight:bold;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	*/
	margin:0;
	padding:0;
	width:100%;
}

.browseBox ul li{
	/*height:23px;*/
	margin:0;
	overflow:hidden;
	display:block;
}

.browseBox ul li a{
	overflow:hidden;
	display: block;
}

.browseBox ul li span{
	display: block;
}

.browseBox ul li div.link {
	float:left;
	width:70%;
}

 

.browseBox ul li ul.inner {
	display: block;
}

.browseBox ul li.close ul.inner {
	display: none;
}

.browseBox ul li ul {
	padding: 0 0 0 15px;
	width: 90%;
}

.browseBox ul li ul li{
	border-bottom:none;
}

