
/*****************************************************************************
	product list style
*****************************************************************************/


#searchBreadcrumb
{
	margin:10px;
	padding-bottom:10px;
}

.itemContentLeft
{
	width: 20%;
}

.productImg
{
	width: 100px;
	height: 100px;
}

.productImg a
{
	width: 100px;
	height: 100px;
}

.itemContentMid
{
	text-align: center;
}

.itemContentMid span
{
	vertical-align:middle;
}

.itemContentMid img
{
	display:inline;
	margin:0;
	vertical-align:middle;
}

.itemContentRight
{
	width: 15%;
}

.itemContentRight img
{
	margin:2px;
}
.breadcrumb img
{
	display:inline;
	padding-bottom:5px;
}

.listTableBody4Comp {
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableBody4Comp td
{
	border: 1px solid #ccc;
	padding:5px;
	width: 20%;
}

.listTableBody4Comp td td
{
	padding:3px;
	border: none;
}

.listTableBody4CompExcl{

	width: 100%;
	color: #FF0000;
}
.listTableBody4CompExcltd {

	text-align: left;
	width: 2%;
}

.listTableBody4CompExcltd a.deleteIcon {
  display:block;
  width:16px;
  height:16px;
}
.listTableBody4CompExcltd a.deleteIcon:hover {
  text-decoration:none;
}

.deleteIcon {
  display:block;
  float:left;
}




