/*****************************************************************************************************/
#requestform{ 
	clear:both;
	width:950px;
	margin:auto; 
	} 
#requestform .form td{ 
	padding:8px 8px 8px 0px; 
	border:solid 0px #e4e4e4;
	border-left:solid 0px #e4e4e4;
	} 
#requestform .form table{  
	border-top:solid 1px #e4e4e4;
	border-right:solid 1px #e4e4e4;
	} 
.star {
	color:#FF0000;
}
.textbox{ 
	width:160px; 
	}
.returns-details{ 
	font-size:12px; 
	color:#999999;
	width:170px;
	}
.clears{ 
	clear:right;
	float:right;
	text-align:left;
	width:225px;
	font-size:12px;
	}
.clears ul{ 
	font-size:12px; 
	color:#999999; 
	list-style-type: disc; 
	margin-bottom:0px;
	margin-top:0px;
	padding-left:12px;
	_padding-left:15px;
	}
.padding-15{
	padding-top:15px;
	}