#mid-col-mil {
	float:none;
	height:auto;
	margin-left:20px;
	margin-top:0;
	width:950px;
}



/* Begin  MIL TABLE */
.milheader {
	color:#003399;
	margin-left:28px;
	margin-bottom:10px;
}

.no-border {
	border:none;
	padding:8px;
	border-right: 1px solid #43628d;
	padding:9px;
}

.no-border-right {
	border:none;
	padding:8px;
}



.odd {
	background-color:#fafafa;
}

tr:first-child:hover {
	/*background-color: #00255b;*/
}

tr:hover {
	/*background-color:#fcffd6;*/
}

.tbl-hvr:hover {
	background-color:#fcffd6;
}

.quick-add-form tr:hover {
	background-color:transparent;
}


.createdby-lastmod {width:125px; text-align:center;color:#003399; } 

.actions {width:190px; text-align:center; color:#003399;} 

.availability {width:190px; text-align:center;color:#003399; } 


#none tr {
	background:none;
}
.grey-mil {
	color:#999;
	font-size:11px;
	padding:0px;
}
.odd p {
	padding:0px;
	/*color:#003399;*/
}



#mil-list {
	/*background-image:url("../../images/shape.svg_png?shape=rect&stylesheet=&cssClass=&shapeRendering=geometricPrecision&width=951&height=44&curveX=8&curveY=8&fillColor=%23003399&fillOpacityPct=&fillGradientType=&fillGradientTargetColor=&fillGradientTargetOpacityPct=&borderColor=%2300255c&borderWidth=&shadingStyle=none&shadingLevelPct=&shadingColor=&shadingStartPct=&shadingEndPct=&dropShadowOffsetX=&dropShadowOffsetY=&dropShadowColor=&dropShadowOpacityPct=&margin=&clipX1=&clipX2=&clipY1=&clipY2=32&outsideColor=&outsideOpacityPct=");  */ 
	/*
	background-image:url("../../images/theme/theme-1/mil/items-list-bg.gif"); 
	background-repeat:no-repeat; width:950px; 
	*/

}

.table-header-bar {
	background-color: #00255b; border-top:none !important; 
}

.table-header-bar-left {
	background-image:url(../../images/theme/theme-1/mil/items-list-bg-LEFT.gif);
	background-repeat:no-repeat; border-left:medium none !important; 
}

.table-header-bar-right {
	background-image: url(../../images/theme/theme-1/mil/items-list-bg-RIGHT.gif);
	background-repeat: no-repeat;
	background-position: right; border-right:medium none !important;
}

/*
#mil-list p {
	color: #666;
}
*/
 
#etended-price { width:55px; } 

#mil-list tr:hover { none; }  

.mil-bot {
	background-image:url(../../images/theme/theme-1/mil/bot-table.gif);
	background-repeat:no-repeat;
	height:5px;
}
/* END   MIL TABLE */
 
 



 
 
/* Dan */ 
#mil-list tr {
	border-top:1px solid #d7d7d7;
}

#mil-list tr:first-child {
	border-top:none;
}

#mil-list tr a {
	color: #003399;	
}

.mil-edit {
	padding-left:0;
	padding-top:0;
	width:950px;
}

/*
.mil-edit a {
	float:left;
	padding-right:0;
}
*/

.ad-float {
	float:right;
	margin-top: 0;
}

#tool-bar {
	height: 25px;
}

#tool-bar li {
	display: block;
	float: left;
	list-style-type: none;
	margin-left: 10px;
	line-height: 22px;
}

#tool-bar li:first-child {
	margin-left: 0;
}

.tool-bar-top {
	margin-bottom: 10px;
}

.tool-bar-bottom {
	margin-top: 10px;
}




#table-avail-col {
	text-align:left;
	font-size: 11px;	
}

#table-avail-col ul {
	float: left;
	/*width: 80px;*/	
}

#table-avail-col ul:first-child {
	margin-right: 8px;
}

#table-avail-col ul li {
	margin-bottom: 2px;
}
.for-selected {
	font-size: 11px;
	margin: 0 0 2px 0;
	color:#999;
	line-height: 12px;	
}

.select-all {
	font-size: 11px;
	text-decoration:underline;
	color:#FFF;		
}






