.white {
    color: #FFFFFF;
    margin-left: 4px;
}

.narrowByViewAllLink {
	color: #EE6B03;
	font-size: 11px;
}
    
.btn-gradient {
	border: 1px solid #ff821c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	color: #FFFFFF;
	padding: 4px 14px;
	background: #ffa154; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTE1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDY4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffa154 0%, #e06800 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa154), color-stop(100%, #e06800)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa154 0%, #e06800 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa154 0%, #e06800 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffa154 0%, #e06800 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffa154 0%, #e06800 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa154', endColorstr='#e06800', GradientType=0 ); /* IE6-8 */
}

.btn-gradient:hover {
	cursor: pointer;
	border: 1px solid #ff821c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	color: #FFFFFF;
	padding: 4px 14px;
	background: #c94915; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTE1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDY4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f8933e 0%, #c94915 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8933e), color-stop(100%, #c94915)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8933e 0%, #c949150 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8933e 0%, #c94915 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8933e 0%, #c94915 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f8933e 0%, #c94915 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8933e', endColorstr='#c94915', GradientType=0 ); /* IE6-8 */
}


.btn-neutral {
	cursor: pointer;
	border: 1px solid #c5c5c5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	color: #000000;
	padding: 4px 14px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 9%, #d3d3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#ffffff), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 9%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 9%,#d3d3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 9%,#d3d3d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 9%,#d3d3d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-8 */
}

.btn-neutral:hover {
	cursor: pointer;
	border: 1px solid #c5c5c5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	color: #000000;
	padding: 4px 14px;
	background: #f7f7f7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: #f7f7f7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjViNWI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #f7f7f7 25%, #b5b5b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#f7f7f7), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 25%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 25%,#b5b5b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 25%,#b5b5b5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 25%,#b5b5b5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-8 */
}


.btn-gradient:focus { 

padding: 3px 13px;

border: 2px #53b1f9 solid;

}

.list-of-lists-header {
	background: #003399;
}


/************* CSS styles for Megamenu changes ******/

.menucontainer {
	position: absolute;
	left: 0px;
	top: 81px;
	width: 1000px;
	background-color: #3577d1;
	height: 33px;
	z-index: 1000;
	clear: both;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:12px;
	border-bottom: 1px solid #fff;
}
ul.megamenu, .megamenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.megamenu {
	border-top: 1px solid white;
}
.megamenu li {
	float: left;
	min-width: 142px;
	position: relative;
	filter: inherit;/*required to make the fade work on IE8*/
}
.megamenu li a {
	display: block;
	padding: 8px 0px 9px 0px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background-color: #3577d1;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	font-weight: bold;
}
.megamenu li li {
	clear: left/*for IE7*/
}
.megamenu li li a {
	border-top: none;
	border-right: 1px solid white;
	width: 121px;
}
.megamenu li a:hover {
	background-color: #145ec3;
}
.megamenu ul li a:hover {
	background-color: #bad7ff;
}
.megamenu ul li a:focus {
	background-color: #bad7ff;
}
.megamenu li ul {
	display: none;
	position: absolute;
	left: 0px;
	top: 33px;
}
.megamenu li ul ul {
	display: none;
	position: absolute;
	left: 143px;
	top: -1px;
	min-width: 151px;
}
.megamenu li:hover > ul {
	display: block
}
.megamenu li ul a {
	background-color: #93bcf4;
	color: #003377;
}
.panel1 {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	background-color: #bad7ff;
	height: auto;
	border-left: none;
	border: 4px #d3e5ff solid;
	-webkit-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	overflow: hidden;
}

.panel2 {
	position: absolute;
	top: -33px;
	left: 0px;
	display: block;
	width: 800px;
	height: auto;
	background-color: #bad7ff;
	border-left: none;
	border: 4px #d3e5ff solid;
	-webkit-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	overflow: hidden;
}
.panel3 {
	position: absolute;
	top: -66px;
	left: 0px;
	display: block;
	width: 800px;
	height: auto;
	background-color: #bad7ff;
	border-left: none;
	border: 4px #d3e5ff solid;
	-webkit-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	overflow: hidden;
}
.panel4 {
	position: absolute;
	top: -99px;
	left: 0px;
	display: block;
	width: 800px;
	height: auto;
	background-color: #bad7ff;
	border-left: none;
	border: 4px #d3e5ff solid;
	-webkit-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.5);
	overflow: hidden;
}
.mega-content-wrap {
	width: 800px;
	background-color: #fff;
}
.megamenu ul li h2 {
	margin: 8px 0px 8px 10px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.megamenu ul li ul.noborder {
	border: none;
}
.right-column {
	float: left;
	clear: none;
	padding: 0px;
	width: 540px;
	margin-left: 0px;
}
.far-right-column {
	min-height: 478px;
	width: 264px;
	background-color: #565656;
	overflow: hidden;
}
.far-right-photo-300000 { /*facility supplies*/
	float: right;
	clear: none;
	width: 264px;
	height: 478px;
	background: url(../images/megamenu/facilities.jpg) no-repeat #3e4853;
	padding-bottom: 400px;
	margin-bottom: -400px;
}
.far-right-photo-300002 { /*packaging*/
	float: right;
	clear: none;
	width: 264px;
	height: 478px;
	background: url(../images/megamenu/packaging.jpg) no-repeat #3e4853;
	padding-bottom: 400px;
	margin-bottom: -400px;
}
.far-right-photo-300057 { /*paper*/
	float: right;
	clear: none;
	width: 264px;
	height: 478px;
	background: url(../images/megamenu/paper.jpg) no-repeat #3e4853;
	padding-bottom: 400px;
	margin-bottom: -400px;
}
.far-right-photo-300001 { /*graphics*/
	float: right;
	clear: none;
	width: 264px;
	height: 478px;
	background: url(../images/megamenu/graphics.jpg) no-repeat #3e4853;
	padding-bottom: 400px;
	margin-bottom: -400px;
}
.megamenu ul li ul.noborder {
	border: none;
}
.megamenu ul li a {
	text-align: left;
	padding-left: 20px;
}
.megamenu ul li.panel h2 {
	margin-top: 8px;
	color: #000000;
}
.megamenu li:last-child a {
    border-right: 1px #fff solid;
}


/************* CAT 2 *********************	*/	


.cat-2-wrap {
	float: left;
	clear: none;
	width: 210px;
	background-color: #fff;
}
.border-container {
	width: 215px;
	border-right: #e2e7ee 1px solid;
	background: #fff;
	height: auto;
	float: left;
	clear: none;
	min-height: 478px;
	padding-bottom: 400px;
	margin-bottom: -400px;
}
.megamenu ul li a.mega-cat-2 {
	display: block;
	background-color: #fff;
	border-bottom: #e2e7ee 1px solid;
	padding: 10px 0px 10px 6px;
	color: #3577d1;
	font-size: 12px;
	line-height: normal;
	width: 200px;
	margin-left: 0px;
}
.megamenu ul li a.mega-cat-2.last {
	border-bottom: none;
}
.megamenu ul li a.mega-cat-2.first {
	border-top: #e2e7ee 1px solid;
}
.megamenu ul li a.mega-cat-2 div {
	float: right;
	clear: none;
	font-size: 14px;
	margin: -2px 0px 0px 0px;
}
.megamenu ul li a.mega-cat-2 .cat-2-arrow {
	width: 16px;
	height: 18px;
	font-size: 16px;
	font-family: "Arial Black", Gadget, sans-serif;
	background: url(../images/megamenu/menu-arrow-button.gif) 0px 2px no-repeat;
}
.megamenu ul li a.mega-cat-2:hover {
	color: #273c75;
}
.megamenu ul li a.mega-cat-2 div.cat-2-arrow {
	color: #b9d5fd;
}
.megamenu ul li a.mega-cat-2:hover div.cat-2-arrow {
	color: #88b3ee;
}
.megamenu ul li a.mega-cat-2:focus {
	color: #000;
}
.megamenu ul li a.mega-cat-2:focus div.cat-2-arrow {
	color: #3577d1;
}


/************* CAT 3 *********************	*/


.megamenu ul li .mega-cat-3 {
	float: left;
	clear: none;
	width: 300px;
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: -20px;
}
.megamenu ul li .cat3-content a span {
	margin-top: -15px;
	padding-right: 6px;
	color: #074395;
}
.megamenu ul li .mega-cat-3 h3 {
	padding-bottom: 10px;
}
.megamenu ul li .mega-cat-3 h3 a {
	padding: 5px 0px 0px 0px;
	margin: 0px 0px -5px -3px;
}
.megamenu ul li .mega-cat-3 h3 a span {
	color: #000;
	display: block;
	font-size: 16px;
	font-weight: bold;
	display: inline;
}

.megamenu ul li .mega-cat-3 h3 a:hover span {
	color: #000;
}
.megamenu ul li .cat3-content h3 {
	color: #418cf2;
	font-size: 13px;
	font-weight: normal;
	display: block;
}
.megamenu ul li .mega-cat-3 h3 span :hover {
	text-decoration: underline;
}
.megamenu ul li .cat3-content {
	margin: 30px 0px 0px 20px;
	width: 300px;
}
.megamenu ul li .cat3-content a {
	background-color: #bad7ff;
	border: none;
	width: 300px;
	color: #418cf2;
	padding: 5px 0px 5px 0px;
	font-size: 12px;
	margin: 0px;
}
.megamenu ul li .cat3-content a:hover {
	text-decoration: underline;
}
#add-existing a {
	display: block;
	width: 146px;
	text-align: center;
	background-color: #526277;
	color: #fff;
	padding: 8px 0px 9px 0px;
	border-left: 1px #ffffff solid;
	border-right: 1px #ffffff solid;
}
#add-existing a:hover {
	background-color: #212934;
}
.button-nav-wrap {
	width: 100%;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 5px;
}
.btn-nav-list {
	border: 1px solid #0f6ae6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	color: #0f6ae6;
	padding: 4px;
	background: #ffffff;
	cursor: pointer;
}
#order-edit a {
	display: block;
	width: 146px;
	text-align: center;
	background-color: #f6e630;
	color: #000;
	padding: 8px 0px 9px 0px;
	border-left: 1px #ffffff solid;
	border-bottom: 1px #f6e630 solid;
}
.order-edit-banner {
	border-left: 1px #ffffff solid;
	border-right: 1px #ffffff solid;
	height: 24px;
	background: #f6e630;
	padding: 2px 0px 2px 10px;
	font-weight: bold;
}
.order-edit-banner span {
	margin-left: 30px;
}
.btn-order-edit {
	cursor: pointer;
	border: 1px solid #c5c5c5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	color: #000000;
	padding: 2px 6px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 9%, #d3d3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#ffffff), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 9%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 9%,#d3d3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 9%,#d3d3d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 9%,#d3d3d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-8 */
}

.btn-order-edit:hover {
	cursor: pointer;
	border: 1px solid #c5c5c5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	color: #000000;
	padding: 2px 6px;
	background: #f7f7f7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: #f7f7f7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjViNWI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #f7f7f7 25%, #b5b5b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#f7f7f7), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 25%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 25%,#b5b5b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 25%,#b5b5b5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 25%,#b5b5b5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-8 */
}

/*------------view hide buttons---------------*/
.view-hide-images  {
	width: 120px;
	height: 25px;
	float: left;
	clear: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
.viewbtn {
	display: block;
	width: 100px;
	height: 21px;
	background: url(../images/mil/show-hide-btn.png) 1px 5px no-repeat;
	border: none;
}
.hidebtn {
	width: 100px;
	height: 21px;
	background: url(../images/mil/show-hide-btn.png) 1px -21px no-repeat;
	border: none;
}

.megamenu li.active > a {
	background-color: #0849a1;
}

#megaMenuLoadingMessage li a.spinner {
	background: #93bcf4 url(../images/common/ajax-loader.gif) no-repeat;
	background-position: 100px 11px;
}

/*-------------brands page----------------*/

.alpha-letter {
	width: 8px;
	height: 10px;
	padding: 3px 6px 3px 6px;
	margin: 2px 3px;
	background-color: #ddebff;
	font-size:12px;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
/*	border: 1px #93bcf4 solid;*/
}
.alpha-letter-inactive {
	width: 8px;
	height: 10px;
	padding: 3px 6px 3px 6px;
	margin: 2px 3px;
	background-color: #eeeeee;
	color: #898989;
	font-size:12px;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.alpha-list {
	width: 94%;
	border-top: #e2e7ee 1px solid;
	padding: 5px 0px;
}

.megamenu ul li a.mega-cat-2 .cat-2-arrow {
    width: 16px;
	height: 18px;
	background: url(../images/megamenu/menu-arrow-button.gif) 0px 2px no-repeat;
}	
	
.megamenu ul li a.mega-cat-2:hover .cat-2-arrow {
	background: url(../images/megamenu/menu-arrow-button.gif) 0px -22px no-repeat;
}

.megamenu ul li a.mega-cat-2-active .cat-2-arrow {
	background: url(../images/megamenu/menu-arrow-button.gif) 0px -22px no-repeat;
}
