
/* begin prod details */

.ui-widget-content {
border:1px solid #D7D7D7;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border:1px solid #D7D7D7;
}




.green-e-prod { margin-right:55px; margin-top:25px;} 

.table-top-bar-L {
	background:url("../../images/global/table-top-bg-L.gif") no-repeat scroll 0 0 transparent;
	float:left;
	height:5px;
	margin:0;
	padding:0;
	width:5px;
}
.promo-bg-rpt {
	border-color:-moz-use-text-color #D7D7D7;
	border-left:1px solid #D7D7D7;
	border-right:1px solid #D7D7D7;
	border-style:none solid;
	border-width:medium 1px;
}
.promo-txt {
	margin-left:55px;
	height:138px;
}
.promo-txt p {
	font-size:11px;
	padding:3px;
}
.table-top-bar-R {
	background:url("../../images/global/table-top-bg-R.gif") no-repeat scroll 0 0 transparent;
	float:right;
	height:5px;
	margin:0;
	padding:0;
	width:5px;
}
.table-top-bar {
	background:url("../../images/global/table-top-bg-M.gif") repeat-x scroll 0 0 transparent;
	height:5px;
	margin:0;
	padding:0;
	width:inherit;
}
.right-promo-cat {
	padding-bottom:15px;
	width:178px;
	height:145px;
}
.table-bottom-bar {
	background:url("../../images/global/table-bottom-bg-M.gif") repeat-x scroll 0 0 transparent;
	height:5px;
	margin:0;
	padding:0;
	width:inherit;
}
.table-bottom-bar-L {
	background:url("../../images/global/table-bottom-bg-L.gif") no-repeat scroll 0 0 transparent;
	float:left;
	height:5px;
	margin:0;
	padding:0;
	width:5px;
}
.table-bottom-bar-R {
	background:url("../../images/global/table-bottom-bg-R.gif") no-repeat scroll 0 0 transparent;
	float:right;
	height:5px;
	margin:0;
	padding:0;
	width:5px;
}
.avail-update {
	background-repeat:no-repeat;
	height:537px;
	margin-left:15px;
	margin-top:30px;
	padding-bottom:59px;
	width:700px;
	background:none;
}
.promo p {
	margin-left:65px;
	margin-top:10px;
	width:294px;
	font-weight:normal;
}
.promotxt {
	color:#003366;
	font-weight:bold;
	padding-bottom:8px;
}
.int-breadcrumb {
	margin-left:25px;
	margin-top:0;
}
.shoppingfor {
	border-left:1px solid #0A3679;
	float:left;
	height:48px;
	padding:10px 0 0 10px;
	width:194px;
}
.prod-config p {
	margin-left:95px;
}
.addtolist-int {
	margin-left:97px;
	width:93px;
}
.ui-tabs {
	height:auto;
	padding:0.2em;
	position:relative;
	width:670px;
}
.ui-widget-header {
	font-weight:bold;
	background:none;
	border:none;
}
.ui-tabs .ui-tabs-nav {
	margin:-42px 0 0;
	padding:0.2em 0.2em 0;
}
.ui-tabs .ui-tabs-panel {
	background:none repeat scroll 0 0 transparent;
	border-width:0;
	display:block;
	margin-top:35px;
* html margin-top:65px;
}
table#prod-details-tbl {
	width:424px;
}
table#prod-details-tbl td {
	padding:5px;
}
table#prod-details-tbl tr {
	border-color:-moz-use-text-color #CCCCCC;
	padding:3px; 
}

.tblhead-white {
	color:#ffffff;
}
.ui-tabs .ui-tabs-nav li {
border-bottom:0 none !important;
float:left;
list-style:none outside none;
margin:0;
padding:0;
position:relative;
top:1px;
white-space:nowrap;
}

tr.detail-head-prod-bg {
background-image:url("../../images/catalog/prod-header-bg.gif");
background-repeat:no-repeat;
border:0px;
border-top:none;
height:29px;
margin:0px;
padding:0px;
width:424px;
}

.int-deets { 	border:1px solid #CCCCCC;
	border-style:none solid;
	border-width:medium 1px;
 } 


.int-deets2 { 	border-right:1px solid #CCCCCC;
	border-right-style:none solid;
	border-right-width:medium 1px;
 } 
/* end prod details */