@import url(../catalog/narrowBy.css);
@import url(../common/address/readOnlyAddress.css);
@import url(../common/address/addressBook.css);
@import url(../order/approval.css);
@import url(../order/order-list.css);

/*****************************************************************************
	product list style
*****************************************************************************/


.panel-n {
	float: right;
	/*width: 740px;*/
	width: 712px;
	display: inline;
	margin: 15px 5px 0 0;
	padding: 0 5px 15px 15px;
}
.panel-n-body {
}
.panel-n .panel-n-bg {
}
.panel-n .panel-n-bg-bottom {
	overflow: hidden;
	width: 100%;
	padding: 0 0 13px;
}
.panel-n .holder {
	/*width: 725px;*/
	width: 710px;
	overflow: hidden;
}
.choose-form {
	float: right;
	margin: 1px 0 0;
	padding: 0 12px 0 0;
}
.choose-form label {
	color: #000;
	font-size: 1.2em;
	line-height: 1.2em;
	margin: 0 8px 0 0;
	vertical-align: middle;
}
.choose-form .type {
	width: 76px;
	margin: 0 42px 0 0;
	vertical-align: middle;
}
.choose-form .money {
	width: 57px;
	vertical-align: middle;
}
.panel-n .info {
	padding: 12px 0 0 11px;
}
.panel-n .info p {
	font-size: 1.2em;
	line-height: 1.27em;
	margin: 0;
	padding: 0 0 18px;
}
.panel-n .info p a:hover {
	text-decoration: none;
}
.panel-n .info ul {
	font-size: 1.2em;
	line-height: 1.27em;
	margin: 0;
	padding: 0 0 15px;
}
.panel-n .info ul li {
	/*float: left;*/
	list-style: none;
}
.panel-n .info ul li.account {
	width: 207px;
}
.panel-n .info ul li.add {
	width: 111px;
}
.panel-n .info ul li.update {
	width: 256px;
}
.panel-n .info ul li a:hover {
	text-decoration: none;
}
