@import url(../../user/my-account.css);
@import url(../../home/home.css);
.form-sign-in a {
	margin: 0 0 0 10px;
}

.sign-in .content {
  text-align:left;
}

.sign-in-full-page h3	{
	font-size:15px;
	font-weight:bold;
	line-height:1.5;
	text-align: center;
}

.forgotPwdTable
{
	
}

.forgotPwdTable tr
{
	height: 3.5em;
}

.forgotPwdTable td
{
	vertical-align: bottom;
}