/*****************************************************************************
 * Theme 1 styling - green theme

 * Theme is a basic mechanism capturing the UI look-and-feel in Webchannel
 * applications that can be changed as a whole. It represents a collection of
 * design artifacts such as style sheets, images, scripts...etc. When custom
 * themes are desired, corresponding artifacts should be provided and the
 * applications will use those to overwrite the default. Currently theme can
 * be changed based on store front.

 * This file, green-1.css, is the style sheet intended to capture style rules
 * that could be changed when theme is changed. Ideally all the prominent
 * displaying effects should first be captured by style rules - no hard coded
 * styles are allowed, then these style rules should be placed inside this file.
 * Currently the focus is put on capturing: font family, font color, background
 * color and images.

 *****************************************************************************/


/*****************************************************************************
 * General styles
 *****************************************************************************/
body {
	/*font: 1.1em/1.2em Arial, Helvetica, sans-serif;*/
	font-size:1.3em;
	color: #000;
	background-color: #fff;
	background-image: url('../../../images/shape.svg_png?width=1&height=700&fillGradientType=t2b&fillColor=gray&borderWidth=0&curve=0');
	background-repeat:repeat-x;
}

#main {
	background-color: #fff;
}

img {
	border:none;
}

a:focus {
	outline:none;
}

a {
	color: #094B53;
}

a:hover {
	color: #363;
}

html {
	font-size: 62.5%;
}

/*
* {
	font-size: 100.01%;
}
*/


/*---------------------------------------------------------------
 * Font families are designated through the following rules
 * TODO: determine if definition for ul, li, th, td..etc. are needed
 *---------------------------------------------------------------*/

body {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

a {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

form {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

form input{
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

form select{
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

/* This class should be assigned to major/minor title text in the pages. It's
	different than the <title> tag because we do not use the same style for all
	<title>
 */
.titleText{
	font-family: Verdana, Geneva, sans-serif;
}

/*---------------------------------------------------------------
 * Use the following to control the size of the text
 *---------------------------------------------------------------*/
h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

h5 {
	font-size: 0.9em;
}

/* no reference */
h6 {
	font-size: 0.8em;
	color:#999999;
}

/* no referece */
.largeBody {
	font-size: 1.4em;
}

/* no reference */
.smallBody {
	font-size: 1.0em;
}

/* referenced by: 3 */
.tinyBody {
	font-size: 0.9em;
}

/* no reference */
.footnote {
	font-size: .7em;
}

/* Used for page sub heading, such as "Default Sold To Address" in organization's
   general info page */
.subHeaderText
{
	padding:15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
}

/* Used for major page heading, such as "Advanced Search" in advanced search page,
   "Mike Scott Default Cart" in draft order detail, and "View DataSolve user list"
   in user list */
.headerText
{
	padding:15px;
	font-size: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}

/* Used in places for quick search header text "Search by:" */
.themeSubHeader
{
	color: #004d52;
	padding:15px 0 0 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
}

/* no reference
#headerRight a {
font: 10pt Arial, Helvetica, sans-serif;
}
 */

/* no reference
.smLink {
font: 9pt Arial, Helvetica, sans-serif;
}
*/

/*---------------------------------------------------------------
 * Font color related rules
 *---------------------------------------------------------------*/
/* white text */
.backgroundText {
color:#ffffff;
}

/* white text */
.backgroundText a {
color:#ffffff;
}

/* add padding to the top */
.padTop {
padding-top:15px;
}

/*****************************************************************************
 * common page header, including search box
 *****************************************************************************/
.commonHeader-subnav li {
	list-style: none;
	background: url(../../images/theme/green/common/header/sep.gif) no-repeat 0 2px;
	color: #094B53;
	font-size: 1.1em;
	line-height: 1.1em;
}

.commonHeader-subnav li a,
.shopping-cart-1 a {
	color: #094B53;
}

.commonHeader-subnav li a:hover,
.shopping-cart-1 a:hover,
.searchbox-form-search .searchbox-links a:hover {
	text-decoration: none;
	color: #363;
}

/* control the look and feel of mini-cart */
.shopping-cart-1 {
	color: #000;
	font-size: 1.0em;
	line-height: 1.1em;
	background: url(../../images/theme/green/common/header/cart.gif) no-repeat;
}

.searchbox-1 .searchbox-form {
	/*background: url(../../images/theme/green/common/header/form-bg.gif) no-repeat;*/
  background-color: #A2BB37;
}

.searchbox-1 .searchbox-form .searchbox-form-bg {
	/*background: url(../../images/theme/green/common/header/form-bg-right.gif) no-repeat 100% 0;*/
}

.searchbox-1 .searchbox-form label {
	font-size: 1.3em;
	line-height: 17px;
	color: #fff;
	font-weight: bold;
}

/*
.searchbox-1 .searchbox-form #search {
	font: 11px/14px Arial, sans-serif;
}
*/

.searchbox-1 .searchbox-form select {
	/*font: 11px/14px Arial, sans-serif;*/
	font-size:0.9em;
	line-height:1.0em;
}

/*
.searchbox-1 .links a {
	font-size: 1.1em;
	line-height: 1.26em;
}
*/

/*****************************************************************************
 * Navigate bar: navigation in catalog, checkout flow and user account
 *****************************************************************************/

.heading .pointer {
	background: url(../../images/theme/green/component/button.gif) no-repeat;
}

.commonNavigate
{
	background: #ddd;
}

#navigate {
}

#navigate li {
	list-style: none;
	color: #000;
	font-size: 1.1em;
	line-height: 16px;
	background: url(../../images/theme/green/navigate/sep-2.gif) no-repeat;
}

#navigate li.first {
	background: none;
}

#navigate li a {
	text-decoration: none;
}

#navigate li a span {
	background: url(../../images/theme/green/navigate/arrow.gif) no-repeat 100% 14px;
	cursor: pointer;
}

#navigate li .drop-down li a {
	color: #00393d;
	background: url(../../images/theme/green/navigate/arrow-2.gif) no-repeat 145px 13px;
}

#navigate li .drop-down li ul.inner {
	background-color: #003c42;
}

#navigate li .drop-down li a.button {
	background: #003c42 url(../../images/theme/green/navigate/arrow-2.gif) no-repeat 145px -60px;
	color: #fff;
}

#navigate li .drop-down li.close a.button {
	background: #fff url(../../images/theme/green/navigate/arrow-2.gif) no-repeat 145px 13px;
	color: #00393d;
}

#navigate li a.active {
	background:#003c42;
	color: #fff;
	font-weight: bold;
	text-align:center;
}

#navigate li a.active span {
	background: none;
}

#navigate li .drop-down {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #fff;
}

#navigate li .drop-down li {
	background: none;
	font-size: 1.0em;
	line-height: 15px;
	border-bottom: 1px solid #ccc;
}

#navigate li .drop-down li a:hover {
	text-decoration: underline;
}

#navigate li .drop-down li ul li {
	border: none;
}

#navigate li .drop-down li ul li a {
	background: none;
	color: #fff;
}

/* single step checkout navigation */
#navigateSingleCheckout {
	background: #ddd;
}

#navigateSingleCheckout li {
	list-style: none;
	color: #000;
	font-size: 1.1em;
	line-height: 16px;
	background: url(../../images/theme/green/navigate/sep-2.gif) no-repeat;
}

#navigateSingleCheckout li a {
	text-decoration: none;
	background: #ddd;
}

#navigateSingleCheckout li a.active {
	background:#003c42;
	color: #fff;
	font-weight: bold;
}

#navigateSingleCheckout li a span.arrow {
	background: url(../../images/theme/green/navigate/checkout-nav-bg.gif) no-repeat 100%;
}

#navigateSingleCheckout li a:hover span.arrow {
	background: url(../../images/theme/green/navigate/checkout-nav-bg2.gif) no-repeat 100%;
}

#navigateSingleCheckout li span.blankArrow {
	background: url(../../images/theme/green/navigate/checkout-nav-bg.gif) no-repeat 100%;
}

/* single step checkout navigation */

#navigateSteps {
	background-color:#808080;
}

#navigateSteps li {
	list-style: none;
	color: #004d52;
	font-size: 1.1em;
	line-height: 16px;
	background: url(../../images/theme/green/navigate/sep-2.gif) no-repeat;
}

#navigateSteps li a {
	text-decoration: none;
	background: url(../../images/theme/green/navigate/main-nav-active-bg.gif) repeat-x;
}

#navigateSteps li a.active {
	color: #fff;
	font-weight: bold;
}

#navigateSteps li a span {
	cursor: pointer;
}
#navigateSteps li a span.arrow {
	background: url(../../images/theme/green/navigate/checkout-nav-bg.gif) no-repeat 100%;
}

#navigateSteps li a:hover span.arrow {
	background: url(../../images/theme/green/navigate/checkout-nav-bg2.gif) no-repeat 100%;
}

#navigateSteps li span.blankArrow {
	background: url(../../images/theme/green/navigate/checkout-nav-bg.gif) no-repeat 100%;
}

.progressBar {
  background-color:gray;
}

.progressBar li {
  list-style: none;
  color: #004d52;
  font-size: 1.1em;
  line-height: 16px;
  background-color:transparent;
  background-image: url(../../images/theme/green/navigate/sep-2.gif) ;
  background-repeat: no-repeat;
}
.progressBar li a {
  text-decoration: none;
  /*background: url(../../images/theme/green/navigate/main-nav-active-bg.gif) repeat-x;*/
}
.progressBar li.active,
  .progressBar li.active a {
  color: #fff;
  font-weight: bold;
}
/* navigate with "more" box */
.navMoreInfo{
background:#FFFFFF;
border:1px solid #023237;
border-top:0px;
}

/*****************************************************************************
Component: vertical-filter
vertical-filter allows user to narrow product choice by type
*****************************************************************************/

.secondary-nav {
	background:#ffffff;
}

.side-panel {
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

.vertical-filter
{
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

.vertical-filter h2 {
	/*background: #023237;*/
	background-color: #004d52;
	border-bottom: 1px solid #b3b3b3;
}

.vertical-filter h2 span {
	/*background: #023237;*/
	background-color: #004d52;
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.2em;
}

.vertical-filter ul {
	font-size: 1.1em;
	line-height: 1.1em;
}

.vertical-filter ul li ul {
	font-size: 0.9em;
	line-height: 0.9em;
}

.vertical-filter ul li {
	border-bottom: 1px solid #b3b3b3;
	list-style: none;
}

.vertical-filter ul li a {
	text-decoration: none;
}

.vertical-filter ul li ul li {
	border: none;
}

.vertical-filter ul li ul li a {
	background: none;
}

.vertical-filter ul li div.link {
	float:left;
	width:75%;
}

.vertical-filter ul li a.button {
	width:15%;
 	float:right;
 	background: url(../../images/theme/green/vertical-filter/arrow-3.gif) no-repeat 15px -71px;
}

.vertical-filter ul li.close a.button {
	width:15%;
 	float:right;
	background: url(../../images/theme/green/vertical-filter/arrow-3.gif) no-repeat 15px 12px;
}


/*****************************************************************************
Component: listTable
List table is the general UI component using table element to display a list
of entities with various type of detail inside table cells.
*****************************************************************************/

.listTableContainer {
  border:none;
}

.listTableHeader, .listTableHeader2
{
	background-color: #3f797d;
}

.listTableSectionHeader
{
	background-color: #3f797d;
}

/* TODO: to remove pending on testing; this kind of setting has scaling effect
   on any size setting inside
*/
/*
.listTableHeader td
{
	font-size: 0.9em;
}
*/

/* Define the font style for the header text in the primary table header */
.listTableHeader .listTableHeaderText
{
	color:#ffffff;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
}

.listTableSectionHeader .listTableSectionHeaderText
{
	color:#ffffff;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
}

.listTableHeader2 td
{
	font-size: 1.0em;
}

/* Define the font style for the header text in the secondary table header */
.listTableHeader2 .listTableHeaderText
{
	color:#ffffff;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1.0em;
}

/* No reference */
/*
.listTableItem2 td
{
	font-size: 1.0em;
}
*/

.borderRight
{
	border:1px solid #cccccc;
	border-style:outset;
	border-collapse:separate;
}

.mainTableRow1
{
	background: #e9f5f3;
}

/*
.mainTableRow1 td
{
	background: #E9F5F3;
}
*/

.altBorder
{
	border-right: 1px solid #fff;
}

.submitBtnBg1
{
  padding-left:.25em;
  padding-right:.25em;
  padding-top:.25em;
  padding-bottom:.25em;
  /*border:solid 1px #cccccc;*/
  background: #999999;
  color: #004e50;
  font-weight: bold;
  /*border:none;*/
  margin-right:10px;
  /*min-width:6em;*/
  text-decoration: none;
  /*min-width:6em;*/
  border:none;
}

.submitBtnBg2
{
  padding-left:.25em;
  padding-right:.25em;
  padding-top:.25em;
  padding-bottom:.25em;
  /*border:solid 1px #fff;*/
  background: #004e50;
  color: #fff;
  font-weight: bold;
  border:none;
  margin-right:10px;
  text-decoration: none;
  /*min-width:6em;*/
}

.submitBtnBg2:hover {
  color:#004e50;
}

.submitBtnBg3
{
  padding-left:.25em;
  padding-right:.25em;
  padding-top:.25em;
  padding-bottom:.25em;
  /*border:solid 1px #fff;*/
  background: #26717a;
  color: #004e50;
  font-weight: bold;
  /*border:outset 1px #ccc;*/
  border:none;
  margin-right:10px;
  text-decoration: none;
}

.submitBtnBg4
{
  padding:.1em;
  /*border:outset 1px #fff;*/
  background: #eeeeee;
  color: #004d52;
  font-weight: bold;
  /*border:outset 1px #fff;*/
  border:none;
  margin-right:10px;
  text-decoration: none;
}

/* no reference
.textUnderline
{
	text-decoration:underline;
}
*/

.bottomBorder
{
	border-bottom:1px solid #ccc;
}
.bottomBorderDash
{
	border-bottom:1px dashed #ccc;
}
.showDetails
{
}
.hideDetails
{
}


/*****************************************************************************
 Styles for breadcrumb component
*****************************************************************************/
.breadcrumb
{
	/*font: 10pt Arial, Helvetica, sans-serif;*/
	font-size: 1.1em;
	font-weight: normal;
}

.breadcrumb a
{
	text-decoration: underline;
}

/* no reference */
/*
.commandBtn
{
	margin: 2px;
	display: block;
	text-align: center;
	font-size: 9pt;
 	font-weight: bold;
	text-decoration: none;

 	height:30px;
	line-height:30px;
	width:90px;
	background: url(../../images/page/catalog/command.gif) no-repeat;
	color:#ffffff;
	background-color: #004d52;
}
*/
/*****************************************************************************
footer styles
*****************************************************************************/

.commonFooter {
	border-top: 2px solid #A1B82E;
}

.commonFooter ul li {
	background: url(../../images/theme/green/common/footer/sep-3.gif) no-repeat 0 3px;
	font-size: 1.0em;
	line-height: 1.1em;
}

.commonFooter ul li.first {
	background: none;
}

.commonFooter ul li a {
	color: #094B53;
}

.commonFooter ul li a:hover {
	text-decoration: none;
	color: #363;
}


/*****************************************************************************
template-1 styles
*****************************************************************************/

.mainContent
{
	background:#ffffff;
}

/*****************************************************************************
product list page: catalog.html
*****************************************************************************/

/*
.itemContentMid span
{
	//font-family: Verdana;
	font-size: 8pt;
	color: #565B5D;
}
*/
.productName a
{
 	font-weight: bold;
	/*font-family: Verdana;*/
	font-size: 1.1em;
	color: #565B5D;
}

.superssion a
{
	color: #ff0000;
}

.itemContentMid img
{
	border:none;
}

.itemContentRight h3
{
	color: #565B5D;
}

.headerProductName
{
 	font-weight: bold;
	font-family: Verdana;
	font-size: 1.6em;
	color: #565B5D;
}

/*****************************************************************************
Item detail page:
*****************************************************************************/
/* Configurable product - item detail kit specification tab */
#kitContent th
{
	font-family: Verdana, Geneva, sans-serif;
}

#kitContent td a
{
	font-family: Calibri,Arial,Helvetica,sans-serif;
}

/* Variant product - item detail variant tab */
#variantContent .contentLeft
{
	border: 1px solid #ccc;
}

#variantContent .contentRight
{
	border: 1px solid #ccc;
}

.variantOption
{
	border: 1px solid #ccc;
}

.compatibleVariantOption
{
	background-color: none;
    -moz-opacity: 1.0;
    opacity:1.0;
    filter: alpha(opacity=100);		
}

.nonCompatibleVariantOption
{
	background-color: #ccc;
    -moz-opacity: 0.6;
    opacity:.6;
    filter: alpha(opacity=60);
}

.selectedVariantOption
{
	border: 2px solid blue;
}

.nonSelectedVariantOption
{
	border: 1px solid #ccc;
}

.currentSelectedVariantOption
{
	border: 2px solid red;
}

.attrImg
{
	border: 1px solid #ccc;
}
/*****************************************************************************
 Tab 1 Styling
*****************************************************************************/

.tab-1 li {
	border-color: gray;
  background-color: #eeeeee;
}

.tab-1 a {
	text-decoration:none;
}

/*.tab-1 a:hover {*/
	/*background-color: #E5F1EF;*/
/*}*/

.tab-1 .selected {
	border-color: gray;
  background: #ffffff;
}

.tab-1 .selected a {
	color: #000000;
	font-weight: bold;
}

.tabContent {
	border: 1px solid gray;
	background-color: white;
}

.tab-1 a
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
}

/******************************************************************************
 * Simple Table Component Styling                                             *
 ******************************************************************************/
.simpleTable {
}
.simpleTableHeader {
  font-weight: bold;
}
.simpleTableOddRow {
   background-color: #e9f5f3;
}
.simpleTableEvenRow {
   background-color: white;
}

.simpleTableMessageRow {
  text-align: center;
}
/******************************************************************************
 * Catalog theme style
 ******************************************************************************/
#productList
{
	background-color:white;
}

/******************************************************************************
 * Main content
 ******************************************************************************/
.t1-main-content,
  .t2-mainContent,
  .t3-main-content,
  .t4-container,
  .t5-main-content,
  .t6-main-content,
  #t2-mainContent,
  #t6-mainContent {
    /*background-color: #e1f8fb;*/
    background-image:url('../../../images/shape.svg_png?width=1000&fillColor=%23E5F1EF&borderColor=%23000000&curve=0&fillGradientType=r2l&height=1&borderWidth=0');
    background-repeat: repeat-y;
    background-position:right;
}

  .t3-main-content{
    /*background-color: #e1f8fb;*/
    background-image:url('../../../images/shape.svg_png?width=600&fillColor=%23E5F1EF&borderColor=%23000000&curve=0&fillGradientType=r2l&height=1&borderWidth=0');
    background-repeat: repeat-y;
    background-position:right;
}

/******************************************************************************
 * Simple Data Component Styling                                             *
 ******************************************************************************/
.simpleDataContent {
   margin: 5px;
   background-color: transparent;
}

.simpleDataContent p {
  background-color:transparent;
}

/******************************************************************************
 * Error Message                                                              *
 ******************************************************************************/
/* This is the style used for form validation. It is reserved for error messages
   created by struts form validation and used in generated code. DO NOT manually
   use this style in your page */
.errorMessage {
    color: #FF0000;
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
}

/* This is the style for page level error message displayed at the top of the page */
.pageErrorMessage {
    color: #FF0000;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
}



/******************************************************************************
 * Dialog Box                                                                 *
 ******************************************************************************/
.dialog-container {
  background-color:white;
  border-color: gray;
}

.dialog-container .dialog-control {
  background-image:url(../../images/theme/green/common/removeButton.gif);
}

.modal-dialog-shadow {
  background-color:white;
}


/******************************************************************************
 * Sliders
 ******************************************************************************/
.sliderOut, .sliderIn {
  width:10px;
  height:10px;
  border-width:0;
  cursor: pointer;
}
.sliderIn {
  background-image:url('../../images/theme/green/grid/bgRowArrowDn.png');
}
.sliderOut {
  background-image:url('../../images/theme/green/grid/bgRowArrowUp.png');
}

/******************************************************************************
 * Styles used to overwrite Ext window
 * Usage: set property "cls" with value "swc-ext" when create the Ext.Window
 ******************************************************************************/
.swc-ext .x-window-tl .x-window-header{
  color:#15428b;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Calibri,arial,verdana,sans-serif;
  padding:5px 0 4px 0;
}
.swc-ext .x-window-tc{
  /*background:transparent url(../../../ext/resources/images/default/window/top-bottom.png) repeat-x 0 0;*/
  overflow:hidden;
  zoom:1;
}
.swc-ext .x-window-tl {
  /*background: transparent url( ../../../ext/resources/images/default/window/left-corners.png ) no-repeat 0 0;*/
  padding-left: 6px;
  zoom: 1;
  z-index: 1;
  position: relative;
}
.swc-ext .x-window-tr {
 /* background: transparent url( ../../../ext/resources/images/default/window/right-corners.png ) no-repeat right 0;*/
  padding-right: 6px;
}
.swc-ext .x-window-bc {
  /*background: transparent url( ../../../ext/resources/images/default/window/top-bottom.png ) repeat-x 0 bottom;*/
  zoom: 1;
}
.swc-ext .x-window-bc .x-window-footer {
  padding-bottom: 6px;
  zoom: 1;
  font-size: 0;
  line-height: 0;
}
.swc-ext .x-window-bl {
  /*background: transparent url( ../../../ext/resources/images/default/window/left-corners.png ) no-repeat 0 bottom;*/
  padding-left: 6px;
  zoom: 1;
}
.swc-ext .x-window-br {
  /*background: transparent url( ../../../ext/resources/images/default/window/right-corners.png ) no-repeat right bottom;*/
  padding-right: 6px;
  zoom: 1;
}
.swc-ext .x-window-mc {
  border: 1px solid #99bbe8;
  padding: 0;
  margin: 0;
  font: normal 1.1em Calibri, arial, helvetica, sans-serif;
  background: #dfe8f6;
}

.swc-ext .x-window-ml {
  /*background: transparent url( ../../../ext/resources/images/default/window/left-right.png ) repeat-y 0 0;*/
  padding-left: 6px;
  zoom: 1;
}
.swc-ext .x-window-mr {
  /*background: transparent url( ../../../ext/resources/images/default/window/left-right.png ) repeat-y right 0;*/
  padding-right: 6px;
  zoom: 1;
}
/* gray theme, no special graphics */
/*.swc-ext .x-window-tc,*/
/*.swc-ext .x-window-tl,*/
/*.swc-ext .x-window-tr,*/
/*.swc-ext .x-window-br,*/
/*.swc-ext .x-window-bc,*/
/*.swc-ext .x-window-bl,*/
/*.swc-ext .x-window-mr,*/
/*.swc-ext .x-window-ml {*/
  /*background:#888888;*/
/*}*/
/*.swc-ext .x-window-mc {*/
  /*background:#cccccc;*/
  /*font: normal 1.1em Calibri, arial, helvetica, sans-serif;*/
/*}*/
/*.swc-ext .x-window-tl .x-window-header{*/
  /*color:#444444;*/
  /*font-weight: bold;*/
  /*font-size: 1.0em;*/
  /*font-family: Calibri,arial,verdana,sans-serif;*/
  /*padding:5px 0 4px 0;*/
/*}*/
/*.swc-ext .x-window-tc,*/
/*.swc-ext .x-window-tl,*/
/*.swc-ext .x-window-tr { */
/*border-top: thin solid #444444;*/
/*}*/
/*
.swc-ext .x-window-bc,
.swc-ext .x-window-bl,
.swc-ext .x-window-br {
border-bottom: thin solid #444444;
}
.swc-ext .x-window-tl,
.swc-ext .x-window-bl,
.swc-ext .x-window-ml {
border-left: thin solid #444444;
}
.swc-ext .x-window-tr,
.swc-ext .x-window-br,
.swc-ext .x-window-mr {
border-left: thin solid #444444;
}
*/

/*.swc-ext .x-window-tl .x-window-header{*/
  /*color:#15428b;*/
  /*font-weight: bold;*/
  /*font-size: 1.0em;*/
  /*font-family: Calibri,arial,verdana,sans-serif;*/
  /*padding:5px 0 4px 0;*/
/*}*/
/*.swc-ext .x-window-tc{*/
  /*background:transparent url(../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacityPct=80&curve=0&borderWidth=2&clipX1=6&clipX2=7&clipY1=0&clipY2=6) repeat-x 0 0;*/
  /*overflow:hidden;*/
  /*/*zoom:1;*/
/*}*/

/*.swc-ext .x-window-tl {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=40&fillColor=%23ffffff&borderColor=%23888888&fillOpacityPct=80&curve=5&borderWidth=2&clipX1=0&clipX2=6&clipY1=0&clipY2=30 ) no-repeat 0 0;*/
  /*padding-left: 6px;*/
  /*/*zoom: 1;*/
  /*z-index: 1;*/
  /*position: relative;*/
/*}*/

/*.swc-ext .x-window-tr {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=40&fillColor=%23ffffff&borderColor=%23888888&fillOpacityPct=80&curve=5&borderWidth=2&clipX1=6&clipX2=12&clipY1=0&clipY2=30 ) no-repeat right 0;*/
  /*padding-right: 6px;*/
/*}*/

/*.swc-ext .x-window-bc {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacityPct=80&curve=0&borderWidth=2&clipX1=6&clipX2=7&clipY1=6&clipY2=12 ) repeat-x 0 bottom;*/
  /*/*zoom: 1;*/
/*}*/

/*.swc-ext .x-window-bc .x-window-footer {*/
  /*padding-bottom: 6px;*/
  /*/*zoom: 1;*/
  /*font-size: 0;*/
  /*line-height: 0;*/
/*}*/

/*.swc-ext .x-window-bl {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacityPct=80&curve=5&borderWidth=2&clipX1=0&clipX2=6&clipY1=6&clipY2=12 ) no-repeat 0 bottom;*/
  /*padding-left: 6px;*/
  /*/*zoom: 1;*/
/*}*/

/*.swc-ext .x-window-br {*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacityPct=80&curve=5&borderWidth=2&clipX1=6&clipX2=12&clipY1=6&clipY2=12 ) no-repeat right bottom;*/
  /*padding-right: 6px;*/
  /*/*zoom: 1;*/
/*}*/

/*.swc-ext .x-window-mc {*/
  /*border: 1px solid #99bbe8;*/
  /*background: transparent url( ../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacityPct=80&curve=5&borderWidth=2&clipX1=6&clipX2=7&clipY1=6&clipY2=7 ) repeat 0 0;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*font: normal 1.1em Calibri, arial, helvetica, sans-serif;*/
/*}*/

/*.swc-ext .x-window-ml {*/
  /*background: transparent url('../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacityPct=80&curve=0&borderWidth=2&clipX1=0&clipX2=6&clipY1=5&clipY2=6') repeat-y 0 0;*/
  /*padding-left: 6px;*/
  /*/*zoom: 1;*/
/*}*/

/*.swc-ext .x-window-mr {*/
  /*background: transparent url('../../../images/shape.svg_png?width=12&height=12&fillColor=%23ffffff&borderColor=%23888888&fillOpacityPct=80&curve=0&borderWidth=2&clipX1=6&clipY1=6&clipY2=7' ) repeat-y right 0;*/
  /*padding-right: 6px;*/
  /*/*zoom: 1;*/
/*}*/

/******************************************************************************
 * Styles used for Item Image viewer lighbox
 ******************************************************************************/
#ux-lightbox-loading{
	position: absolute;
	top: 40%;left: 0%;
	height: 25%;width: 100%;
	text-align: center;line-height: 0;
	background: url(../../images/theme/green/lightbox/lb-load.gif) no-repeat center 15%;
}
#ux-lightbox-navPrev:hover, #ux-lightbox-navPrev:visited:hover {
	background: url(../../images/theme/green/lightbox/lb-prev.png) left 33% no-repeat;
}
#ux-lightbox-navNext:hover, #ux-lightbox-navNext:visited:hover {
	background: url(../../images/theme/green/lightbox/lb-next.png) right 33% no-repeat;
}
#ux-lightbox-data #ux-lightbox-navClose:hover{
	background-image: url(../../images/theme/green/lightbox/lb-close-over.gif);
}

#ux-lightbox-data #ux-lightbox-navClose{
	background: url(../../images/theme/green/lightbox/lb-close.gif) no-repeat;
	width: 66px;
	height: 22px;
	float: right;
	padding-bottom: 0.7em;
	outline: none;
}
#ux-lightbox-dataContainer{
	/*font: 10px Verdana, Helvetica, sans-serif;
	background-color: #f3efec;*/
	font: normal 1.1em Calibri, arial, helvetica, sans-serif;
  	background: #dfe8f6;
	overflow: auto;
	line-height: 1.4em;
}
#ux-lightbox-data{
	padding:0 10px;
	color: #000000;
}

/*****************************************************************************
 * Styles used for adjustment lighbox
*****************************************************************************/

.componentLineBackground
{
	background:#ffffff;
}
