/*
   Template 7 is like template 4, but with a display region between the navigate
   bar and main content.  The purpose of this layout is to permit a prominant
   full width display ad.

   +-------------------------------------------+
   | t7-header                                 |
   +-------------------------------------------+
   | t7-navigate                               |
   +-------------------------------------------+
   | t7-container                              |
   | +---------------------------------------+ |
   | | t7-display                            | |
   | +----------------+----------------------+ |
   | | t7-mainContent | t7-secondary-content | |
   | +----------------+----------------------+ |
   +-------------------------------------------+
   | t7-footer                                 |
   +-------------------------------------------+

 */
.t7-header {
	width: 998px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.menu-items {
}

.t7-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t7-container
{
	width: 998px;
	padding:0;
	margin:0;
	top: 141px;
	overflow:hidden;
	background: transparent none repeat scroll 0 0;
}

/** End CP: fixed the header the page width **/

.t7-display {
  margin-left: 15px;
}

.t7-mainContent {
	float:left;
	margin:0 0 0 0;
	background:transparent;
  padding:0 0 15px 15px;
	width:646px;
}

.t7-footer	{
}

.t7-secondary-content	{
	color:#e1e1e1;
	float:right;
	font-size:10px;
	line-height:18px;
	margin:0px 15px 0 0;
	width:275px;
}

.t7-secondary-content h4	{
	color:#FFFFFF;
	font-size:20px;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	padding: 5px 0px 0px 15px;
}

