
.confirmation ul
{
	list-style:  none;
}

.mainContainer{
	padding-right:60px;
	padding-left:60px;
}

.listTableBody
{
	padding-right:20px;
	padding-left:20px;
}

.listButton
{
	padding-right:0px;
	padding-left:0px;
}

.top-td-align
{
	vertical-align: top; 
}