@import url(order-common.css);

  .adjustmentTableBody{
		margin-right:15px;
		margin-left:15px;
		padding:0;
		width:97%;
	}

	.adjustmentTableHeader{
		margin-top:5px;
		margin-bottom:5px;
	}

  .field-label {
    /*text-transform: capitalize;*/
  }
  .field-font{
    font-size: 1.4em;
  }

  .maxHeight{
	max-height:600px;
  }