@import url(../common/address/readOnlyAddress.css);
/*****************************************************************************
  Order Download
*****************************************************************************/
.bottomBorder
{
  border-bottom:1px dashed #ccc;
}
.padTop {
padding-top:15px;
}
.draftOrderMinorLine td {
  color: #808080;
}