@import url(../common/error.css);

/*****************************************************************************
	Shipping Option info
*****************************************************************************/

.top-td-align
{
	vertical-align: top;
}

.mainContainer{
		padding-right:60px;
		padding-left:60px;
	}

.topPadding0 td{
	padding-top:0px;
	padding-bottom:0px;
}

.secondaryTableHeader{
		margin-left:0px;
		margin-right:0px;
		width:100%;
}

.listTableBody td
{
	padding-left:0px;
}

.width-100
{
	width:100%;
}

.width-60
{
	width:60%;
}

.width-50
{
	width:50%;
}

.width-40
{
	width:40%;
}

.width-30
{
	width:30%;
}

.width-25
{
	width:25%;
}

.width-20
{
	width:20%;
}

.width-15
{
	width:15%;
}

.width-10
{
	width:10%;
}
.align-center
{
	text-align:center;
}
.align-left
{
	text-align:left;
}
.align-right
{
	text-align:right;
}

.padding-zero{
	padding:0px;
}

.carrierServiceDropDown{
	width: 100%
}