.dialog-container {
  border: none;
  margin:0;
  padding: 0 10px 0 0;
  position:absolute;
  width:50%;
  padding-right: 12px;
  padding-bottom: 12px;
  visibility: hidden;
  z-index:99999;
}

.dialog-container .dialog-control {
  background-repeat:no-repeat;
  background-position:right;
  padding-right:14px;
  position:absolute;
  right:8px;
  line-height: 16px;
  top:3px;
  margin:0;
  /*width:11px;*/
  /*height:11px;*/
  cursor:pointer;
}

.dialog-container .dialog-control:hover {
  text-decoration:none;
  cursor:pointer;
}
.dialog-container .dialog-control:active {
  text-decoration:none;
}
.dialog-container .dialog-control:visited {
  text-decoration:none;
}

.dialog-container .dialog-control:link {
  text-decoration:none;
}

.dialog-container .dialog-control img {
  border:none;
  height:11px;
}

.dialog-container .dialog-body {
  width:100%;
  /*max-height:300px;*/
  /*overflow-y:scroll;*/
}

.modal-dialog-shadow {
  background-color:white;
  /*background-image: url( '../../images/common/shadow.png' );*/
  height: 100%;
  left: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  width: 100%;
  z-index: 999;
  /* do not reorder the following. Correct inheritence depends on this.*/
  -moz-opacity: 0.4;
  opacity: .40;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}

