/************************************************************************************
 * QuickView
 ***********************************************************************************/
.quickViewLaunch
{
	margin-left: auto; 
	margin-right: auto;
	padding: 5px, 8px, 5px, 8px; 
	z-index: 100;
}

.quickViewLaunch a
{
	display: block;
	font-weight: bold;
	font-size: 1.1em;
	text-align:center;
	width:80px;
}
