
/*****************************************************************************
    draft order list
*****************************************************************************/

.paymentColumnData{
    width: 22%;
    text-align:left;
}
.paymentColumnHeader{
    width: 22%;
    text-align:left;
}
 