@charset "utf-8";
/* CSS Document */


body {
	padding: 0;
	margin: 0 auto;
}
a:link {
	color: #003399;
	text-decoration: none;
}
.ui-po-wrap {
	background-color: #FFFFFF;
	padding: 0;
	width: 1000px;
	min-height:700px;
}
.ui-po-brand {
	background: url("../../images/punchout/po-xpedx-logo.gif") no-repeat #062c77;
	height: 75px;
}
.ui-po-content {
	padding: 30px;
}
.ui-po-search {
	width: 300px;
	padding: 18px;
	height: 70px;
	background-color: #e7eef9;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius-topright: 12px;
	float: left;
	clear: none;
}
.ui-po-search span {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 0px 15px 0px;
}
.ui-po-errormsg {
	width: 550px;
	padding: 55px 0px 0px 20px;
	float: left;
	clear: none;
	font-family: Arial, Helvetica, sans-serif;
	color: red;
	font-size: 12px;
}

.ul-po-results {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 0px 10px 20px;
	color: #666666;
	font-weight: bold;
}
.ui-searchbox {
	height: 20px;
	width: 265px;
}
.ui-po-searchinput {
	padding-top: 15px;
	width: 265px;
	float: left;
	clear: none;
}
.ui-po-floatbtn {
	position: relative;
	width: 30px;
	float: left;
	clear: none;
	padding-top: 12px;
	padding-left: 5px;
}
.magnify-icon {
	position: absolute;
	left: 11px;
	top: 20px;
	width: 16px;
	height: 15px;
	cursor: pointer;
	cursor: hand;
}
.clearfix {
	clear: both;
}
#wrapper {
  width: 900px;
  margin-left: 20px;
    padding-top:10px;
    font-family:verdana;
    font-size:12px;
  }

.question {  
  width: 880px;
  float: left;
  background: #eeeeee;
  padding:8px 0px 8px 25px;
  cursor: pointer;
 background-image: url("../../images/punchout/ui-po-arrow.gif");
	background-repeat: no-repeat;
	background-position: 12px 12px;
	border-top:#FFF 1px solid;
	border-bottom:#ccc 1px solid;
  }
  
.answer {  
  width: 902px;
  float: left;
  background: #fff;
  border-left:#ccc 1px solid;
  border-right:#ccc 1px solid;
  border-bottom:#ccc 1px solid;
  }
.answer ul {
	list-style: none;
	}
.answer li {
	padding: 3px;margin-left:21px;
	}



.active {
 background-image: url("../../images/punchout/ui-po-arrow.gif");
	background-repeat: no-repeat;
	background-position: 12px -20px;
  }

.expand-links {
	padding-bottom: 10px;
	text-align: right;
	}
.blackText {
	color:#000;
}
.po-search-btn {
	height: 26px;
	width: 26px;
	margin-top: 3px;
	background: url("../../images/punchout/ui-po-magnifying.png") no-repeat;
	border:none;
}

/*New for body:*/

.bodyclass {
	background-color: #FFFFFF;
	padding: 0;
	margin: 0 auto;
	width: 1000px;
	background: url("../../images/punchout/1x700_background.png") repeat-x;
}
