/* template-6 master layout CSS */

.t6-header {
	width: 1024px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.t6-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t6-container 
{
	float:left;
	width:1024px;
	display:inline;
}

.t6-main-content
{
	float:right;
	width:825px;
	padding:0;
	margin:0;
}

.t6-vertical-filter 
{
	float:left;
	width:185px;
	padding:0;
	margin:0;
}
.t6-offer {
	clear:both;
	float:left;
	width:175px;
	padding:0;
	margin:15px 0 0 0;
}
.t6-footer 
{
}
