/* template-1 master layout CSS */

.t1-header {
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.t1-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t1-main-content
{
	float:right;
	width:742px;
	margin:0;
	padding-left:5px;
	padding-right:10px;
}

.t1-vertical-filter 
{
	float:left;
	width:225px;
	margin:0;
	padding-left:10px;
	padding-right:5px;
}

.t1-footer 
{
}