.t4-header {
	width: 998px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.menu-items {
}

.t4-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t4-container
{
	width: 998px;
	padding:0;
	margin:0;
	top: 141px;
	overflow:hidden;
	background: transparent   none repeat scroll 0 0;
}

/** End CP: fixed the header the page width **/

.t4-mainContent {
	float:left;
	margin:0 0 0 0;
	background:transparent;
    padding:0 0 15px 15px;
	width:646px;
}

.t4-footer	{
}

.t4-secondary-content	{
	color:#e1e1e1;
	float:right;
	font-size:10px;
	line-height:18px;
	margin:0px 15px 0 0;
	width:275px;
}

.t4-secondary-content h4	{
	color:#FFFFFF;
	font-size:20px;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	padding: 5px 0px 0px 15px;
}

