
/*****************************************************************************
     order list
*****************************************************************************/
/* TODO: REMOVE ONCE CPH HAS FINISHDED seeing if this can be promoted to common.css or grid.css */
.listTableHeader .listTableHeaderText
{
    padding-left: 15px;
}

.listWidgetTable
{
  height:150px;
}
.xclass{
     padding-left: 30px;
     border: 1px solid #ccc;
}
.orderListTable
{
    margin: 0 0 0 0;
    width: 95%;
    padding-left: 10px;
    margin-left: 10px;
}

.orderListTable td
{
      padding:10px;
}
.orderListTable th
{
     padding:10px;
}
.widgetTableHeader2
{
  clear:both;
  padding:0;
  margin:0;
  width:97%;
    border:0px;
}


.salesOrderNoColumnHeader{
    width: 22%;
}
.purchaseOrderNoColumnHeader{
    width: 22%;
}
.overallStatusColumnHeader {
    width: 22%;
}
.paymentStatusColumnHeader {
    width: 22%;
}

.modifytsColumnHeader{
    width: 22%;
}
.salesOrderNoColumnData{
    width: 22%;
}
.purchaseOrderNoColumnData{
    width: 22%;
}

.modifytsColumnData{
    width: 22%;
}
.overallStatusColumnData {
    width: 22%;
}
.paymentStatusColumnData {
    width: 22%;
}

/*
    Definitions for Order List Table
 */
.olActionColumnHeader{
    width: 7%;
}
.olOrderNoColumnHeader{
    width: 12%;
}
.olOrderPONumberColumnHeader{
    width: 13%;
}
.olModifytsColumnHeader{
    width: 11%;
}
.olOrderDateColumnHeader{
    width: 11%;
}
.olOrderAmountColumnHeader{
    width: 10%;
}
.olOrderStatusColumnHeader{
    width: 10%;
}
.olOrderPaymentStatusColumnHeader{
    width: 10%;
}
.olOwnerNameColumnHeader{
    width: 16%;
}



.olActionColumnData{
    width: 5%;
}
.olOrderNoColumnData{
    width: 16%;
}
.olOrderPONumberColumnData{
    width: 11%;
}
.modifytsColumnData{
    width: 11%;
}
.olOrderDateColumnData{
    width: 11%;
}
.olOrderAmountColumnData{
    width: 10%;
}
.olOrderStatusColumnData{
    width: 10%;
}
.olOrderPaymentStatusColumnData{
    width: 10%;
}
.olOwnerNameColumnData{
    width: 16%;
}
.heldOrderIconLayout{
    padding-left:20px;
    float:left;
}
.orderListOrderNoLink{
    line-height:20px;
    float:left;
}

