/*EB-1130--------NEW STYLES 2014-------*/

.error-center { 
	background-color: #F9E5E6; 
	border: 1px solid #B50007; 
	color: #B50007; 
	display: inline-block; 
	line-height: 15px; 
	margin-top: 6px; 
	padding-left: 5px; 
	padding-right: 5px; 
	width: auto; 
}

.ui-addTrPad table tr td {
	padding-bottom: 4px;
}
.legend {
	width: 360px;
	padding: 0px 0px 5px 0px;
	height: 20px;
	margin-top: -10px;
}
.personal {
	float: right;
	clear: none;
	width: 65px;
	background: url(../../images/mil/20x20_personal_list.png) no-repeat left top;
	padding-left: 21px;
	padding-top: 3px;
	height: 22px;
}
.shared {
	float: right;
	clear: none;
	width: 55px;
	background: url(../../images/theme/theme-1/20x20_shared_list.png) no-repeat top left;
	padding-left: 21px;
	padding-top: 3px;
	height: 22px;	
}	

.ui-addTrPad h2 {
	border-bottom: none;
}

.ui-addTrPad-head{
	font-size: 16px;
	padding-bottom:8px;
}

.button-container {
	width: 600px;
	float: right;
	clear: none;
	text-align: right;
	padding-bottom: 8px;
}

/*--------------basic layout adjustments-------------*/
.addpadbottom20 {
	padding-bottom: 20px;	
}
.addpadleft5 {
	padding-left: 5px;
}
.addpadtop20{
	padding-top: 20px;
}
.addpadleft20{
	padding-left: 20px;
}
.addpadright20{
	padding-right: 20px;
}
.addpad3 {
	padding: 3px;
}
.addpadtop5 {
	padding-top: 5px;
}
.addpadtop10 {
	padding-top: 10px;
}
.addpadtop15 {
	padding-top: 15px;
}
.addpadtop2 {
	padding-top: 2px;
}
.addpadright5 {
	padding-right: 5px;
}
.addpad20 {
	padding: 20px;
}

.marginleft10 {
	margin-left: 10px;
}
.addmargintop-10 {
	margin-top: -10px;
}

.addmargintop-20 {
	margin-top: -20px;
}

.indent20px {
	padding-left: 20px;
}
.boldtype {
	font-weight: 600;
}
.lesspadbottom10 {
	margin-bottom: -10px;
}
.lesspadtop10 {
	margin-top: -10px;
}
.lesspadtop3 {
	margin-top: -3px;
}
.addmarginright10 {
	margin-right: 10px;
}
.addmarginleft10 {
	margin-left: 10px;
}
.addmarginleft40 {
	margin-left: 40px;
}
.addmarginleft0 {
	margin-left: 0px;
}
.addmarginright5 {
	margin-right: 5px;
}
.addmarginright-3 {
	margin-right: -3px;
}
.addmarginbottom10 {
	margin-bottom: 10px;
}
.addmargintop10 {
	margin-top: 10px;
}
.addmargintop20 {
	margin-top: 20px;
}
.addmarginright30 {
	margin-right: 30px;
}
.addmarginright20 {
	margin-right: 20px;
}
.addmarginbottom15 {
    margin: 0 0 15px;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.addmarginleft130 {
	margin-left: 130px;
}

.addmarginleft145 {
	margin-left: 145px;
}
.addmarginright50 {
	margin-right: 50px;
}

.addpadright10{
	padding-right:10px;
}
/*---------------*/
.form input.btn-gradient.floatright{
	display: inline;
	float: right;
	cursor: pointer;
}

.form input.btn-gradient.floatright.addmarginleft10{
	display: inline;
	float: right;
	cursor: pointer;
	margin-left: 10px;
}
.form input.btn-neutral.floatright.addmarginleft10{
	display: inline;
	float: right;
	cursor: pointer;
	margin-left: 10px;
}


.prod-config .button-wrap {
	width: 100%;
	padding: 10px 0px 0px 0px;
}
.prod-config .pa-link {
	right: 0px;
	float: left;
}
.addmarginleft5 {
	margin-left: 5px;
}
				
/*------------Reset Password---------------*/
.reset-wrap {
	width: 800px;
	padding: 20px;
	margin-left: 20px;
	background-color: #f1f2f3;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius-topright: 10px;
}
.reset-wrap h3 {
	font-size: 13px;
	padding-bottom: 18px;
}
.reset-left-col	{
	width: 500px;
	float: left;
	clear: none;
}
.reset-label {
	margin-bottom: 6px;
	display: block;
}
.reset-label span {
	width: 250px;
	text-align:right;
	float: left;
	padding: 2px 2px 0px 0px;	
	margin-right: 10px;
}
.reset-input {
	width: 202px;
}
.password-policy {
	width: 240px;
	float: right;
	clear: none;
	border-left: #dadada 1px solid;
	padding-left: 26px;
}
.password-policy h4 {
	padding-bottom: 5px;
}
.password-policy ul{
	line-height: 18px;
}
.password-policy ul li{
	list-style: disc;
	margin-left: 12px;
}	
.clearfix {
	clear: both;
}
.reset-questions {
	display: block;
	clear: both;
	padding-top: 20px;
	color: #555555;
	font-style:italic;
}	
	 
/*--------------Quick Scroll Up and Down----------- */  
.nav_up {
	padding: 7px;
	position: fixed;
	background: transparent url(../../images/arrow-up.png) no-repeat top left;
	width: 32px;
	height: 33px;
	bottom: 45px;
	opacity: 0.7;
	right: 0px;
	white-space: nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.nav_down {
	padding: 7px;
	position: fixed;
	background: transparent url(../../images/arrow-down.png) no-repeat top left;
	width: 32px;
	height: 33px;
	bottom: 10px;
	opacity: 0.7;
	right: 0px;
	white-space: nowrap;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#scroll-up-down {
	display: block;
}
@media only screen and (max-width: 1115px) {
	#scroll-up-down {
		display: none;
	}
}


.commonHeader {
	background: url(../../images/998x107_xpedx-veritiv.png) no-repeat scroll 0 0 transparent;
	height: 115px;
}
.addmarginleft20 {
	margin-left: 20px;
}

/*--------------catalog brands page-------------*/
.alphabet {
	width: 94%;
	height: 40px; 
	padding: 15px 0px 0px 0px;
}

.alpha-list h2 {
	display: block;
	margin: 0px 10px;
	width: 40px;
	float:left;
	clear: none;

}
.brand-wrap {
	width: 100%
}
.brand-wrap .col-1 {
	display: block;
	float: left;
	clear: none;
	width: 21%;
	margin-left: 5px;
	margin-bottom: 10px;
	min-height: 20px;
}
.brand-wrap .col-2 {
	float: left;
	clear: none;
	width: 21%;
	margin-left: 15px;
	margin-bottom: 10px;
	min-height: 20px;
}
.brand-wrap .col-3 {
	float: left;
	clear: none;
	width: 21%;
	margin-left: 15px;
	margin-bottom: 10px;
	min-height: 20px;
}
.brand-wrap .col-4 {
	float: left;
	clear: none;
	width: 21%;
	min-height: 20px;
	margin-left: 15px;
	margin-bottom: 10px;
}
.page-title span {
	font-weight: normal;
}
.brand-wrap li {
	padding: 2px 0px;
}
.brand-wrap li a:hover {
	text-decoration: underline;
}
.alpha-letter :hover {
	text-decoration: underline;
}

/**********Change Password***************/
.change-pw-wrap {
	width: 100%;
	height: 120%;
	padding: 20px;
	background-color: #f1f2f3;
}
.change-pw-wrap h1 {
	font-size: 16px;
	padding: 10px 0px 20px 0px;
	}
.change-pw-wrap h3 {
	font-size: 13px;
	padding-bottom: 18px;
}
.change-pw-form {
	width: 470px;
	float: left;
	clear: none;
}
.change-pw-form label {
	display: block;
}
.change-pw-form label span {
	width: 210px;
	text-align: right;
	float: left;
	padding: 2px 2px 0px 0px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.change-pw-form label input {
	width: 222px;
	margin-bottom: 10px;
}
.change-pw-wrap .password-policy {
	width: 230px;
	float: right;
	clear: none;
	border-left: #dadada 1px solid;
	padding-left: 20px;
}
.change-pw-wrap .reset-questions {
	display: block;
	clear: both;
	padding-top: 40px;
	color: #555555;
	font-style: italic;
}

/* Price and Availability */
.ready-not-available-color {
	color: #FF0000;
}
.ready-immediate-color {
	color: #008000;
}
.ready-next-day-color {
	color: #008000;
}
.ready-two-day-color {
	color: #FF0000;
}
.ready-partial-available-color {
	color: #FF0000;
}
.suspended-item{
	color: #FF0000;
	text-align: left;
	padding: 0 0 3px 10px;
	font-weight: normal;
}
.suspended-item-pa{
	padding: 0 0 3px 32px;
}
.pa-price-tbd-color {
	font-weight: bold;
	color: #FF0000;
}
.pa-wrap {
	display: block;
	width: 100%;
	clear: both;
	overflow: hidden;
}
.pa-wrap h4 {
	display: block;
	background: #e1e1e1;
	border-right: #ffffff 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	padding: 3px 0px 3px 5px;
}
.pa-wrap h4.pa-last {
	border-right: none;
}
.pa-wrap .two-col {
	overflow: hidden;
}
.pa-wrap .three-col {
	overflow: hidden;
}
.one-col .pa-avail {
	width: 100%;
	float: left;
	clear: none;
}
.two-col .pa-avail {
	width: 60%;
	float: left;
	clear: none;
	border-right: #e1e1e1 1px solid;
	padding-bottom: 500px;
	margin-bottom: -500px;
}
.two-col .pa-bracket {
	width: 39.75%;
	float: left;
	clear: none;
	padding-bottom: 500px;
	margin-bottom: -500px;
}
.two-col .pa-price {
	width: 39.75%;
	float: left;
	clear: none;
	padding-bottom: 500px;
	margin-bottom: -500px;
}
.three-col .pa-avail {
	width: 33%;
	float: left;
	clear: none;
	border-right: #e1e1e1 1px solid;
	padding-bottom: 500px;
	margin-bottom: -500px;
}
.three-col .pa-bracket {
	width: 33%;
	float: left;
	clear: none;
	border-right: #e1e1e1 1px solid;
	padding-bottom: 500px;
	margin-bottom: -500px;
}
.three-col .pa-price {
	width: 33.55%;
	float: left;
	clear: none;
	padding-bottom: 500px;
	margin-bottom: -500px;
}
.avail-wrap {
	width: 98%;
	padding: 5px;
}
.bracket-wrap {
	width: 98%;
	padding: 1%;
}
.price-wrap {
	line-height: 18px;
	width: 98%;
	padding: 1%;
}
.pa-row {
	display: block;
	clear: both;
	width: 98%;
	padding: 0 0 3px 5px;
}
.pa-status {
	font-size: 13px;
	font-weight: bold;
}
.pa-location {
	font-style: italic;
	padding-top: 7px;
}
.extended {
	padding-top: 7px;
}
.avail-wrap .pa-row .col-1 {
	min-width: 90px;
	float: left;
	clear: none;
}
.avail-wrap .pa-row .col-2 {
	min-width: 40px;
	float: left;
	clear: none;
	text-align: right;
}
.avail-wrap .pa-row .col-3 {
	float: left;
	clear: none;
	padding-left: 5px;
}
.bracket-wrap .pa-row .col-1 {
	min-width: 60px;
	float: left;
	clear: none;
	text-align: right;
	padding-right: 2px;
}
.bracket-wrap .pa-row .col-2 {
	float: left;
	clear: none;
}
.price-wrap .pa-row .col-1 {
	width: 98px;
	float: left;
	clear: none;
	text-align: right;
	padding-right: 4px;
}
.price-wrap .pa-row .col-2 {
	float: left;
	clear: none;
}


/*--------------Catalog narrow-by column----------- */  
.container {
	background-color: #FFFFFF;
	clear: both;
	min-height: 675px;
	overflow: hidden;
	padding: 0 0 0 0px;
	width: 1000px;
}
/* from brands page, needs to be below .container or lose left margin there  */
.container-pad {
	padding: 20px 25px;
}
div.catalog-search-container {
	background-color: #ECECEC;
	height: 30px;
	padding-left: 0px;
	width: 165px;
}
div.catalog-search-container input#search_searchTerm {
	background: #ffffff url(../../images/icons/narrowby-magnify.jpg) no-repeat 2px 2px;
	border: 1px solid #D9D9D9;
	border-radius: 0 0 0 0;
	color: #000000;
	font-size: 12px;
	height: 20px;
	margin: 4px 0 0 4px;
	padding: 0 0 0 18px;
	width: 138px;
}
.searchbox-form1 {
	height: auto;
}
.bgleftcol {
	width: 165px;
}
#left-col {;
	float: left;
	width: 165px;
}
.subPanelBox {
	background: #f1f1f1;
}
.subPanelBox .header {
	background: #d2d2d2;
	border-top: 1px #ffffff solid;
	color: #333333;
	font-weight: bold;
	height: auto;
	padding: 0 10px;
	line-height: 22px;
	margin-bottom: 2px;
}
.subPanelBox .content {
	border: none;
	padding: 0;
	margin: 0;
}
.browseBox ul li a {
	color: #1062d1;
	font-size: 12px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	text-decoration: none;
}
.browseBox ul li span {
	color: #4B4B4B;
	float: right;
	font-weight: normal;
	line-height: inherit;
	margin: 0;
	padding: 0;
	margin-right: -16px;
	font-size: 11px;
}
.subPanelBox {
	border: 0 solid #DDDDDD;
	margin-bottom: 0px;
	overflow: hidden;
}
.narrowbyattributes {
	overflow: hidden;
	margin-top: 6px;
	height: auto;
}
.narrowbyattributes ul li {
	clear: both;
	font-size: 11px;
	font-weight: normal;
	padding: 3px 6px 3px 10px;
	width: 130px;
}
#narrowByDiv_Brand {
	overflow: hidden;
}
.narrowByViewAllLink {
	clear: both;
	display: block;
	margin-right: 10px;
	padding: 2px 0;
	text-align: right;
	width: 90%;
}

.pagination {
    background-color: #ececec;
    background-image: none;
    font-weight: bold;
    height: 30px;
	position: relative;
}
.sortbycontrols {
    min-width: 320px;
	position: absolute;
	left: 10px;
	top: 2px;	
}
.pageresults {
    margin-top: -7px;
}
.content-container {
    background-color: #FFFFFF;
    clear: both;
    min-height: 675px;
	width: 950px;
    padding: 20px 25px;

}

.input-watermark {  
    background: url("magnify.jpg") no-repeat scroll 2px 2px #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    color: #000000;
    font-size: 12px;
    height: 18px;
    margin: 4px 0 0 4px;
    padding: 2px 0 0 18px;
    width: 160px;
}
.input-watermark-color {
	color: #a8a8a8 !important;
}
/*--------------new ship-to changes----------- */
.content-container h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #3577d1;
	font-weight: normal;
	margin: 0 0 16px 0;
	}
.container h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	padding-bottom: 6px;
	}
.ship-current-wrap, .ship-preferred-wrap {
	width: 280px;
	float: left;
	clear: none;
	padding-right: 10px;
	line-height: 16px;
	}
.preferred-select {
	margin: 6px 0 0 0;
	}
.preferred-select input {
	float: left;
	clear: none;
	}
.preferred-select div {
	font-size: 12px;
	color: #666666;
	margin-top: 8px;
	float: left;
	clear: none;
	}
.ship-search-wrap {
	padding: 0;
	}
.ship-search-wrap span {
	margin: 4px 0 0 40px;
	line-height: 22px;
	}
.ship-search-wrap span.resetlink {
	margin: 4px 0 0 20px;
	line-height: 27px;
	cursor:pointer;
}
.ship-search-wrap span a {
	color: #e16901;
	}
.ship-search-wrap span a:hover {
	text-decoration: underline;
	}
.ship-search-wrap h3 {
	clear: both;
	padding: 20px 0 10px 0 ;
	}
.ship-search-wrap ul li {
	padding: 0 0 6px 0;
	}
.ship-search-wrap ul li input[type="radio"] {
	vertical-align: bottom;
	}
.ship-search-wrap ul li a {
	vertical-align: bottom;
	}
.divider-line {
	border: none;
	border-bottom: 1px #cccccc solid;
	height: 1px;
	margin-bottom: 10px;
	}
#list {
    clear: both;
    margin-top: 15px;
}
.filterinput {
	background: url(../../images/icons/magnify.jpg) no-repeat scroll 2px 3px #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 0;
	color: #000000;
	font-size: 12px;
	height: 20px;
	padding: 2px 0 0 18px;
	width: 138px;
}
#header input {
	float: left;
	width: auto;
	clear: none;
}
.ship-to-unassigned {
	margin:0px;
	padding:20px;
	text-align:left;
	color:#000000;
}
.ship-to-unassigned p{
	padding-bottom:10px;
}
.ship-container h2 {
    font-size: 16px;
    padding: 10px 0 20px;
}
.ship-search-input-wrap {
	width:300px;
	float:left;
	clear:none;
	padding-bottom:15px;
}
.ship-modal-button-wrap {
	float:right;
	clear:none;
	width:auto;
	margin-right:20px;
}
.ship-button-wrap{
	float:right;
	clear:both;
	margin-top: 10px;
}
div#fancybox-content .ship-button-wrap {
	float:right;
	clear:none;
	width:auto;
	margin-right:20px;
}
div#fancybox-content .error, div#fancybox-content .notice {
	margin-right:20px;
}


.searchbox-1 input {
	height: 20px;
	padding-top: 1px;
	width: 253px;
	position: absolute;
	top: 0;
	left: 0;
	color: #000000;
}
#tips-container {
	width: 75px;
	margin-top: 25px;
	margin-left: 210px;
	color: #0CF;
	font-family: Verdana, Geneva, sans-serif;
	padding-top: 4px;
}
#tips-container a {
	color: #7cb3ff;
	font-size: 11px;
}
#home-image-rotation-nav a.activeSlide  {
	background: #a8c1e9;
	height: 10px;
	width: 10px;
	border-radius: 5px;}
#home-image-rotation-nav-inner a {
    background: #ffffff;
    display: inline-block;
    font-size: 0;
    height: 10px;
	width: 10px;
    border-radius: 5px;
    margin: 3px;
}

.pnaOrderMultipleMessage {
	display: inline;
	margin-right: 5px;
	font-weight: normal;
	float: right;
}
.detail-view .pnaOrderMultipleMessage {
	margin-right: 18px;
}

#printButton {
	cursor: pointer;
}

.print-adjust{
	width:auto;
	margin-top:-35px;	
}
/*-------Processing Icon---------*/
.loading-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.load-modal {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-top: 20%;
	background: rgba(0, 0, 0, 0.8);
	display: block;
	opacity: .8;
}

.content-container h1 span {
	color: #000000;
	font-size:14px;
}

.relative {
	position: relative;
}
.hide-item-thumbnails .mil-wrap-condensed-container .core-item {
	display: none;
}
.center{
	width: 100%;
	text-align: center;
}

#main {
	min-height: 665px;
}

/*-------------- Quick Add ----------- */
.qa-add-wrap {
	width: 870px;
	padding: 10px 0px 10px 88px;
}
.qa-add-wrap h3 {
	margin-left: 12px;
	margin-top: 40px;
}
.qa-copy-wrap {
	width: 870px;
	padding: 0px 0px 10px 100px;
}
.qa-button-wrap {
	width: 617px;
	clear: both;
}
.qa-button-wrap-copy {
	width: 338px;
	clear: both;
}
.qa-error-icon {
	width: 15px;
	float: left;
	clear: none;
	margin-top: 6px;
}
.qa-add-wrap .qa-button-wrap-alt {
	width: 617px;
	clear: both;
}
.qa-divider {
	border-bottom: #cdcdcd 1px solid;
	width: 720px;
	height: 1px;
	margin-top: 20px;
}
.qa-add-divider {
	border-bottom: #cdcdcd 1px solid;
	width: 720px;
	height: 1px;
	margin: 20px 0px 20px 15px;
}
.qa-divider-alt {
	border-bottom: #cdcdcd 1px solid;
	width: 500px;
	height: 1px;
	margin-top: 20px;
}

.qa-subhead {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 20px;
}
#mil-qa-content .qa-subhead {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 6px;
}
.qa-subhead span {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
	padding-left: 4px;
}
.addmarginbottom15 {
	margin: 0px 0px 15px 0px;
}
.qa-rightcol {
	float: left;
	width: 100px;
}
.qa-rightcol p {
	margin: 2px 0px 0px 0px;
}
.qa-rightcol span {
	margin: 2px 10px 0px 0px;
}
.auto-width {
	width: auto;
}
.hidden {
	display: none;
}
.qa-copywrap {
	float: left;
	clear: none;
}
.qa-copypaste {
	width: 400px;
}
.qa-copypaste textarea {
	width: 400px;
	clear: both;
}
.qa-itemlimit {
	font-size: 12px;
	color: #666666;
	font-style: italic;
}
.qa-itemlimit-list {
	font-size: 12px;
	color: #666666;
	font-style: italic;
	clear: left;
	float: left;
	padding: 6px 0px 0px 15px;
}
.qa-listheader {
	margin-left: 15px;
}
.qa-listrow, .qa-listheader {
	clear: both;
	padding-top: 5px;
}
.inputfloat {
	display: inline;
	float: left;
	clear: none;
	padding: 3px;
	padding-bottom: 5px;
}
.qa-listrow label, .qa-listheader label {
	float: left;
	clear: none;
	margin-right: 12px;
}
.qa-listrow label div, .qa-listheader label div {
	width: auto;
	color: #666666;
	font-size: 11px;
	margin-bottom: 4px;
}
.clearboth {
	clear: both;
}
.qa-copy-instructions {
	clear: none;
	float: left;
	padding: 10px 0px 0px 15px;
	width: 240px;
}
.qa-psmall {
	font-size: 11px;
	color: #666666;
	font-style: italic;
}
.qa-plarge {
	font-size: 13px;
	color: #333333;
	line-height: 18px;
}
.addmargintop12 {
	margin-top: 12px;
}
.qa-listrow label div.error {
	color: #B50007;
	float: left;
	clear: none;
	margin: 2px 0px 0px 10px;
}
input.error {
	border: 1px solid #B50007;
	background: #FFF;
}
.addmargintop12 {
	margin-top: 12px;
}
.addmargintop17 {
	margin-top: 17px;
}
.label-item {
	clear: none;
	color: #666666;
	display: inline-block;
	float: left;
	font-size: 12px;
	margin: 0;
	padding: 0 10px 0 0;
	width: 140px;
}
.label-qty {
	clear: none;
	color: #666666;
	display: inline-block;
	float: left;
	font-size: 12px;
	margin: 0;
	padding: 0 11px 0 0;
	width: 65px;
}
.label-po {
	clear: none;
	color: #666666;
	display: inline-block;
	float: left;
	font-size: 12px;
	margin: 0;
	padding: 0 10px 0 0;
	width: 180px;
}
.label-account {
	clear: none;
	color: #666666;
	display: inline-block;
	float: left;
	font-size: 12px;
	margin: 0;
	padding: 0;
	width: 190px;
}
.inputfloat {
	clear: none;
	display: inline;
	float: left;
	padding: 3px 3px 5px;
}
.input-item {
	padding-right: 10px;
	width: 130px;
}
.input-qty {
	padding-right: 10px;
	width: 55px;
}
.input-po {
	padding-right: 10px;
	width: 170px;
}
.input-account {
	padding-right: 10px;
	width: 170px;
}
.qa-error-icon {
	clear: none;
	float: left;
	margin-top: 6px;
	width: 15px;
}
.error {
	margin-top: 4px;
}
input.addheight {
	height: 16px;
}
.new-page-title {
	color: #3577D1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 16px;
}
.list-name {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.mil-qa-plus {
	background: url("plus-minus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	clear: none;
	float: left;
	height: 16px;
	width: 16px;
}
#mil-qa-trigger {
	border-top: 1px solid #CCCCCC;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 25px;
	padding-left: 0;
	padding-top: 7px;
	text-transform: uppercase;
	width: 950px;
	margin-top: 15px;
	text-align: center;
}
#mil-qa-trigger p {
	color: #d35d00;
	cursor: pointer;
}
#mil-edit .button-container {
	clear: none;
	float: right;
	margin-top: -10px;
	padding-bottom: 20px;
	text-align: right;
	width: 600px;
}
#mil-edit .button-container-lower {
	clear: none;
	float: right;
	padding-bottom: 20px;
	text-align: right;
	width: 600px;
}
#mil-edit .button-container-bottom {
	clear: none;
	float: right;
	padding-bottom: 20px;
	text-align: right;
	width: 600px;
}
.mil-only.mil-wrap-condensed-container.last {
	border-radius: 0;
}
h3 {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 6px;
}
.mil-pa-select-item {
	width: 235px;
}
#mil-qa-content {
	padding: 0px 10px 30px 10px;
	border-bottom: 1px #ccc solid;
}

.mil-qa-list-po {
	display: block;
	vertical-align: top;
	height: auto;
	width: auto;
}
.mil-add-item-wrap .mil-qa-list-wrap {
	display: inline-block;
	vertical-align: top;
	height: auto;
	width: 530px;
}
.mil-qa-list-po .mil-qa-button-wrap {
	width: auto;
	clear: both;
	padding: 10px 0 0 400px;
}
.mil-qa-list-wrap .mil-qa-button-wrap {
	clear: both;
	padding: 10px 0px 0px 220px;
	width: 500px;
}
.mil-qa-list-po .qa-button-wrap {
	width: 338px;
	clear: both;
	padding: 10px 0 0 0px;
}
.mil-qa-list-wrap .qa-button-wrap {
	width: auto;
	clear: both;
	padding: 10px 0 0 0px;
}
#copypaste-text {
	width: 330px;
}
.arrows-up {
	width: 146px;
	height: 20px;
	cursor: pointer;
	margin-left: 400px;
	background: url(../../images/mil/view-quick-add-button.png) no-repeat 0px -2px;
}
.arrows-down {
	width: 146px;
	height: 20px;
	cursor: pointer;
	margin-left: 400px;
	background: url(../../images/mil/view-quick-add-button.png) no-repeat 0px -25px;
}
.mil-qa-list-po hr.qa-horiz {
    background: #cccccc;
    border: 0 none;
    height: 1px;
	margin-top: 20px;
}
.mil-add-item-wrap hr.qa-horiz {
	display: none;
}
.mil-qa-list-wrap hr.qa-horiz {
	display: none;
}
.mil-qa-copy-instructions {
	float: right;
}
.mil-qa-list-po .mil-qa-copy-paste {
	display: inline-block;
	vertical-align: top;
	height: auto;
	padding-left: 20px;
	padding-top: 15px;
	width: 785px;
}
.mil-qa-list-wrap .mil-qa-copy-paste {
	display: inline-block;
	vertical-align: top;
	height: auto;
	padding-left: 20px;
	width: 335px;
	border-left: 1px #e5e4e4 solid;
}

.mil-qa-list-wrap .mil-add-item-wrap {
	display: inline-block;
	vertical-align: top;
	height: auto;
	width: 515px;
}

.mid-altwrap {
	margin-left: 0px;
}
.width-auto {
	width: auto;
}
.width-315 {
	width: 315px;
}
.width-214 {
	width: 214px;
}
.return-link {
	margin-bottom: 15px;
	width: 150px;	
}
.print-ico-xpedx {
    margin-right: 8px;
    margin-top: -34px;
	cursor: pointer;
}
.producterrorLine {
	float: left;
	margin-top: 2px;
}
/*-------------- end Quick Add ----------- */

/*-----modals----------*/
.ship-to-address-list {
    border: 1px solid #ccc;
    height: auto;
    overflow: auto;
}

.bill-to-address-list {
    border-bottom: 1px solid #ccc;
    height: auto;
    overflow: auto;
}

.account-list{
	 border-bottom: 1px solid #ccc;
    height: auto;
    overflow: auto;
}


#welcome-address-popup {
	background: none repeat scroll 0 0 #fafafa;
	border: 2px solid #cccccc;
	color: #000000;
	cursor: default;
	font-size: 12px;
	line-height: 16px;
	margin-top: 5px;
	padding: 5px;
	position: relative;
	text-align: left;
	z-index: 5000;
}

#welcome-address-popup a {
	color: #003399;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
}

#welcome-address-popup hr {
	height: 1px;
	border: 0;
	margin: 4px 0px;
	background: #cccccc;
}

/*-------contact-modal---------*/
.contact-modal {
	margin:0px;
	padding:20px;
	text-align:left;
	color:#000000;
}
.contact-modal p{
	padding-bottom:10px;
}
.contact-modal h2 {
    font-size: 16px;
    padding: 10px 0 20px;
}

/*-------stockcheck-modal---------*/
.stockcheck-modal {
	margin:0px;
	padding:20px;
	text-align:left;
	color:#000000;
}
.stockcheck-modal p{
	padding-bottom:10px;
}
.stockcheck-modal h2 {
    font-size: 16px;
    padding: 10px 0 20px;
}

.input-group {
	width: 320px;
	margin: 0;
	padding: 0;
}
.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 250px;
	height: 22px;
	margin-bottom: 0;
	display: inline-block;
}

.timeout {
	display: block;
	margin: 20px auto auto auto;
	width: 320px;
	padding: 18px;
	background-color: #f0f1f3;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}
.timeout div {
	margin: 0 auto;
}
.timeout p {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #000;
	text-align: center;
}
.timeout-clock {
	width: 43px;
	height: 42px;
	background: url(../../images/punchout/blue-clock.png);
}


/*---Catalog Styles Move to global-2014 for more access-----*/

.replacement-item {
	clear: none;
	color: #ff0000;
	float: right;
	font-weight: bold;
	margin: 5px 15px 0 0;
}
.non-stock-item {
	font-weight: bold;
	font-style: italic;
	color: #000000;
	text-align: right;
	clear: both;
	font-size: 12px;
	padding: 15px 10px 0 0;
}
.non-stock-item .contact{
	font-weight: normal;
	font-size: 11px;
	margin-right: 25px;
}
.non-stock-item .stock-icon {
   clear: none;
   float: right;
   margin-left: 5px;
   margin-top: 1px;
}
	
.non-stock-item-shorter {
	font-weight: bold;
	font-style: italic;
	color: #000000;
	text-align: right;
	clear: both;
	font-size: 12px;
	padding: 5px 10px 0 0;
	}
.non-stock-item-shorter .stock-icon {
	float: right;
	clear: none;
	margin-left: 5px;
	margin-top: -6px;
	}
/*---*/

.replacement-adjustment {
	height: 240px;
	width: 590px;
}

.approval-reject-adjustment {
	height: 160px;
    width: 424px;
}

.textarea-adjustment {
	width: 418px;
	overflow: hidden;
}

.approval-reject-web-adjustment {
	width: 570px;
	height: 175px;
}

.textarea-web-adjustment {
	width: 565px;
	overflow: hidden;
}

.dialogue-box-adjustment {
	width: 260px;
	height: 90px;
	overflow: auto;
}
