/* #main-navigation ul li {
  display: inline;
} */
.narrowbyattributes
{
	padding-right: 12px !important;
}
#item-box
{
	overflow: visible !important;
}
.table-header-bar-left, .table-header-bar-right
{
	background-color: #003399;
}

.ie_floatleft
{
 float:left;
}

.ie_tabsfix
{
 margin-top:9px;
 float: left; 
}                                        

#search_searchTerm
{
	padding-top: 3px;
	margin-top: -1px;
}

.mil-attr-wrap
{
	padding-bottom: 10px;
}
.xpedx-light-box span#catalog-descr
{
position:relative;
 	bottom:40px;
}
.xpedx-light-box textarea#Approve-Reject { width:382.6px; }
.checkout-left textarea#comments { width:455px; }
.email-confirm-left textarea { width:215px; }
.checkout-body .address-block input[name="attn"] { width:145px; }
/* .special-instructions-div input.special-instructions-input { margin-left: 114px !important; } */
.return-comment-div textarea { width:307.583px; }
.right-section table.full-width textarea { width: 237px; }
.email-confirm-left textarea { width: 400px; }
fieldset div.return-comment-div textarea { margin-top: 0px; }
div#replacementItemBody ul.mil-desc-attribute-list
{
height:auto;	
}

div#home-image-rotation-nav-inner { display: table-cell; }
div#catalog-image-rotation-nav-inner { display: table-cell; }
div#home-image-rotation-nav div.img-navi-right { margin-top: -17px; } 
div#catalog-image-rotation-nav div.img-navi-right { margin-top: -10px; }
div.change-shipto-error { float:right;margin-top:1px;width:100%; }


/* Begin Catalog UI review Changes */
#catalog-header-breadcrumbs .searchButton { margin-top: 3px; }
div.catalog-search-container input#search_searchTerm { margin-top:-14px; }

div.narrowbyattributes  ul li { width:100%; }
table#top-section { margin-top: 10px; }

/* #fancybox-close {
	background-image: url('fancybox.png');
} */

div.catalog-search-container input#search_searchTerm {
	height:16px;
}

div#catalog-landing fieldset {
	padding-top: 0px;
}
div#home-image-rotation-nav-inner {
	width: 683px;
	}
.userprofile div#searchtable ul {
	margin-left: 100px;
	width: 160px;
	margin-top: -18px;
}

div#catalog-landing-page #right-col-int {
	position: absolute;
	right: 0px;
	top: 135px;
}

a.orange-ui-btn {
height:22px;
}

/* fieldset.mil-col-mil-div legend {
	margin-bottom: 10px;
} */

#right-col-int.cat-landing a img {
	float: right;
	padding-right:17px;
}

.catalog .success { 
	float: right;
}
/* END Catalog UI review Changes */

input#newSearch_searchTerm {
	float: left;
}

.searchbox-1 .searchButton {
    top: 0px; /* jira 3826 */
    margin-left: 3px;
    height: 30px;
}

div div.searchbox-1 input {
	height: 15px !important;	
	margin-top: -3px !important;
	margin-right: 2px;
}

div div.searchbox-1.auth input {	
	margin-top: 1px !important;
	margin-right: 2px;
} 

.return-request div.middle-section table td.ie-fix-td {
	padding-top: 7px !important; 
}
/*For Progress Bar*/
.x-progress-wrap{border:1px solid;overflow:hidden;}
.x-progress-inner{height:18px;background:repeat-x;position:relative;}
.x-progress-bar{height:18px;float:left;width:0;background:repeat-x left center;border-top:1px solid;border-bottom:1px solid;border-right:1px solid;}
.x-progress-text{padding:1px 5px;overflow:hidden;position:absolute;left:0;text-align:center;}
.x-progress-text-back{line-height:16px;}
.ext-ie .x-progress-text-back{line-height:15px;}
.x-dlg-mask{background-color:#CCCCCC;}
.x-window-plain .x-window-mc{background-color:#E6E6E6;border:1px solid #7d7d7d;}
.x-window-plain .x-window-body{border:1px solid #7d7d7d; background-color:#E6E6E6;}
.x-window-mc{border-color:#E6E6E6;font:normal 11px Arial, Helvetica, sans-serif;background-color:#E6E6E6;}
.x-window-dlg .ext-mb-text, .x-window-dlg .x-window-header-text{font-size:12px;}
.x-window-dlg .ext-mb-textarea{font:normal 12px Arial, Helvetica, sans-serif;}
.x-window-dlg .x-msg-box-wait{background-image:url(../images/default/grid/loading.gif);}
.x-window-dlg .ext-mb-info{background-image:url(../images/default/window/icon-info.gif);}
.x-window-dlg .ext-mb-warning{background-image:url(../images/default/window/icon-warning.gif);}
.x-window-dlg .ext-mb-question{background-image:url(../images/default/window/icon-question.gif);}
.x-window-dlg .ext-mb-error{background-image:url(../images/default/window/icon-error.gif);}
body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #E6E6E6;
    border: 1px solid #7D7D7D;
}
#preloader, .preloader {
    background: url("../../images/xpedx_preloader.gif") no-repeat scroll 0 0 transparent;
    font-size: 0;
    height: 11px;
    width: 160px;
}
.x-window-dlg .preloader.ext-mb-icon {
    margin-left: -5px;
    margin-top: 25px;
    width: 160px;
}
.x-progress-inner {
    background-color: #FFFFFF;
}
.x-progress-wrap {
    border-color: #E6E6E6;
}
body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #E6E6E6;
    border: 1px solid #7D7D7D;
}
.x-window-mr {
    border: 1px solid #7D7D7D !important;
    padding-right: 0 !important;
}
.x-progress-bar {
    background-color: #7D7D7D;
    border-bottom-color: #7D7D7D;
    border-right-color: #7D7D7D;
    border-top-color: #7D7D7D;
}
.ext-el-mask {
    background-color: #333333;
}
/*End of Progress Bar CSS classes*/
