/*****************************************************************************
Global layout styles set in this document
*****************************************************************************/

body {
	margin: 0;
	padding:0;
}
img {
	display: block;
	outline:none;
	margin:0;
	padding:0;
}
form {
	margin: 0;
	padding: 0;
}
p {
	margin:0;
	padding:0;
}
h1 {
	margin:0;
	padding:0;
}
h2 {
	margin:0;
	padding:0;
}
h3 {
	margin:0;
	padding:0;
}
h4 {
	margin:0;
	padding:0;
}
h5 {
	margin:0;
	padding:0;
}
h6 {
	margin:0;
	padding:0;
}
table {
	margin:0;
	padding:0;
	border-collapse:collapse;
}
td {
	margin:0;
	padding:0;
}

hr {
	margin:0;
	padding:0;
}
blockquote {
	margin:0;
	padding:0;
}
#main {
	margin: 0 auto;
	padding:0;
	width: 998px;
	/*width: 1024px;*/
	overflow: hidden;
	position: relative;
}
.container {
	overflow: hidden;
	width: 100%;
/*
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
*/
/*
	border:1px solid #E7E9EB;
*/
	clear: both;
	/*padding: 141px 0 0;*/
	padding: 25px 0 10px 0;
}

/* make checkbox and radio buttons scale with surrounding character data */
input[type="checkbox"] {
    height: 1em;
    width: 1em;
}


input.xpedx_select_sm {
background:url("/imagebuilderwebapp/images/shape.svg_png?shape=rect&shapeRendering=geometricPrecision&width=103&height=22&curveX=6&curveY=6&fillColor=%23ccc&fillOpacityPct=80&fillGradientType=b2t&fillGradientTargetColor=%23fff&fillGradientTargetOpacityPct=%23fff&borderWidth=0&shadingStyle=%23sine") no-repeat scroll left top transparent;
border:medium none;
font-size:11px;
height:21px;
padding:3px 4px 4px;
width:55px;
}



/* template-1 master layout CSS */

.t1-header {
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.t1-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t1-main-content
{
	float:right;
	width:742px;
	margin:0;
	padding-left:20px;
	padding-right:10px;
	margin-top:14px;
}

.t1-vertical-filter 
{
	float:left;
	width:225px;
	margin:0;
	padding-left:10px;
	padding-right:5px;
	margin-top:-16px;
	margin-left:-20px; 

	
}

.t1-footer 
{
}/* template-2 master layout CSS */

.t2-header {
	width: 998px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.t2-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t2-mainContent
{
	width:998px;
	float:left;
	padding:10px 0 0 0;
	margin:0;
}

.t2-footer 
{
}/* template-3 master layout CSS */

.t3-header {
	width: 998px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.menu-items {
}

.t3-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t3-container 
{
	float:left;
	width:789px;
	margin:0;
	padding:0;
	display:inline;
}

.t3-main-content
{
	float:right;
	width:565px;
	padding:0;
	margin:0;
}

.t3-vertical-filter 
{
	float:left;
	margin-left: 10px;
	width:200px;
	padding:0;
}

.t3-offer {
	float:right;
	width:190px;
	padding:0;
	margin-right:10px;
}

.t3-footer 
{
}
.t4-header {
	width: 998px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.menu-items {
}

.t4-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t4-container
{
	width: 998px;
	padding:0;
	margin:0;
	top: 141px;
	overflow:hidden;
	background: transparent   none repeat scroll 0 0;
}

/** End CP: fixed the header the page width **/

.t4-mainContent {
	float:left;
	margin:0 0 0 0;
	background:transparent;
    padding:0 0 15px 15px;
	width:646px;
}

.t4-footer	{
}

.t4-secondary-content	{
	color:#e1e1e1;
	float:right;
	font-size:10px;
	line-height:18px;
	margin:0px 15px 0 0;
	width:275px;
}

.t4-secondary-content h4	{
	color:#FFFFFF;
	font-size:20px;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	padding: 5px 0px 0px 15px;
}

/* template-5 master layout CSS */

.t5-header {
	width: 998px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.t5-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t5-container 
{
	float:left;
	width:998px;
	display:inline;
}

.t5-main-content
{
	float:left;
	width:730px;
	padding:0;
	margin:0;
}

.t5-offer {
	float:right;
	width:244px;
	padding:0 5px 0 0;
	margin:0;
}

.t5-footer 
{
}/* template-6 master layout CSS */

.t6-header {
	width: 1024px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.t6-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t6-container 
{
	float:left;
	width:1024px;
	display:inline;
}

.t6-main-content
{
	float:right;
	width:825px;
	padding:0;
	margin:0;
}

.t6-vertical-filter 
{
	float:left;
	width:185px;
	padding:0;
	margin:0;
}
.t6-offer {
	clear:both;
	float:left;
	width:175px;
	padding:0;
	margin:15px 0 0 0;
}
.t6-footer 
{
}
/*
   Template 7 is like template 4, but with a display region between the navigate
   bar and main content.  The purpose of this layout is to permit a prominant
   full width display ad.

   +-------------------------------------------+
   | t7-header                                 |
   +-------------------------------------------+
   | t7-navigate                               |
   +-------------------------------------------+
   | t7-container                              |
   | +---------------------------------------+ |
   | | t7-display                            | |
   | +----------------+----------------------+ |
   | | t7-mainContent | t7-secondary-content | |
   | +----------------+----------------------+ |
   +-------------------------------------------+
   | t7-footer                                 |
   +-------------------------------------------+

 */
.t7-header {
	width: 998px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.menu-items {
}

.t7-navigate {
	margin:0;
	padding:0;
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t7-container
{
	width: 998px;
	padding:0;
	margin:0;
	top: 141px;
	overflow:hidden;
	background: transparent none repeat scroll 0 0;
}

/** End CP: fixed the header the page width **/

.t7-display {
  margin-left: 15px;
}

.t7-mainContent {
	float:left;
	margin:0 0 0 0;
	background:transparent;
  padding:0 0 15px 15px;
	width:646px;
}

.t7-footer	{
}

.t7-secondary-content	{
	color:#e1e1e1;
	float:right;
	font-size:10px;
	line-height:18px;
	margin:0px 15px 0 0;
	width:275px;
}

.t7-secondary-content h4	{
	color:#FFFFFF;
	font-size:20px;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	padding: 5px 0px 0px 15px;
}

.dialog-container {
  border: none;
  margin:0;
  padding: 0 10px 0 0;
  position:absolute;
  width:50%;
  padding-right: 12px;
  padding-bottom: 12px;
  visibility: hidden;
  z-index:99999;
}

.dialog-container .dialog-control {
  background-repeat:no-repeat;
  background-position:right;
  padding-right:14px;
  position:absolute;
  right:8px;
  line-height: 16px;
  top:3px;
  margin:0;
  /*width:11px;*/
  /*height:11px;*/
  cursor:pointer;
}

.dialog-container .dialog-control:hover {
  text-decoration:none;
  cursor:pointer;
}
.dialog-container .dialog-control:active {
  text-decoration:none;
}
.dialog-container .dialog-control:visited {
  text-decoration:none;
}

.dialog-container .dialog-control:link {
  text-decoration:none;
}

.dialog-container .dialog-control img {
  border:none;
  height:11px;
}

.dialog-container .dialog-body {
  width:100%;
  /*max-height:300px;*/
  /*overflow-y:scroll;*/
}

.modal-dialog-shadow {
  background-color:white;
  /*background-image: url( '../../images/common/shadow.png' );*/
  height: 100%;
  left: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  width: 100%;
  z-index: 999;
  /* do not reorder the following. Correct inheritence depends on this.*/
  -moz-opacity: 0.4;
  opacity: .40;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}

/*****************************************************************************
Tables and grids - color/style defined in theme CSS
*****************************************************************************/

.listTableContainer
{
	margin:10px;
  padding:0;
}

.listTableContainer2
{
	margin:10px;
}

.listTableHeader
{
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableHeader td
{
height:33px;
padding-left:7px;

vertical-align:top;
}

.listTableSectionHeader
{
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableSectionHeader td
{
	height: 27px;
}

.listTableHeader2
{
	padding:0px;
	margin:15px;
	width:97%;
}

.listTableHeader2 td
{
	height: 18px;
	padding:0 5px 0 5px;
}

.listTableBody
{
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableBody td
{
	padding:5px;
}
.listTableBody2
{
	padding:0px;
	margin:3px auto;
	width:95%;
}
.listTableBody2 td
{
	padding:10px;
	margin:0px;
	border:0px;
}
.listTableBody3
{
  background-color:white;
  padding:0px;
	margin:0 15px 0 15px;
	width:96%;
}

.listTableBody3 td {
	padding:5px;
}


.listTableBody4 {
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableBody4 td
{
	border: 1px solid #ccc;
	padding:5px;
	width: 25%;
}

.listTableBody4 td td
{
	padding:3px;
	border: none;
}

.offerTable1
{
	margin: 0 0 0 0;
	width:210px;
}

.offerTable1 td
{
	border: none;
}

.listTableItem td
{
	padding:10px;
}

.listSubTable
{
	padding:0px;
	margin:0px;
	width:100%;
}
.listSubTable td
{
	padding:3px;
	margin:0px;
}
.tablePad1 td
{
	padding:5px;
	margin:0px;
}

/* pad classes for table cells */

.padding-left1
{
	padding-left:5px;
}
.padding-left2
{
	padding-left:10px;
}
.padding-left3
{
	padding-left:15px;
}
.padding-left4
{
	padding-left:20px;
}
.padding-right1
{
	padding-right:5px;
}
.padding-right2
{
	padding-right:10px;
}
.padding-right3
{
	padding-right:15px;
}
.padding-right4
{
	padding-right:20px;
}
.padding-right5
{
	padding-right:50px;
}
.textAlignRight
{
	text-align:right;
}
.textAlignCenter
{
	text-align:center;
}
.textAlignLeft
{
text-align:left;
}
.padAll1 td
{
	margin:0px;
	padding: 3px 3px 3px 10px;
}
.padAll2
{
	padding: 5px 5px 5px 10px;
}
.marginTopCompare
{
	margin-top:200px;
}
/*
 * Ext Core Library Examples 3.0
 * http://extjs.com/
 * Copyright(c) 2006-2009, Ext JS, LLC.
 * 
 * The MIT License
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * 
 */

#ux-lightbox {
	position: absolute;
	left: 0;width: 100%;
	z-index: 15000;
	text-align: center;
	line-height: 0;
}
#ux-lightbox img {
	width: auto;
	height: auto;
}
#ux-lightbox a img {
	border: none;
}
#ux-lightbox-outerImageContainer {
	position: relative;
	background-color: #f3efec;
	width: 250px;
	height: 250px;
	margin: 0 auto;}
#ux-lightbox-imageContainer {
	padding: 10px;
}
#ux-lightbox-hoverNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#ux-lightbox-imageContainer > #ux-lightbox-hoverNav {
	left: 0;
}
#ux-lightbox-hoverNav a{
	outline: none;
}
#ux-lightbox-navPrev,#ux-lightbox-navNext {
	width: 49%;
	height: 100%;
	background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */
	display: block;
}
#ux-lightbox-navPrev { 
	left: 0; 
	float: left;
}
#ux-lightbox-navNext { 
	right: 0; 
	float: right;
}
#ux-lightbox-outerDataContainer {
	margin: 0 auto;
	width: 100%;
}
#ux-lightbox-data #ux-lightbox-details{ 
	width: 80%;
	float: left; 
	text-align: left; 
}
#ux-lightbox-data #ux-lightbox-caption{ 
	font-weight: bold;	
}
#ux-lightbox-data #ux-lightbox-imageNumber{ 
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}

#ux-lightbox-overlay,#ux-lightbox-shim{
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 14999;
	width: 100%;
	height: 500px;
	background-color: #000;padding: 0;margin: 0;
	filter: alpha(opacity = 50);/* IE fix, if used Ext 3.0, not required */
}
#ux-lightbox-shim {
	z-index: 89;
	background-color: transparent;
}
/************************************************************************************
 * QuickView
 ***********************************************************************************/
.quickViewLaunch
{
	margin-left: auto; 
	margin-right: auto;
	padding: 5px, 8px, 5px, 8px; 
	z-index: 100;
}

.quickViewLaunch a
{
	display: block;
	font-weight: bold;
	font-size: 1.1em;
	text-align:center;
	width:80px;
}
/* Tab 1 Layout */

.tab-1 {
  clear:both;
  padding:10px 0 0 15px;
}

.tab-1 ul {
  width:100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-1 li
{
	float: left;
	display: block;
	border-bottom-width: 0pt;
	padding-top: 0.5em;
	padding-right: 1.5em;
	padding-bottom: 0.5em;
	padding-left: 1.5em;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	min-width: 6em;
	text-align: center;
}

.tab-1 a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}


.tab-1 .selected {
  position: relative;
  top: 1px;
}

.tabContent {
  clear: both;
  margin: 0 15px 15px 15px;
  padding: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.tab-1 .hidetab {
 display:none;
}
/*****************************************************************************
Common styles defined here - segregated by layout
*****************************************************************************/
/* pad classes for all elements */
/* padding is level based */

.padding-left1
{
	padding-left:5px;
}
.padding-left2
{
	padding-left:10px;
}
.padding-left3
{
	padding-left:15px;
}
.padding-left4
{
	padding-left:20px;
}
.padding-right1
{
	padding-right:5px;
}
.padding-right2
{
	padding-right:10px;
}
.padding-right3
{
	padding-right:15px;
}
.padding-right4
{
	padding-right:20px;
}
.padding-right5
{
	padding-right:50px;
}
.padding-all1
{
	padding:5px;
}
.padding-all2
{
	padding:10px;
}
.padding-all3
{
	padding:15px;
}
.padding-all4
{
	padding:20px;
}
.padding-all5
{
	padding:25px;
}
.padding-top1
{
	padding-top:5px;
}
.padding-top2
{
	padding-top:10px;
}
.padding-top3
{
	padding-top:15px;
}
.padding-top4
{
	padding-top:20px;
}
.padding-bottom1
{
	padding-bottom:5px;
}
.padding-bottom2
{
	padding-bottom:10px;
}
.padding-bottom3
{
	padding-bottom:15px;
}
.padding-bottom4
{
	padding-bottom:20px;
}
.textAlignRight
{
	text-align:right;
}
.textAlignCenter
{
	text-align:center;
}
.textAlignLeft
{
	text-align:left;
}
/* main content area - controls header */

.mainContentHeadContainer {
	margin:0px;
	padding:0px;
	display:block;
}
.mainContentHeadTitle {
	float:left;
}
.mainContentHeadRow1 {
	margin:10px 5px 15px 0;
	padding:0px;
	height:30px;
}

.mainContentHeadRow1 ul {
	float:right;
	margin: 0;
	padding: 7px 0 16px;
}
.mainContentHeadRow1 ul li {
	display: block;
  float: left;
  padding: 0 10px 0 0;
	vertical-align:middle;
}
.mainContentHeadContainer ul li div {
	/*display: inline-block;*/
}

.mainContentHeadRow2 {
	clear: both;
	margin:0px;
	padding:0px;
	height:30px;
}
.mainContentHeadRow2Sub1 {
	float:left;
}
.mainContentHeadRow2Sub2 {
	float:right;
}
.mainContentHeadRow2 ul {
	margin: 0;
	padding: 0;;
}
.mainContentHeadRow2 ul li {
	display: inline;
	padding: 0 4px 0 4px;
	vertical-align:middle;
}
.mainContentHeadRow2 ul li img {
	display: inline;
}

/* In most cases, wrapping the struts UI tags with a div and assign class "inlineWrapper"
	to that div will allow the UI control to be displayed inline (same line) */
.inlineWrapper, .inlineWrapper div
{
	display:inline;
}

/* Decorate text with bold font-weight */
.boldText
{
	font-weight:bold;
}

/* Make the text displayed inline, used to overwrite block or no display */
.inlineText
{
	display:inline;
}

/* Define the special offers in the right hand side vertical, in pages like
   such as catalog navigation/search and item detail */
/*
.offerTable1
{
	margin: 0 0 0 0;
	width:218px;
}

.offerTable1 td
{
	border: none;
}
*/
.order-place-nav {
   text-align:right;
 }

.submitBtnBg1, .submitBtnBg2, .submitBtnBg3, .submitBtnBg4, .submitBtnCheckout {
  overflow:visible;    /* for ie 6 bug */
  /*text-transform:capitalize;*/
}
.submitBtnBg1:hover, .submitBtnBg2:hover, .submitBtnBg3:hover, .submitBtnBg4:hover
{
  text-decoration: none;
}

.submitBtnBg1 {
  padding:5px;
  border:none;
  text-decoration: none;
  background-position: center center;
  margin-right:10px;
}
.submitBtnBg2 {
  padding:5px;
  border:none;
  text-decoration: none;
  margin-right:10px;
}

.submitBtnBg3 {
  padding:5px;
  margin-right:10px;
  text-decoration: none;
  border:none;
  background-position: center center;
}

.submitBtnBg4 {
  padding:5px;
  border:none;
  margin-right:10px;
  text-decoration: none;
}

.submitBtnCheckout
{
  padding:5px;
  background-repeat: no-repeat;
  border:none;
  margin-right:10px;
  text-decoration: none;
}

 .order-place-nav .submitBtnBg2 {
   padding-left: 1em;
   padding-right: 1em;
   font-size:medium;
   font-weight: bold;
   vertical-align:middle;
 }
 .order-place-nav a.submitBtnBg1 {
   padding-left: 1em;
   padding-right: 1em;
   font-size:medium;
   font-weight: bold;
   vertical-align:middle;
 }

.order-place-nav .submitBtnCheckout {
   padding-left: 1em;
   padding-right: 1em;
   font-size:medium;
   font-weight: bold;
   vertical-align:middle;
 }
 .order-place-nav a.submitBtnCheckout {
   padding-left: 1em;
   padding-right: 1em;
   font-size:medium;
   font-weight: bold;
   vertical-align:middle;
 }

.clearBoth
{
	clear:both;
	height:0;
}

/*****************************************************************************
    Ext DateField component
*****************************************************************************/

.x-form-field-wrap img {
    display: inline;
    outline:none;
    margin:0;
    padding:0;
}
.commonFooter {
    text-align:center; /* for ie */
}

.commonFooter table {
    margin-left:auto;
    margin-right:auto;
}
.commonFooter td {
  padding: 0 .5em;
}
/*  section a - header */

.logo {
	position: absolute;
	top: 15px;
	left: 0px;
}

.logo a {
	text-indent: -9999px;
	width: 253px;
	height: 37px;
	overflow: hidden;
	display: block;
}

.header-subnav {
	margin: -72px 0 0 0; 
	padding: 0;
	float: right;
	overflow: hidden;
	display: inline;
	/*width:100%;*/
}


.header-subnav a  
{
     color:#fff; 
}


.header-subnav li {
	float: left;
	margin: 0 0 0 -2px;
	padding: 0 7px 0 7px;
}

.shopping-cart-1 {
	position:absolute;
	bottom:5px;

	/*left:770px;*/
	right: 5px;
	width:auto;
	height: 12px;
	z-index: 10;
	margin:5px 28px 5px 5px;
  text-align:right;
	white-space:nowrap;
}


.shopping-cart-1 a 
{
     color:#fff; 
}

.top-navigation	{
	background:#d1d1d1  none repeat scroll 0 0;
	float:right;
	height:50px;
	margin-right:3px;
	width:400px;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	border-style: solid;
	border-width: 2px;
}.

.expanded-mini-cart {
    float: right;
    clear: right;
    padding: 5px 0 0 24px;
    position: absolute;
    right:0;
    top: 87px;
    margin: 0px 16px 0 0;
    white-space: normal;
    width: 300px;
}

.searchbox-1
{
	/*background:transparent url(../../images/new/fon_submenu_l.png) repeat-x scroll 0 -34px;*/
	left:729px;
	position:absolute;
	top:38px;
	width:auto;
  padding-right:1.5em;
  padding-left:1.5em;
  z-index: 10;
}

.searchbox-1 .searchbox-form {
	float: left;
}

.searchbox-1 .searchbox-form .searchbox-form-bg, .searchbox-1 .searchbox-links {
	height: 28px;
	padding: 5px 5px 0 0;
	float: right;
}

.searchbox-links a { color:#fff; }

/*
* html .searchbox-1 .searchbox-form .searchbox-form-bg {
	padding-top: 4px;
	height: 29px;
}
*+html .searchbox-1 .searchbox-form .searchbox-form-bg {
	padding-top: 4px;
	height: 29px;
}
*/
.searchbox-1 .searchbox-form label {
	vertical-align: middle;
}
/*
.searchbox-1 .searchbox-form #search {
	width: 136px;
	padding: 2px;
	vertical-align: middle;
	margin: 0 2px 0 6px;
}
*/
.searchbox-1 .searchbox-form select {
	vertical-align: middle;
	width: 112px;
}

.searchbox-1 .searchbox-form .searchTermBox
{
	vertical-align:middle;
	border:0px;
	height:26px;
	margin-bottom:1px;
	background:none; 
}
	
.searchbox-1 .btn-go,
.searchbox-form-transaction-search .btn-go {
  border:none;
  padding: 2px 2px 2px 2px;
	vertical-align: middle;
	width: auto;
	margin-left: 3px;
}

.searchbox-1 .searchButton	{
	background:transparent url('/imagebuilderwebapp/HTML/Catalog-BrowsePage/search_button.gif') no-repeat scroll 0 0;
	border:0 none;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	margin-left: -8px;
}

.searchbox-form-transaction-search .btn-go {
/*
	margin-top: -2px;
*/
}

/*
.searchbox-1 .searchbox-links {
background-color:#637D96;
background-repeat:no-repeat;
border-color:#B0BECB #5A7389 #495C6D #BBC5CF;
border-style:solid;
border-width:1px;
color:#FFFFFF;
float:left;
height:18px;
margin-top:4px;
padding-top:3px;
text-align:center;
width:128px;

}
.searchbox-1 .searchbox-links a{
	color:#FFFFFF;
	font-family:Arial;
	font-size:0.9em;
	font-weight:bold;
	text-decoration: none;
}

*/

.searchbox-1 .searchbox-links {
  line-height:24px;
}

.closeButton {
  cursor:pointer;
  margin-left:auto
}

.message-1 {
	font-size: 1.0em;
}
.message-2 {
	font-size: 0.9em;
	color: #000080;
}
.message-3{
	color: #4B0082;
	text-decoration: none
}
.message-4{
	color: #0000CD;
	text-decoration: none
}

.listTableBody
{
    padding:0px;
    margin:0px;
    width:100%;
}

.listTableBody td
{
    padding:5px;
}

.listTableBody th
{
    padding:5px;
}

.listTableHeader2
{
    padding:0px;
    margin:15px;
    width:97%;
}

.listTableHeader2 td
{
    height: 18px;
    padding:0 5px 0 5px;
}

#SearchButton1 {
	background-color:#333333;
	background-repeat:no-repeat;
	border-color:#CCCCCC #000000 #000000 #CCCCCC;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	font-family:Arial;
	font-size:0.9em;
	font-weight:bold;
	width:40px;
	height:21px;
}

input, textarea, option, select	{
/*	border: 1px solid #D0D0D0;*/
}



select.xpedx_select_sm, xpedx_select_sm  {
background:url("/imagebuilderwebapp/images/shape.svg_png?shape=rect&shapeRendering=geometricPrecision&width=103&height=22&curveX=6&curveY=6&fillColor=%23ccc&fillOpacityPct=80&fillGradientType=b2t&fillGradientTargetColor=%23fff&fillGradientTargetOpacityPct=%23fff&borderWidth=0&shadingStyle=%23sine") no-repeat scroll left top transparent;
border:medium none;
font-size:11px;
height:23px;
padding:3px 4px 4px;
width:105px;

}


.searchbox-form input
{
	width: 194px;
	height: 15px;
}

.nowrap
{
    white-space:nowrap;
}
.sign-in {
	width: 275px;
  padding-bottom:15px;
  margin-bottom:15px;
}

.sign-in .content {
  text-align:right;
}

.sign-in .label-1 {
  width: auto;
}

.sign-in table {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.sign-in td {
  padding: .2em 0;
}

.sign-in h4 {
  line-height: 1.5;
  padding: 5px 0 0 15px;
}
.sign-in .sign-in-bg {
}
.sign-in .sign-in-bg-bottom {
}
.sign-in-full-page {
	font-size:10px;
	line-height:18px;
	margin:0px 15px 0 0;
	width:275px;
	margin-left: auto;
	margin-right: auto;
}


.form-sign-in {
	margin:1em 0 0 0;
}
.form-sign-in label {
}
.form-sign-in .clear {
}
.form-sign-in .input {
	width: 175px;
}
.form-sign-in a {
  font-size:1.1em;
  line-height:1.6em;
}
.form-sign-in .btn-sign-in {
}
.form-sign-in .checkbox input {
	height:15px;
	margin:2px 5px 0 0;
}
.login-submit {
  height:22px;
  margin-top:4px;
  text-align:center;
  width:100px;
}

#navigate11 li.last a span {
	padding: 7px 19px 7px 16px;
	display: block;
	/*background : transparent url('../../images/new/fon_submenu_m.png') repeat-x scroll right 0;*/
}

#navigate11 li.first a span {
	padding: 7px 19px 7px 16px;
	display: block;
	height:35px; 
	/*background : transparent url('../../images/new/fon_submenu_m.png') repeat-x scroll 0 0;*/
		
background : transparent url('/imagebuilderwebapp/HTML/Catalog-BrowsePage/bg_nav_rpt.gif') repeat-x scroll 0 0;
}

#navigate11 li.firstleft {

	display: block;
	height:35px;
	width:12px; 
	background : transparent url('/imagebuilderwebapp/HTML/Catalog-BrowsePage/left_nav.gif') repeat-x scroll 0 0;
}

#navigate11 li.firstright {

	display: block;
	height:35px;
	width:47px; 
	background : transparent url('/imagebuilderwebapp/HTML/Catalog-BrowsePage/right_nav.gif') repeat-x scroll 0 0;
}



#navigate11 li.middle a span {
	padding: 7px 9px 6px 16px; 
	display: block;
	height:35px; 
	
	
	
background : transparent url('/imagebuilderwebapp/HTML/Catalog-BrowsePage/bg_nav_rpt.gif') repeat-x scroll 0 0;

}

#navigate11 li:hover a span {
	/*background-position: 0 -34px;*/
	/*background:#293D6B none scroll 0 0;*/
	text-decoration: none;
	color:#000000;

}

#navigate11 li a span {
  cursor:pointer; color:#fff; 
}

#navigate11 li.last a:hover span {
	/*background-position: 100% -34px;*/
}

#navigate11 li.first a:hover span {
	/*background-position: 0 -34px;*/
}

#navigate11 {
	margin: 0;
	float: left;
	width: 100%;
  padding-left: 0;
  padding-right: 0;
  /*background : transparent url('../../images/new/fon_submenu_m.png') repeat-x scroll right 0;*/
}

#navigate11 ul{
list-style-type: none;
margin-left:26px;
margin-top:-35px;
}

#navigate11 li {
	float: left;
	padding: 0 0 1px;
	list-style-type: none;
  /*text-transform:capitalize;*/
}
#navigate11 li a {
	padding: 0 0px 0 0;
	display: block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.0em;
	font-weight:bold;
}
* html #navigate11 li a,
* html #navigate11 li a span {
	float: left;
	text-decoration: none;
}
*+html #navigate11 li a,
*+html #navigate11 li a span {
	float: left;
}
#navigate11 li a span {
	padding: 7px 19px 7px 16px;
	display: block;
}
#navigate11 li a.active {
	background-position: 0 -60px;
}
#navigate11 li a.active span {
	padding-right: 12px;
}
#navigate111 li:hover a span,
#navigate111 li.hover a span {
	background-color:#637D96;
	text-decoration: none;
	color:#FFFFFF;
}
#navigate11 li:hover,
#navigate11 li.hover {
	position: relative;
}
#navigate11 li:hover .drop-down,
#navigate11 li.hover .drop-down {
	display: block;
}
#navigate11 li .drop-down {
	display: none;
	position: absolute;
	z-index: 999;
	top: 35px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 166px;
	left:-19px; 
}
#navigate11 li .drop-down li {
	float: none;
	display: block;
	width: 100%;
	padding: 0;
	vertical-align: top;
}
#navigate11 li .drop-down li a {
	float: none;
	padding: 8px 0 8px 15px;
	display: block;
	width: 151px;
	/*background-color:#637D96;*/
	background-color:#d1d1d1;
	color: #000000;
	border: 1px solid #B1B1B1;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 0.9em;
}
#navigate11 li .drop-down li a:hover {
  background-color:#b1b1b1;
}
#navigate11 li .drop-down li ul.inner {
	margin: -4px 0 0;
	padding: 0 0 5px 15px;
}
#navigate11 li .drop-down li ul li a {
	padding: 7px 0 7px 15px;
	width: 126px;
}
#navigate11 li .drop-down li ul.inner {
	display: block;
}
#navigate11 li .drop-down li.close ul.inner {
	display: none;
}

/* single step checkout navigation */

#navigateSingleCheckout {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}

#navigateSingleCheckout li {
	float: left;
	padding: 0 0 1px;
}
#navigateSingleCheckout li a {
	padding: 0 4px 0 0;
	display: block;
}
* html #navigateSingleCheckout li a,
* html #navigateSingleCheckout li a span {
	float: left;
}
*+html #navigateSingleCheckout li a,
*+html #navigateSingleCheckout li a span {
	float: left;
}
#navigateSingleCheckout li span.blankArrow {
	padding: 7px 80px 7px 25px;
	display: block;
}
#navigateSingleCheckout li a span {
	padding: 7px 115px 7px 45px;
	display: block;
}
#navigateSingleCheckout li a.active {
	background-position: 0 -60px;
}
#navigateSingleCheckout li:hover a span,
#navigateSingleCheckout li.hover a span {
	background-position: 100% -60px;
}
#navigateSingleCheckout li:hover,
#navigateSingleCheckout li.hover {
	position: relative;
}

/* my account navigate */

#navigateSteps {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}

#navigateSteps li {
	float: left;
	padding: 0 0 1px;
}
#navigateSteps li a {
	padding: 0 4px 0 0;
	display: block;
}
* html #navigateSteps li a,
* html #navigateSteps li a span {
	float: left;
}
*+html #navigateSteps li a,
*+html #navigateSteps li a span {
	float: left;
}
#navigateSteps li a span {
	padding: 7px 50px 7px 50px;
	display: block;
}
#navigateSteps li a.active {
	background-position: 0 -60px;
}
#navigateSteps li:hover a span,
#navigateSteps li.hover a span {
	background-position: 100% -60px;
}
#navigateSteps li:hover,
#navigateSteps li.hover {
	position: relative;
}

/* more info navigation */

.navMoreInfo{
	display:none;
	position:absolute;
	top:31px;
	left:676px;
	width:300px;
	padding:10px;
	z-index:9;
}

.selectedHover{
color:#522E91;
text-decoration:none;
}

.showMoreInfo,.hideMoreInfo {}

/* Progress Bar styling */
.progressBar {
  display:block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.progressBar li {
  float: left;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  text-align:center;
  width: 24.95%;
}

/*****************************************
	Component: Panel
 *****************************************/
.panelBox
{
	/*background-color: #F2F2F2;*/
	padding: 10px 5px 10px 5px;
}

.subPanelBox
{
	margin-bottom:10px;
	/*border:0 solid #dddddd;*/
}

.subPanelBox .header
{
	/*color:#555555;*/
	/*background-color: #f8f8f8;*/
	/*border:0 solid #dddddd;*/
	/*font-size:18px;*/
	/*font-weight:bold;*/
	height:30px;
	text-align: left;
	display:block;
	padding:10px 0 0 10px;
	padding-left:18px; 

	line-height:22px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
}

.subPanelBox .content
{
	/*background:#FFFFFF none repeat scroll 0 0;*/
	/*border-left:0 solid #dddddd;*/
	/*border-right:0 solid #dddddd;*/
	/*border-bottom:0 solid #dddddd;*/
	/*border-top:1px solid #dddddd;*/
	padding:5px 5px 10px 5px;
	/*text-align:center; /* work around IE's bug */
}

.contextPanelBox
{
	/*background-color: #F2F2F2;*/
	padding: 10px 5px 10px 5px;
	/*border:1px solid #dddddd;*/
}

.groupPanelBox
{
	/*background:#FFFFFF none repeat scroll 0 0;*/
	padding:10px 10px 10px 10px;
}

.groupPanelBox .content
{
	/*background:#FFFFFF none repeat scroll 0 0;*/
	/*border:0 solid #dddddd;*/
	text-align:center; /* work around IE's bug */
}

.groupPanelBox .content img {
  padding: 10px;
}
/* vertical filter */

.vertical-filter h2 {
	margin: 0 1px 0 0;
}

.vertical-filter h2 span {
	display: block;
	padding: 7px 0 6px 16px;
}

.vertical-filter ul {
	margin: 0;
	padding: 2px 0 0;
}

.vertical-filter ul li ul {
	padding: 0 0 0 15px;
}

.vertical-filter ul li a {
	padding: 8px 0 7px 16px;
	display: block;
}

.vertical-filter ul li ul li {
	width: 95%;
	vertical-align: top;
}

.vertical-filter ul li ul.inner {
	display: block;
}

.vertical-filter ul li.close ul.inner {
	display: none;
}