
#itemQuickViewMain .submitBtnBg2
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-left:4px;
	padding-right:4px;
	text-align:center;
	font-size: 1.3em;
	width: 130px;
	/*min-width:7.5em;*/

	padding-bottom: 5px;

	white-space:nowrap;
}

.shippableLine .shippableIcon {
  float:left;
  padding-right: 1em;
  vertical-align:middle;
}
.shippableLine .ship {
  line-height:20pt;
}

.listTableBody5
{
	padding:0px;
	margin:0 15px 0 15px;
	margin:0;
	width:100%;
}

.listTableBody5 td {
	padding:0 5px 5px 5px;
}

.itemTitle
{
	border-bottom: 1px solid #D6D6D6;
}

.itemTitle .itemPrice{
	padding-right: 5px;
}

.headerProductName
{
	padding: 2px 2px 2px 2px;
}

.itemMainContent
{
	margin-bottom:20px;
	margin-top:15px;
}

.itemInformation	{
	width:100%;
	margin-top:10px;
}

.itemInformation .dataSheet a	{
}

.itemInformation #colLeft
{
	width: 50%;
}

.itemInformation #colRight
{
	width: 50%;
}
.itemUOM
{
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.itemUOM span
{
}

.itemOptions
{
	margin-left: 15px;
}

.itemInformation .cartUser	{
	margin-bottom:15px;
	margin-top:5px;
}

#itemImagesViwer a	{
	padding-top:10px;
	line-height:3em;
}

.groupPanelBox .addToCartGroup
{
	padding: 20px 10px 20px 10px;
	text-align:center;
}
