
/*****************************************************************************
	product list style
*****************************************************************************/


#searchBreadcrumb
{
	margin:10px;
	padding-bottom:10px;

}

.itemContentLeft
{
	width: 20%;
}

.productImg
{
	width: 100px;
	height: 100px;
}

.productImg a
{
	width: 100px;
	height: 100px;
}

.itemContentMid
{
	text-align: center;
}

.itemContentMid span
{
	vertical-align:middle;
}

.itemContentMid img
{
	display:inline;
	margin:0;
	vertical-align:middle;
}

.itemContentRight
{
	width: 15%;
}

.itemContentRight img
{
	margin:2px;
}
.breadcrumb img
{
	display:inline;
	padding-bottom:5px;
}

.listTableBody4Comp {
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableBody4Comp td
{
	border: 1px solid #ccc;
	padding:5px;
	width: 20%;
}

.listTableBody4Comp td td
{
	padding:3px;
	border: none;
}

.listTableBody4CompExcl{

	width: 100%;
	color: #FF0000;
}
.listTableBody4CompExcltd {

	text-align: left;
	width: 2%;
}
.listTableBody4CompExcltd a.deleteIcon {
  display:block;
  width:16px;
  height:16px;
}
.listTableBody4CompExcltd a.deleteIcon:hover {
  text-decoration:none;
}

.submitBtnBg2
{
	display:block;
	float:left;
	clear:left;
	min-width:6.5em;
	margin-top:2px;
	margin-right:4px;
	padding-left:4px;
	padding-right:4px;
	text-align:center;
}

/***2014-Update****/

.comparisonTable .list-wrap {
	padding-left: 40px;
}
.comparisonTable .list-wrap .pa-row .col-1 {
	width: 45%;
	display: inline-block;
}
.comparisonTable .list-wrap .pa-row .col-2 {
	width: 35%;
	display: inline-block;
}
.comparisonTable .pa-wrap h4 {
	margin-top: 6px;	
}
.comparisonTable img {
	box-shadow: 1px 1px 4px #999999;
	margin-bottom: 10px;
}
#productComparison .pa-wrap{
	 width: 80%;
}
#productComparison .two-col .pa-price {
    clear: none;
    float: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
    border: none;
}
#productComparison .two-col .pa-avail  {
    clear: none;
    float: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
    border: none;
}
#productComparison .notice{
	float:left;
}
#productComparison .suspended-item{
	padding: 6px 0px;
}
