/*****************************************************************************
Common styles defined here - segregated by layout
*****************************************************************************/
/* pad classes for all elements */
/* padding is level based */

.padding-left1
{
	padding-left:5px;
}
.padding-left2
{
	padding-left:10px;
}
.padding-left3
{
	padding-left:15px;
}
.padding-left4
{
	padding-left:20px;
}
.padding-right1
{
	padding-right:5px;
}
.padding-right2
{
	padding-right:10px;
}
.padding-right3
{
	padding-right:15px;
}
.padding-right4
{
	padding-right:20px;
}
.padding-right5
{
	padding-right:50px;
}
.padding-all1
{
	padding:5px;
}
.padding-all2
{
	padding:10px;
}
.padding-all3
{
	padding:15px;
}
.padding-all4
{
	padding:20px;
}
.padding-all5
{
	padding:25px;
}
.padding-top1
{
	padding-top:5px;
}
.padding-top2
{
	padding-top:10px;
}
.padding-top3
{
	padding-top:15px;
}
.padding-top4
{
	padding-top:20px;
}
.padding-bottom1
{
	padding-bottom:5px;
}
.padding-bottom2
{
	padding-bottom:10px;
}
.padding-bottom3
{
	padding-bottom:15px;
}
.padding-bottom4
{
	padding-bottom:20px;
}
.textAlignRight
{
	text-align:right;
}
.textAlignCenter
{
	text-align:center;
}
.textAlignLeft
{
	text-align:left;
}
/* main content area - controls header */

.mainContentHeadContainer {
	margin:0px;
	padding:0px;
	display:block;
}
.mainContentHeadTitle {
	float:left;
}
.mainContentHeadRow1 {
	margin:10px 5px 15px 0;
	padding:0px;
	height:30px;
}

.mainContentHeadRow1 ul {
	float:right;
	margin: 0;
	padding: 7px 0 16px;
}
.mainContentHeadRow1 ul li {
	display: block;
  float: left;
  padding: 0 10px 0 0;
	vertical-align:middle;
}
.mainContentHeadContainer ul li div {
	/*display: inline-block;*/
}

.mainContentHeadRow2 {
	clear: both;
	margin:0px;
	padding:0px;
	height:30px;
}
.mainContentHeadRow2Sub1 {
	float:left;
}
.mainContentHeadRow2Sub2 {
	float:right;
}
.mainContentHeadRow2 ul {
	margin: 0;
	padding: 0;;
}
.mainContentHeadRow2 ul li {
	display: inline;
	padding: 0 4px 0 4px;
	vertical-align:middle;
}
.mainContentHeadRow2 ul li img {
	display: inline;
}

/* In most cases, wrapping the struts UI tags with a div and assign class "inlineWrapper"
	to that div will allow the UI control to be displayed inline (same line) */
.inlineWrapper, .inlineWrapper div
{
	display:inline;
}

/* Decorate text with bold font-weight */
.boldText
{
	font-weight:bold;
}

/* Make the text displayed inline, used to overwrite block or no display */
.inlineText
{
	display:inline;
}

/* Define the special offers in the right hand side vertical, in pages like
   such as catalog navigation/search and item detail */
/*
.offerTable1
{
	margin: 0 0 0 0;
	width:218px;
}

.offerTable1 td
{
	border: none;
}
*/
.order-place-nav {
   text-align:right;
 }

.submitBtnBg1, .submitBtnBg2, .submitBtnBg3, .submitBtnBg4, .submitBtnCheckout {
  overflow:visible;    /* for ie 6 bug */
  /*text-transform:capitalize;*/
}
.submitBtnBg1:hover, .submitBtnBg2:hover, .submitBtnBg3:hover, .submitBtnBg4:hover
{
  text-decoration: none;
}

.submitBtnBg1 {
  padding:5px;
  border:none;
  text-decoration: none;
  background-position: center center;
  margin-right:10px;
}
.submitBtnBg2 {
  padding:5px;
  border:none;
  text-decoration: none;
  margin-right:10px;
}

.submitBtnBg3 {
  padding:5px;
  margin-right:10px;
  text-decoration: none;
  border:none;
  background-position: center center;
}

.submitBtnBg4 {
  padding:5px;
  border:none;
  margin-right:10px;
  text-decoration: none;
}

.submitBtnCheckout
{
  padding:5px;
  background-repeat: no-repeat;
  border:none;
  margin-right:10px;
  text-decoration: none;
}

 .order-place-nav .submitBtnBg2 {
   padding-left: 1em;
   padding-right: 1em;
   font-size:medium;
   font-weight: bold;
   vertical-align:middle;
 }
 .order-place-nav a.submitBtnBg1 {
   padding-left: 1em;
   padding-right: 1em;
   font-size:medium;
   font-weight: bold;
   vertical-align:middle;
 }

.order-place-nav .submitBtnCheckout {
   padding-left: 1em;
   padding-right: 1em;
   font-size:medium;
   font-weight: bold;
   vertical-align:middle;
 }
 .order-place-nav a.submitBtnCheckout {
   padding-left: 1em;
   padding-right: 1em;
   font-size:medium;
   font-weight: bold;
   vertical-align:middle;
 }

.clearBoth
{
	clear:both;
	height:0;
}
