
/*****************************************************************************
    Ext DateField component
*****************************************************************************/

.x-form-field-wrap img {
    display: inline;
    outline:none;
    margin:0;
    padding:0;
}
