/* vertical filter */

.vertical-filter h2 {
	margin: 0 1px 0 0;
}

.vertical-filter h2 span {
	display: block;
	padding: 7px 0 6px 16px;
}

.vertical-filter ul {
	margin: 0;
	padding: 2px 0 0;
}

.vertical-filter ul li ul {
	padding: 0 0 0 15px;
}

.vertical-filter ul li a {
	padding: 8px 0 7px 16px;
	display: block;
}

.vertical-filter ul li ul li {
	width: 95%;
	vertical-align: top;
}

.vertical-filter ul li ul.inner {
	display: block;
}

.vertical-filter ul li.close ul.inner {
	display: none;
}