@import url("frame.css");
/**********************************main-cart*************************************/
*.clear {
    clear: both;
    height: 0px;
}

#main-container .main-cart-container table tr:hover {
    background: none;
}
#main-container .main-cart-container {
    padding: 20px;
    width:946px;
}
#main-container  h4.sub-hdr-blue {
    color: #2970A6;
}
#main-cart-body .createdby-lastmod,
#main-cart-body .actions {
    width: inherit;
}
#main-cart-body #mil-list {
    background: none;
}
#main-cart-body #mil-list thead {
    background:url(../../../images/theme/theme-1/mil/mil-header-bg.gif) no-repeat;
    height: 26px;
}
#main-cart-body #mil-list thead tr th span{
}
#main-cart-body #mil-list thead th.no-border {
    padding-top: 0;
    padding-bottom: 0;
}
#main-cart-body #mil-list thead th.no-padding {
    padding: 0;
    text-align: center;
}
#main-cart-body #mil-list thead tr:hover {
    background: inherit;
}
#main-cart-body #mil-list thead #product-desc-col {
    width: 285px;
}
#main-cart-body #mil-list thead #quantity-col {
    width: 61px;
}
#main-cart-body #mil-list thead #uom-col {
    width: 127px;
}
#main-cart-body #mil-list thead #availability-col {
    width: 74px;
}
#main-cart-body #mil-list thead #my-price-col {
    width: 90px;
}
#main-cart-body #mil-list thead #extended-price-col {
    width: 123px;
}
#main-cart-body #mil-list thead #adjustments-col {
    width: 82px;
}
#main-cart-body #mil-list tbody tr:hover {
    background: #ebf7d2;
}
#main-cart-body #mil-list tbody td {
    vertical-align: top;
}

#main-cart-body #mil-list tbody td.no-padding {
    padding: 0;
}
#main-cart-body #mil-list tbody td a.product-desc-link {
    display: block;
    float: left;
    width: 202px;
}

#main-cart-body #mil-list tfoot {
    border-bottom: 1px solid #ccc;
    height: 3px;
}
#main-cart-body #mil-list tfoot td {
    padding: 0;
}
#main-cart-body #order-btm-left {
    width: 450px;
    float: left;
}
#main-cart-body #order-btm-right {
    width: 450px;
    float: right;
}
#main-cart-body .totals-table {
    width: 294px;
    margin-left: 128px;
}
#main-cart-body .totals-table tr,
#main-cart-body .totals-table tr td {
    border: none;
}
#main-cart-body .totals-table tr td {
    padding: 5px 0 5px 0;
}
.totals-table .totals-label {
    text-align: left;
}
.totals-table .totals-value {
    text-align: right;
}
.totals-table .grand-total .totals-label {
    font-size: 18px;
    font-weight: bold;
}
.totals-table .grand-total .totals-value {
    font-size: 18px;
    font-weight: bold;
}
#main-cart-body .mil-cart-bg {
    width: 950px;
}
#main-cart-body .mil-cart-bg .jcarousel-container {
    margin-left: 0px;
}
/***********quick add cart****************/
.form {background: none;}
.form label,
.form table{
    font-size: 10px;
}
.form ul {
padding-left:6px;
padding-right:0;
}
.form ul li {
margin-right: 17px;
}
.quick-add-form table td,
.quick-add-form table th {
    border: none;
}
.quick-add-form .form {
    padding: 0 10px;
}
.quick-add-form {
    width: 510px;
    background: url(../../images/xpexd-theme-img/quickadd-large-bg.png) no-repeat bottom;
    margin-bottom: 10px;
}
.quick-add-form-top {
    width: 510px;
    height: 5px;
    background: #fff url(../../images/xpexd-theme-img/quickadd-large-bg.png) no-repeat;
    position: absolute;
}
.quick-add-form input[type='text'] {
    width: 57px;
}
.quick-add-form select {
    width: 108px;
}
.quick-add-form .add-to-cart-btn {
    float: right;
    margin: 20px 22px 10px 0;
}
.quick-add-form input.qty-field {
    width: 35px;
}
.quick-add-form form.selector {
    margin-top: 0;
    padding-right: 0;
}
.quick-add-form th.col-header {
    background: #f5f5f5;
    border-right: 1px solid #ccc;
    height: 29px;
}
.quick-add-form th.last-col-header {
    border-right: none;
}
.quick-add-form td,
.quick-add-form th {
    overflow: hidden;
    padding-left: 10px;
    padding-top: 2px;
}
.quick-add-form th {
    height: 29px;/*minus for padding*/
}
.quick-add-form td {
    padding-bottom: 0;
}
.quick-add-form td.wing-col-item,
.quick-add-form th.del-col {
    padding-right: 0px;
}
.quick-add-form td {
    height: 43px;/*minus for padding*/
}
.quick-add-form td.col-item,
.quick-add-form th {
    padding-right: 10px;
}
.quick-add-form td.col-item {
    border-bottom: 1px solid #ccc;
}
.quick-add-form th.del-col {
    width: 3px;/*minus for padding*/
}
.quick-add-form th.type-col {
    width: 96px;/*minus for padding*/ 
}
.quick-add-form th.item-col {
    width: 65px;/*minus for padding*/
}
.quick-add-form th.qty-col {
    width: 53px;/*minus for padding*/
}
.quick-add-form th.uom-col {
    width: 99px;/*minus for padding*/
}
.quick-add-form th.job-col {
    width: 53px;/*minus for padding*/
}
.quick-add-form .quick-add-to-cart-form {
    padding: 0;
}
.quick-add-form .quick-add-to-cart-form select {
    width: 93px;
}
/**********************************main-cart 2*************************************/
.quick-add-form select {
    font-size: 10px;
}
.last {
    float: right;
}
.main-cart-container  .page-preliminary-controls {
    margin-top: -20px;
    margin-bottom: 20px;
}
.main-cart-container .page-preliminary-controls .print a {
    background: url('../../images/xpexd-theme-img/printicon.gif') no-repeat;
    padding-left:  20px;
    padding-bottom: 5px;
    color: #000;
}
.main-cart-container .breadcrumbs {
    width: 400px;
    float: left;
}
.main-cart-container .preliminary-controls {
    font-size: 10px;
    margin-bottom: 3px;
}
.main-cart-container .preliminary-controls a {
    text-decoration: underline;
}
.main-cart-container .widget-bucket-hdr .preliminary-controls {
    margin-top: 2px;
}
.main-cart-container .widget-bucket-hdr .preliminary-controls a {
    text-decoration: none;
    color: #F96D02;
}
.main-cart-container .widget-bucket-hdr {
    width:510px;
}
.main-cart-container .widget-bucket-hdr h4 {
    float: left;
    width:200px;
}
.main-cart-container .trim-side-padding {
    padding-left: 0;
    padding-right: 0;
}
#main-cart-body #mil-list {
    margin-bottom: 10px;
}
#main-cart-body #mil-list td input {
    margin-top: 0px;
}

#main-cart-body #mil-list .createdby-lastmod input {
    text-align: right;
}

#main-cart-body #mil-list .createdby-lastmod select {
    width: 110px;
    font-size: 10px;
}
#main-cart-body #selected-items-manager select{
    width: 125px;
    font-size: 10px;
}
#main-cart-body #selected-items-manager button{
    font-size: 10px;
}
#main-cart-body #selected-items-manager h6,
.main-cart-container  .blue
{
    color: #073185;
}
#main-cart-body .totals-label {
    width: 150px;
}
#main-cart-body #order-btm-right {
  width: 490px;  
}
#main-cart-body #totals {
    margin-top: 3px;
}
#main-cart-body .totals-table {
    margin-left:174px;
    font-size: 10px;
    font-weight: bold;
}
#main-cart-body .cart-actions select, #main-cart-body .cart-actions input, #main-cart-body .cart-actions button {
    font-size: 10px;
}
#main-cart-body .grand-total {
background: #F5F5F5;
}
#main-cart-body .update-price {
    margin-right: 30px;
}
#main-cart-body #cart-actions .save-btn,
#main-cart-body #cart-actions .checkout-btn {
    position: relative;
    top: 10px;
}
#main-cart-body  .totals-table .shipping-cell td{
    padding-bottom: 15px;
}
#main-cart-body  .totals-table .totals-label {
    padding-left: 8px;
}
#main-cart-body  .totals-table .totals-value {
    padding-right: 8px;
}
#main-cart-body  .totals-table .grand-total .totals-label,
#main-cart-body  .totals-table .grand-total .totals-value {
font-size:16px;
}

#main-cart-body #cart-actions {
    position: relative;
    left: -12px;
    top: 10px;
    margin-bottom: 40px;
}
#main-cart-body #mil-list .left-bevel {
    border: none;
}
#main-cart-body #mil-list .right-bevel {
    border: none;
}
#main-cart-body #mil-list tfoot {
border-bottom:none;
height:3px;
    background: url('../../images/xpexd-theme-img/bottom-tablebevel.jpg') no-repeat -2px -13px;
}
#main-cart-body #mil-list .fake-right-border {
    border: none;
    background: url('../../images/xpexd-theme-img/fake-right-border.jpg') repeat-y -3px top;
}
#main-cart-body #mil-list tfoot td {
height: 1px;
}
#main-cart-body table.totals-table tr.grand-total {
    background: url('../../images/xpexd-theme-img/total-background.jpg') no-repeat;
}
#main-cart-body .totals-table {
margin-left:175px;
width:310px;
}
#main-cart-body table.totals-table tr.grand-total td {
    height: 40px;
    vertical-align: top;
    padding-top: 10px;
}
.main-cart-container #cart-top-right-addspace {
    width: 235px;
    height: 62px;
    overflow: hidden;
    float: right;
}
.quick-add-form {
    float: left;
}
/************************catalog landing**************************/
#catalog-landing-page .catalog-breadcrumb {
	margin: 0 0 0 20px;	
}


#catalog-landing-page #catalog-landing {
	margin: 0 0 0 20px;
	width: 740px;
}

#catalog-landing-page #catalog-landing h2 {
	color: #002E74;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 5px;
}

#catalog-landing-page #catalog-landing h2 img {
	display: inline;
}

#catalog-landing-page #catalog-landing-page .cat-view-all {
	margin-right: 15px;
}

#catalog-landing-page #catalog-landing-page .cat-view-all a {
	color: #EF6B00;
}

/***** CATALOG LANDING PAGE PRODUCT VIEW SMALL PREVIEW *****/

#catalog-landing-page .catalog-landing-img {
	background: url(../../images/xpexd-theme-img/catalog-landing-product-bg-01.jpg) no-repeat top center;
	display: block;
	height: 217px;
	margin: 0 12px 0 0;
	padding: 6px 7px 7px 6px;
	width: 159px;
}

#catalog-landing-page .catalog-landing-img:hover {
	background: url(../../images/xpexd-theme-img/catalog-landing-product-bg-02.jpg) no-repeat top center;
}

#catalog-landing-page .catalog-landing-img img {
	margin: 0 0 15px 0;
}

#catalog-landing-page .catalog-landing-img p {
	color: #5A5A5A;
	font-size: 11px;
	height: 36px;
	overflow: hidden;
	padding: 0 0 0 14px;
	width: 140px;
}

#catalog-landing-page .catalog-landing-img a.product-title {
	color: #002E74;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-bottom: 3px;
	padding: 0 0 0 14px;
}
span.cat-view-all a {
 color: #EE6B03;   
}

/******************product detail*********/
#product_detail .avail-grid-header {
background:url("../../../images/catalog/one-tab-header-bg.gif") no-repeat;
}
#product_detail .avail-update-container {
    background:url("../../../images/common/one-tab-fpo-bottom.jpg") no-repeat 15px bottom;
    padding-bottom: 20px;
}
#product_detail .avail-update {
    background-image:url("../../../images/common/one-tab-fpo-top.jpg");
    margin-top: 0px;
}
#product_detail table.availgridtbl {
    position: relative;
    top: -27px;
}
#product_detail table.availgridtbl thead th {
    border: none;
    background: none;
    color: #fff;
    padding:5px;
}
#product_detail table.availgridtbl tbody td {
    border: 1px solid #ebebeb;
}
#product_detail tr td {
    width: 50%;
}
#product_detail tr.even td p,
#product_detail tr.odd td p {
padding:5px;
}
#product_detail .qty-type,
#product_detail .add-to-list {
    width: 100px;
}
#product_detail .form ul li.last {
margin-right:0px;
padding-right:0px;
}
#product_detail .right-prod-detail {
    height:300px;
}

#product_detail .prod_desc h2 {
    margin-left: 0px;
}

#product_detail .avail-update h5 {
    position: absolute;
    margin-top: 15px;
    margin-left: 23px;
}
/************************registration*****************************/
#registration a:hover {
	text-decoration: none;	
}
#registration .white {
	font-size: 11px;
}
#registration .table-header-bar {
	background-color:#00255B;
	height:32px;
}
/* CHECKOUT STYLES */
#registration .table-hdr {
	font-size: 16px;
	color: #2970A6;
	margin: 0 0 10px 0;	
	font-weight: normal;
}

#registration #x-tbl-cmmn {
	width:950px;
}

#registration #x-tbl-cmmn tr:hover {
	/*background-color: transparent;*/
	/*background: none;*/
}

#registration .shipping-options ul {
	margin-bottom: 25px;
}

#registration .shipping-options ul li:first-child {
	float: left;
	height: 20px;
	margin-right: 15px;	
}

#registration .shipping-options .date-picker {
	margin-top: 10px;	
}

#registration .table-head {
	background-color: #00255B;
	color: #FFF;	
}

#registration #mid-col-mil {
	float:none;
	height:auto;
	margin-left:20px;
	margin-top:0;
	width:950px;
}



/* Begin  MIL TABLE */

#registration .no-border {
	border:none;
	padding:8px;
	border-right: 1px solid #43628d;
	padding:8px;
}

#registration .no-border-right {
	border:none;
	padding:8px;
}
#registration .reg-no-border-right {
    border-right: none;
}
#registration .reg-no-border-left {
    border-left: none;
}
#registration .table-header-bar-left {
    width: 940px;
}
#registration td {
	padding:15px;
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
	border-top:none;
	border-bottom:none;
}

#registration .table-header-bar {
	background-color: #00255b;	
}

#registration .table-header-bar-left {
	background-image:url(../../../images/theme/theme-1/mil/items-list-bg-LEFT.gif);
	background-repeat:no-repeat;
}

#registration .table-header-bar-right {
	background-image: url(../../../images/theme/theme-1/mil/items-list-bg-RIGHT.gif);
	background-repeat: no-repeat;
	background-position: right;
}

#registration .mil-edit {
	padding-left:0;
	padding-top:0;
	width:950px;
}
#registration #table-bottom-bar {
    background:url("../../../images/global/table-bottom-bg-M.gif") repeat-x scroll 0 0 transparent;
    height:5px;
    margin:0;
    padding:0;
    width:inherit;
}

#registration #table-bottom-bar-L {
    background:url("../../../images/global/table-bottom-bg-L.gif") no-repeat scroll 0 0 transparent;
    float:left;
    height:5px;
    margin:0;
    padding:0;
    width:5px;
}

#registration #table-bottom-bar-R {
    background:url("../../../images/global/table-bottom-bg-R.gif") no-repeat scroll 0 0 transparent;
    float:right;
    height:5px;
    margin:0;
    padding:0;
    width:5px;
}

#registration #table-bottom-bar {
    margin-bottom: 425px;
}
#registration .int-breadcrumb {
margin-left:0;
}
#registration  .table-hdr {
    margin-top: 20px;
}
/* UI Buttons */
.clear {
    overflow: hidden;
    width: 100%;
}

/* Grey */
#registration a.grey-ui-btn {
    background: transparent url('../../../images/theme/theme-1/ui-buttons/grey-bg-btn-a.png') no-repeat scroll top right;
    color: #1e1e1e;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 23px;
    margin-right: 0;
    padding-right: 18px;
    text-decoration: none;
}
#registration a.grey-ui-btn span {
    background: transparent url('../../../images/theme/theme-1/ui-buttons/grey-bg-btn-span.png') no-repeat;
    display: block;
    line-height: 13px;
    padding: 5px 0 5px 18px;
}
#registration a.grey-ui-btn:active {
    background-position: bottom right;
    color: #000;
    outline: none;
}
#registration a.grey-ui-btn:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px;
}

/* Orange */
#registration a.orange-ui-btn {
    background: transparent url('../../../images/theme/theme-1/ui-buttons/orange-bg-btn-a.png') no-repeat scroll top right;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
    height: 22px;
    margin-right: 0;
    padding-right: 18px;
    text-decoration: none;
}
#registration a.orange-ui-btn span {
    background: transparent url('../../../images/theme/theme-1/ui-buttons/orange-bg-btn-span.png') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 4px 18px;
}
#registration a.orange-ui-btn:active {
    background-position: bottom right;
    color: #FFFFFF;
    outline: none;
}
#registration a.orange-ui-btn:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px;
}

/* Green */
#registration a.green-ui-btn {
    background: transparent url('../../../images/theme/theme-1/ui-buttons/orange-bg-btn-a.png') no-repeat scroll top right;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
    height: 22px;
    margin-right: 0;
    padding-right: 18px;
    text-decoration: none;
}
#registration a.green-ui-btn span {
    background: transparent url('../../../images/theme/theme-1/ui-buttons/orange-bg-btn-span.png') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 4px 18px;
}
#registration a.green-ui-btn:active {
    background-position: bottom right;
    color: #FFFFFF;
    outline: none;
}
#registration a.green-ui-btn:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px;
}
#registration .form,
#registration .form ul {
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
/**************************************tools landing*****************************************************/
#tools a:hover {
	text-decoration: none;	
}
#tools .white {
	font-size: 11px;
}
#tools .table-header-bar {
	background-color:#00255B;
	height:32px;
}
/* CHECKOUT STYLES */
#tools .table-hdr {
	font-size: 16px;
	color: #2970A6;
	margin: 0 0 10px 0;	
	font-weight: normal;
}

#tools #x-tbl-cmmn {
	width:950px;
}

#tools .table-head {
	background-color: #00255B;
	color: #FFF;	
}

#tools #mid-col-mil {
	float:none;
	height:auto;
	margin-left:20px;
	margin-top:0;
	width:950px;
}



/* Begin  MIL TABLE */

#tools .no-border {
	border:none;
	padding:8px;
	border-right: 1px solid #43628d;
	padding:8px;
}

#tools .no-border-right {
	border:none;
	padding:8px;
}
#tools .reg-no-border-right {
    border-right: none;
}
#tools .reg-no-border-left {
    border-left: none;
}
#tools .table-header-bar-left {
    width: 940px;
}
#tools td {
	padding:15px;
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
	border-top:none;
	border-bottom:none;
}

#tools .table-header-bar {
	background-color: #00255b;	
}

#tools .table-header-bar-left {
	background-image:url(../../../images/theme/theme-1/mil/items-list-bg-LEFT.gif);
	background-repeat:no-repeat;
}

#tools .table-header-bar-right {
	background-image: url(../../../images/theme/theme-1/mil/items-list-bg-RIGHT.gif);
	background-repeat: no-repeat;
	background-position: right;
}
#tools #table-bottom-bar {
    background:url("../../../images/global/table-bottom-bg-M.gif") repeat-x scroll 0 0 transparent;
    height:5px;
    margin:0;
    padding:0;
    width:inherit;
}

#tools #table-bottom-bar-L {
    background:url("../../../images/global/table-bottom-bg-L.gif") no-repeat scroll 0 0 transparent;
    float:left;
    height:5px;
    margin:0;
    padding:0;
    width:5px;
}

#tools #table-bottom-bar-R {
    background:url("../../../images/global/table-bottom-bg-R.gif") no-repeat scroll 0 0 transparent;
    float:right;
    height:5px;
    margin:0;
    padding:0;
    width:5px;
}

#tools #table-bottom-bar {
    margin-bottom: 425px;
}
#tools .int-breadcrumb {
margin-left:0;
}
#tools  .table-hdr {
    margin-top: 20px;
}
/* UI Buttons */
.clear {
    overflow: hidden;
    width: 100%;
}
/**************************services landing***************************************************************/
#services a:hover {
	text-decoration: none;	
}
#services .white {
	font-size: 11px;
}
#services .table-header-bar {
	background-color:#00255B;
	height:32px;
}
/* CHECKOUT STYLES */
#services .table-hdr {
	font-size: 16px;
	color: #2970A6;
	margin: 0 0 10px 0;	
	font-weight: normal;
}

#services #x-tbl-cmmn {
	width:inherit;
}

#services #x-tbl-cmmn tr:hover {
	/*background-color: transparent;*/
	/*background: none;*/
}

#services .table-head {
	background-color: #00255B;
	color: #FFF;	
}

#services #mid-col-mil {
	float:none;
	height:auto;
	margin-left:20px;
	margin-top:0;
	width:950px;
}



/* Begin  MIL TABLE */

#services .no-border {
	border:none;
	padding:8px;
	border-right: 1px solid #43628d;
	padding:8px;
}

#services .no-border-right {
	border:none;
	padding:8px;
}
#services .reg-no-border-right {
    border-right: none;
}
#services .reg-no-border-left {
    border-left: none;
}
#services .table-header-bar-left {
    width: 940px;
}
#services td {
	padding:15px;
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
	border-top:none;
	border-bottom:none;
}

#services .table-header-bar {
	background-color: #00255b;	
}

#services .table-header-bar-left {
	background-image:url(../../../images/theme/theme-1/mil/items-list-bg-LEFT.gif);
	background-repeat:no-repeat;
}

#services .table-header-bar-right {
	background-image: url(../../../images/theme/theme-1/mil/items-list-bg-RIGHT.gif);
	background-repeat: no-repeat;
	background-position: right;
}
#services #table-bottom-bar {
    background:url("../../../images/global/table-bottom-bg-M.gif") repeat-x scroll 0 0 transparent;
    height:5px;
    margin:0;
    padding:0;
    width:inherit;
}

#services #table-bottom-bar-L {
    background:url("../../../images/global/table-bottom-bg-L.gif") no-repeat scroll 0 0 transparent;
    float:left;
    height:5px;
    margin:0;
    padding:0;
    width:5px;
}

#services #table-bottom-bar-R {
    background:url("../../../images/global/table-bottom-bg-R.gif") no-repeat scroll 0 0 transparent;
    float:right;
    height:5px;
    margin:0;
    padding:0;
    width:5px;
}

#services #table-bottom-bar {
    margin-bottom: 20px;
}
#services .int-breadcrumb {
margin-left:0;
}
#services  .table-hdr {
    margin-top: 20px;
}
/* UI Buttons */
.clear {
    overflow: hidden;
    width: 100%;
}

/* Grey */
#services a.grey-ui-btn {
    background: transparent url('../../../images/theme/theme-1/ui-buttons/grey-bg-btn-a.png') no-repeat scroll top right;
    color: #1e1e1e;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 23px;
    margin-right: 0;
    padding-right: 18px;
    text-decoration: none;
}
#services a.grey-ui-btn span {
    background: transparent url('../../../images/theme/theme-1/ui-buttons/grey-bg-btn-span.png') no-repeat;
    display: block;
    line-height: 13px;
    padding: 5px 0 5px 18px;
}
#services a.grey-ui-btn:active {
    background-position: bottom right;
    color: #000;
    outline: none;
}
#services a.grey-ui-btn:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px;
}
#services div.span-14 {
    margin-right: 20px;
    width:579px;
}
#services .form,
#services .form ul {
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
/********************************************swc*************************************/
#swc-home h2 {
margin-left: 0;
}
#swc-home .span-16 {
    padding-left: 40px;
}
#swc-home h4 {
    color:#003366; 
}

#swc-home .span-16 p.callout-line {
    font-size: 14px;
}
#swc-home .span-16 ul {
    margin: 10px 0 20px 0;
    list-style: disc;
}
#swc-home .span-16 li {
    margin-left: 15px;
    font-size: 10px;
}
#swc-home #new-to {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
#swc-home .span-6 {
    padding-left: 60px;
}
#swc-home .span-6 .form,
#swc-home .span-6 .form ul,
#swc-home .span-6 .form ul li {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
}
#swc-home .span-6 .hii label {
    color: #ccc;
}
