/*****************************************************************************
Tables and grids - color/style defined in theme CSS
*****************************************************************************/

.listTableContainer
{
	margin:10px;
  padding:0;
}

.listTableContainer2
{
	margin:10px;
}

.listTableHeader
{
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableHeader td
{
	height: 27px;
}

.listTableSectionHeader
{
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableSectionHeader td
{
	height: 27px;
}

.listTableHeader2
{
	padding:0px;
	margin:15px;
	width:97%;
}

.listTableHeader2 td
{
	height: 18px;
	padding:0 5px 0 5px;
}

.listTableBody
{
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableBody td
{
	padding:5px;
}
.listTableBody2
{
	padding:0px;
	margin:3px auto;
	width:95%;
}
.listTableBody2 td
{
	padding:10px;
	margin:0px;
	border:0px;
}
.listTableBody3
{
  background-color:white;
  padding:0px;
	margin:0 15px 0 15px;
	width:96%;
}

.listTableBody3 td {
	padding:5px;
}


.listTableBody4 {
	padding:0px;
	margin:0px;
	width:100%;
}

.listTableBody4 td
{
	border: 1px solid #ccc;
	padding:5px;
	width: 25%;
}

.listTableBody4 td td
{
	padding:3px;
	border: none;
}

.offerTable1
{
	margin: 0 0 0 0;
	width:210px;
}

.offerTable1 td
{
	border: none;
}

.listTableItem td
{
	padding:10px;
}

.listSubTable
{
	padding:0px;
	margin:0px;
	width:100%;
}
.listSubTable td
{
	padding:3px;
	margin:0px;
}
.tablePad1 td
{
	padding:5px;
	margin:0px;
}

/* pad classes for table cells */

.padding-left1
{
	padding-left:5px;
}
.padding-left2
{
	padding-left:10px;
}
.padding-left3
{
	padding-left:15px;
}
.padding-left4
{
	padding-left:20px;
}
.padding-right1
{
	padding-right:5px;
}
.padding-right2
{
	padding-right:10px;
}
.padding-right3
{
	padding-right:15px;
}
.padding-right4
{
	padding-right:20px;
}
.padding-right5
{
	padding-right:50px;
}
.textAlignRight
{
	text-align:right;
}
.textAlignCenter
{
	text-align:center;
}
.textAlignLeft
{
text-align:left;
}
.padAll1 td
{
	margin:0px;
	padding: 3px 3px 3px 10px;
}
.padAll2
{
	padding: 5px 5px 5px 10px;
}
.marginTopCompare
{
	margin-top:200px;
}
