/* Tab 1 Layout */

.tab-1 {
  clear:both;
  padding:10px 0 0 15px;
}

.tab-1 ul {
  width:100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-1 li
{
	float: left;
	display: block;
	border-bottom-width: 0pt;
	padding-top: 0.5em;
	padding-right: 1.5em;
	padding-bottom: 0.5em;
	padding-left: 1.5em;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	min-width: 6em;
	text-align: center;
}

.tab-1 a
{
	font-family: Arial, Helvetica, sans-serif;;
	font-size: 1.2em;
	font-weight: bold;
}


.tab-1 .selected {
  position: relative;
  top: 1px;
}

.tabContent {
  clear: both;
  margin: 0 15px 15px 15px;
  padding: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.tab-1 .hidetab {
 display:none;
}
